<div id="otpValidate" class="modal-login">
  <form class="modal-content-login-modal" [formGroup]="RegistrationForm">
    @if (!otpValidating) {
      <div class="imgcontainer">
        <span (click)="loginclose()" class="close-login" title="Close Modal">&times;</span>
      </div>
    }
    <div class="col-sm-12 text-center">
      <img class="loginModelImg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/Homes247_NewBlack_Logo.png"   alt="Homes247_NewBlack_Logo"/>
      <p class="loginModelText">
        India's Favourite Property Portal
      </p>
      @if (!otpValidating) {
        <img class="loginModelImg1" height="100%" width="100%"  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/otpsection/otpNumberNameImg.svg"   alt="otpNumberNameImg">
      }
    </div>
    @if (!otpValidating) {
      <div class="pageDetailsDiv">
        <p class="container">
          Before we proceed, please provide your details:
        </p>
      </div>
    }

    @if (numberLogIn) {
      <div class="container mt-3">
        <label for="newUserName"><b>Name</b></label>
        <input class="input-loginModel" placeholder="Enter Name" type="text" formControlName="newUserName"  [(ngModel)]="user.name" id="newUserName" required/>
        <label for="emobileLogin"><b>Number</b></label>
        <input class="input-loginModel InputNumber" placeholder="Enter Number" type="number" formControlName="userNumber" [(ngModel)]="user.number" id="emobileLogin" required/>
        <button type="button"  class="btn col-sm-12 mt-3 mobileLogButton" (click)="otpBasedLogin()">Send OTP</button>
      </div>
    }

    <div class="OtpDiv">
      <form name="otpForm" novalidate>
        <div class="col-sm-12 mt-0 mb-4 text-center">
          @if (otpValidating) {
            <img class="loginModelImg2" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/otpsection/otpauth.svg"   alt="otpauth">
          }

          <h3 id="otpVerificationTxt">Enter Verification Code</h3>
          <p id="enterOtp">We've sent a code to your WhatsApp<b> +91 {{user.number}}</b>
          <a id="editNum" (click)="goback1()"> - Edit</a>
        </p>
      </div>


      <input hidden autocomplete="off" type="text" placeholder="OTP" name="otp" id="otp" [(ngModel)]="user.otp" required/>
      <ng-otp-input class="otpinput text-center" #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config">
      </ng-otp-input>
      <div class="col-12 text-center countdown_maindiv mt-3 mb-3">
        <span>Resend the OTP in <countdown #cd4 [config]="countdownconfig" (event)="handleEvent($event)"></countdown>  Seconds</span>
      </div>
      <p class="otpexpireclass text-center mt-3">
        OTP Expired - <a   id="editNum" (click)="otpBasedLogin1()">Resend</a>
      </p>
      <div class="col-sm-12 text-center mb-3">
        <button (click)="otpvalidate4()" class="btn mt-2 mobileLogButton1">Verify</button>
      </div>

      <button type="reset" id="btn_reset" style="display: none"></button>
    </form>
  </div>
</form>

</div>

@if (otploader) {
  <div class="loaderbody">
    <div class="box">
      <div class="loader-20"></div>
    </div>
  </div>
}