<div class="mainOverflow">
  <div class="bg6 ">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="floatAnimation">
          <p class="mainBannerHeading animateOnLoadFromLeft ">Get Free & Faster </p>
          <p class="mainBannerHeading2 animateOnLoadFromRight">Leads From<br>
            <img class="HomesLogo"
                 src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/logo/logo-white-orange.svg"></p>

          <button class="btn btn-primary button button-shiny" *ngIf="loginDropDownOpen" routerLink="/login"> Post Your Property Free </button>
          <button class="btn btn-primary button button-shiny" *ngIf="profileDropDownOpen" routerLink="/postproperty"> Post Your Property Free </button>

          <div class="col-sm-12 mt-1 text-center">
            <a class="guidelinesText" routerLink="/how-to-post-property-free-for-rent-sale">Guidelines to Post Property</a>
          </div>
        </div>
      
        <h3 class="finalPageSubText mt-5">Follow Us On</h3>
        <div class="row mt-5">
          <div class="col-sm-3"></div>
          <div class="col-sm-1">
            <a class="fb socialIcons" target="_blank" href="https://www.facebook.com/Homes247.in/"><i
              class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div class="col-sm-1">
            <a class="insta socialIcons" target="_blank" href="https://www.instagram.com/homes247.in"><i
              class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <div class="col-sm-1">
            <a class="twitt socialIcons" target="_blank" href="https://x.com/homes247_in"><i
              class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div class="col-sm-1">
            <a class="linked socialIcons" target="_blank" href="https://www.linkedin.com/company/homes247/"><i
              class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
          <div class="col-sm-1">
            <a class="pintrst socialIcons" target="_blank" href="https://in.pinterest.com/homes247in/"><i
              class="fa fa-pinterest" aria-hidden="true"></i></a>
          </div>
          <div class="col-sm-1">
            <a class="youtube socialIcons" target="_blank"
               href="https://www.youtube.com/channel/UCv6oEM925HtkqUi3yRNDOBQ/">
              <i class="fa fa-youtube" aria-hidden="true"></i></a>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
