<div class="section ">

    <!-- <div class="container"> -->
        <div class="col-sm-12 pt-3">
            <!-- <h2 class="finalPageTitle">That's it folks,</h2> -->
            
            <div class="row">
              <div class="col-12 text-center">
                <img style="width: 170px;" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/postPropLanding/logo ps.png" alt="..logo ps.png" >
                <!-- <div class="bg6">

                </div> -->
                <h3 class="finalPageSubText mt-2">
                  <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/postPropLanding/Highlightleft.png" alt="..Highlightleft.png"  class="highlightLeft">
                    Post property Ad to <br> sell or rent online <p style="margin-top: -30px;">for <span id="freeTxt">Free !</span></p>
                    <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/postPropLanding/Highlightright.png" alt="..Highlightright.png"  class="highlightRight">
                  </h3>
         
      
              </div>
              <img class="personLogo" style="margin-top: -120px; width: 100%;object-fit: contain;" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/personLogo.avif" alt="..personLogo.avif" >
              <div class="spotlightOverlay"></div>
              <div class="col-12 mt-3" style="display: ruby;">
                

      
                    <!-- <div class="row ml-1 mb-3"> -->
                      <div class="box1 col-5 pt-2">
                          <p id="boxTxt">Property Sold
                              <br>
                              Every <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/postPropLanding/soldBurgundi.png" alt="..soldBurgundi.png" >
                          </p>
                          <p id="minutesTxt">30 Minutes</p>
                      </div>
                      <div class="col-1"></div>
                      <div class="box1 col-5 py-2">
      
                          <p id="boxTxt">Property Rent
                              <br>
                              Every <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/postPropLanding/rentBurgundi.png" alt="..rentBurgundi.png" >
                          </p>
                          <p id="minutesTxt">10 Minutes</p>
      
                      </div>
                    <!-- </div> -->
                    <div class="col-12 mt-3 mb-3 text-center">
                        <a routerLink="/postproperty">
                            <button class="btn btn-primary finalBtn" id="Mobile_Post_landing_2">
                                Start Listing Now &nbsp;<i class="fa fa-angle-double-right"
                                                                   aria-hidden="true"></i></button>
                          </a>
                    </div>
              </div>
            </div>
          </div>
    <!-- </div> -->
  </div>