<!-- <div class="logo_div">
   <a href="/">
      <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/Homes247_NewBlack_Logo.png" alt="Homes247_NewBlack_Logo.png">
   </a>
</div>
<nav class="shelf">
   <a class="book home-page" href="/">Home page</a>
   <a class="book about-us" href="/aboutus">About us</a>
   <a class="book contact" href="/contactus">Contact</a>
   <a class="book faq" href="./blogs">Blogs</a>
   
   <span class="book not-found"></span>
  
   <span class="door left"></span>
   <span class="door right"></span>
 </nav>
 <h1>Error 410</h1>
 <p>The page you're looking for Permanently Removed</p>
  -->


  <div class="logo_div">
	<a href="/">
		<img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/Homes247_NewBlack_Logo.png" alt="Homes247_NewBlack_Logo.png">
	</a>
</div>

<section class="page_404">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<div class="col-sm-10 col-sm-offset-1  text-center">
					<div class="four_zero_four_bg">
						<h1 class="text-center ">410</h1>


					</div>

					<div class="contant_box_404">
						<h3 class="h2">
							Look like you're lost
						</h3>

						<p>The page you're looking for Permanently Removed</p>

						<a href="/" class="link_404">Go to Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>