::ng-deep .btn:focus {
  outline: 0;
  box-shadow: none !important;
}

input:focus-visible {
  outline: none !important;
}

/* img{
  object-fit: cover;
} */
i.fa.fa-search {
  display: none;
}

.fa-times.my-float {
  font-size: 20px;
  margin-top: 8px;
  color: #971b47cf;
}

  .androidAppSubTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 184px;
  }

  .installBtn {
    background-color: #080808;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Poppins';
    margin: 4px -10px !important;
  }

.btn.focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

