select.ui.selection.dropdown {
    border: 0;
}

.inner_header_search {
    width: 455px;
}

.inner_header_search {
    float: left;
    border-radius: 6px;
    margin: 8px 0 0 20px;
    display: flex;
    border: 1px solid #c5c4c4;
    position: relative;
    background: #fff;
}

.inner_header_search .location_icon {
    width: 6%;
    text-align: center;
    float: left;
    background-color: #E4E4E4;
}

.inner_header_search .location_icon img {
    margin: 9px 0 0 0;
}

.inner_header_search .search_input_box {
    width: 64%;
    height: 40px;
}

.inner_header_search .search_input_box input {
    width: 100%;
    font-size: 14px;
    padding: 9px 8px;
    color: #000;
}

.inner_header_search>.search_input_box input {
    height: auto!important;
    margin: -23px 0 0 0;
}

.search_input_box input {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    padding: 23px 20px;
    border: 0;
    height: 30px;
    /* border-radius: 0px 30px 30px 0px; */
}

.inner_header_search .search_btn {
    position: absolute;
    right: 0;
    top: 0;
}

.top_section_main2 {
    margin: 0;
    padding: 0 0 0 46px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #686868;
}

.usericon {
    color: white;
    font-size: 16px;
    top: 15px;
    position: absolute;
    right: 15px;
    font-weight: 500;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-dropdown {
    margin-top: 2.5rem;
    background: #30373a;
}

.custom-dropdown a {
    color: white;
}

.top_section_main {
    padding: 0 0 0 46px;
}

.top_row_left {
    float: left;
    margin: 0;
}

.burger_icon {
    float: left;
    margin: 8px 20px 0 0;
    width: 38px;
}


/* sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(242, 242, 242, .94);
    overflow-x: hidden;
    transition: .5s;
    box-shadow: 0 0 20px silver;
}

.nav_logo {
    background: #fff;
    position: relative;
    padding: 0 0 0 32px;
}

.nav_logo a.logo_nav {
    margin: 4px 0;
    display: inline-block;
}

.nav_logo a.logo_nav img {
    width: 67%;
}

.nav_logo .closebtn {
    margin: 19px 14px 0 0;
}

.sidenav .closebtn {
    position: absolute;
    bottom: 12px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

li.event_link_resp {
    /* background: url(/https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_2/images/events/back2.jpg);
  background-size: cover;
  background-position: -8px 57px; */
}

ul.nav_links li.event_link_resp a {
    color: rgba(151,27,71,.8117647058823529);
    font-weight: bold;
}

ul.nav_links {
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
}

ul.nav_links li {
    list-style: none;
}

ul.nav_links li a {
    font-size: 15px;
    color: #4c4c4c;
    font-weight: 400;
    display: block;
    padding: 0 0 0 30px;
    line-height: 40px;
    text-decoration: none;
}

.propclass,
a {
    cursor: pointer;
}

ul.nav_links li {
    list-style: none;
}

.more_border {
    border-top: 1px solid #ccc;
    margin: 10px 0 0;
    padding: 5px 0 0;
}

.nav_social_icon {
    margin: 0;
    padding: 5px 0 0;
    clear: both;
}

.nav_social_icon ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.nav_links li a span.blogmark {
    color: #fff;
    background: rgba(151,27,71,.8117647058823529);
    padding: 3px 12px 4px 12px;
    font-size: 11px;
    margin: 2px 5px;
    border-radius: 7px;
}

.nav_social_icon li {
    margin: 0 10px;
    padding: 0;
    display: inline-block;
}

.nav_social_icon li a {
    background: url(https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/icons-social-media.png) no-repeat;
    display: block;
}

.nav_fb {
    background-position: -7px -6px!important;
}

.nav_fb,
.nav_in,
.nav_insta,
.nav_twitter {
    height: 25px;
    width: 25px;
}

.nav_insta {
    background-position: -53px -6px!important;
}

.nav_twitter {
    background-position: -99px -6px!important;
}

.nav_in {
    background-position: -145px -6px!important;
}

.logo {
    margin: 8px -130px 8px 0px;
    /* margin: 8px 0; */
    float: left;
}

.propclass,
a {
    cursor: pointer;
}

.logo img {
    width: 50%;
}

.search_icon_resp {
    display: none;
}

.nav_fb:hover {
    background-position: -7px -40px!important;
}

.nav_insta:hover {
    background-position: -53px -40px!important;
}

.nav_twitter:hover {
    background-position: -99px -40px!important;
}

.nav_in:hover {
    background-position: -145px -40px!important;
}

ul.nav_links li {
    list-style: none;
}

ul.nav_links li a {
    font-size: 15px;
    color: #4c4c4c;
    font-weight: 400;
    display: block;
    padding: 0 0 0 30px;
    line-height: 40px;
    text-decoration: none;
}

.nav_links .drop_style {
    position: relative!important;
    transform: none!important;
    width: 100%;
    border: 0;
    box-shadow: 0;
    border-bottom: 1px solid #ccc;
    background: 0 0;
    border-radius: 0;
}

.search_icon_resp .search_btn {
    width: 30px;
    height: 30px;
    float: left;
    background: rgba(151,27,71,.8117647058823529);
    padding: 6px 6px 0;
    position: absolute;
    right: 5px;
    top: 12px;
}

.search_icon_resp .search_btn a img {
    width: 16px;
}

.top_row_right,
.top_row_right2 {
    float: right;
    margin: 0;
}

.top_row_right_phno {
    background: #080808;
    padding: 15px 6px;
    text-align: center;
    float: right;
}

.top_row_right_phno img {
    width: 25px;
    float: left;
    margin: 0 15px 0 0;
}

.top_row_right_phno p {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    float: right;
    margin: 4px 0 0;
}

.top_row_right ul,
.top_row_right2 ul {
    float: right;
    margin: 10px 0 0;
    padding: 0;
}

.top_row_right li,
.top_row_right2 li {
    /* margin: 0 25px 0 0; */
    display: inline-block;
}

.top_row_right2 li a {
    color: #fff;
}

li.refer_earn a {
    background-color: rgba(151,27,71,.8117647058823529);
    color: #ffff;
    border-radius: 4px;
    padding: 3px 12px 2px 10px!important;
}


/* end sidebar */

.top_row_right2 li a span.nri_icon {
    height: 26px;
    width: 31px;
    background-position: -33px 0!important;
}

.top_row_right2 li a span.hdr_cmn {
    background: url(https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/top_bar_icons3.png) no-repeat;
    display: inline-block;
    transition: all .5s ease;
    margin: 0 15px 0 0;
}

.top_row_right li a span.signup_icon,
.top_row_right2 li a span.signup_icon {
    height: 26px;
    width: 26px;
    background-position: -109px 0;
}

.top_row_right_phno {
    background: #080808;
    padding: 15px 6px;
    text-align: center;
    float: right;
}

.top_row_right_phno img {
    width: 25px;
    float: left;
    margin: 0 15px 0 0;
}

.top_row_right_phno p {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    float: right;
    margin: 4px 0 0;
}

.top_row_right li a span.signup_icon,
.top_row_right2 li a span.signup_icon {
    height: 26px;
    width: 26px;
    background-position: -109px 0;
}

.top_row_right li a span.nri_icon,
.top_row_right2 li a span.nri_icon {
    height: 26px;
    width: 31px;
    background-position: -33px 0!important;
}

span {
    font-weight: 600;
}

.top_row_right,
.top_row_right2 {
    float: right;
    margin: 0;
}

.top_row_right_phno {
    background: #080808;
    padding: 15px 6px;
    text-align: center;
    float: right;
}

.top_row_right_phno img {
    width: 25px;
    float: left;
    margin: 0 15px 0 0;
}

.top_row_right li.scroll_refer {
    margin-right: 50px;
    /* margin: 0 26px 0 0; */
}

li.scroll_refer a {
    background-color: #6b52ff;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 16px 0px 0!important;
    margin: 0px -30px 0 0;
}

li.scroll_refer a img {
    margin: 0 12px 0 0;
}

.top_row_right li.event_tag a {
    color: #000000;
}

li.event_tag img {
    animation: pulse 1s infinite;
    margin: -10px 0 0px 0;
}

.top_row_right li a,
.top_row_right2 li a {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    transition: all .2s ease;
}

.top_row_right li a span.signup_icon,
.top_row_right2 li a span.signup_icon {
    height: 26px;
    width: 26px;
    background-position: -109px 0;
}

.top_row_right li a span.hdr_cmn {
    background: url(https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/top_bar_icons.png) no-repeat;
    display: inline-block;
    transition: all .5s ease;
    margin: 0 15px 0 0;
}

.top_row_right li a span.signup_icon,
.top_row_right2 li a span.signup_icon {
    height: 26px;
    width: 26px;
    background-position: -109px 0;
}

.head {
    /*position: fixed;*/
    width: 100%;
    z-index: 9999;
    top: 0;
    background: #fff;
}

.hme_back {
    background: #fff;
    border-bottom: 0px solid #686868;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.48);
}

.top_section_main.hme_back {
    background: #fff;
    border-bottom: 1px solid #686868;
    /*position: absolute;*/
    width: 100%;
}

.inner_header_search .search_btn a {
    background: rgba(151,27,71,.8117647058823529);
    width: 44px;
    height: 42px;
    text-align: center;
    padding: 8px 0 0;
    display: inline-block;
    margin: -1px -1px 0 0;
    border-radius: 8px;
}

.inner_header_search .search_btn a img {
    width: 24px;
}

.top_section_main {
    display: none;
}

.mobileViewSelectDropDown .mat-form-field {
    width: 125px;
    text-align: inherit;
}

.not-empty-select.mat-selected {
    color: white !important;
}

:host /deep/ .mat-select-value-text {
    color: white !important;
}

.mat-form-field-underline {
    background-color: transparent !important;
}

.mobileViewSelectDropDown ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: transparent !important;
}

.mobileViewSelectDropDown ::ng-deep.mat-select-arrow {
    color: rgba(151,27,71,.8117647058823529)!important;
}


/*::ng-deep.mat-form-field-ripple {*/


/*  !*change color of underline when focused*!*/


/*  background-color: white !important;;*/


/*}*/

::ng-deep.cdk-overlay-container {
    position: fixed;
    z-index: 9999!important;
}


/* radha upadte css */

.log_nav_margin {
    margin: 4px 0 0 23px !important;
}

.fixed_section_main {
    display: none;
    background: #001a23;
    width: 100%;
    padding: 0 8px;
    top: 0px;
    z-index: 999;
    position: fixed;
}

.fixed_search {
    animation: animationFrames linear 0.5s;
    animation-iteration-count: 1;
}

@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fixed_search_input_box {
    width: 90% !important;
    background: white;
    padding-left: 20px;
    margin-top: -39px;
    height: 40px !important;
    margin-left: 38px;
    /* border-radius: 25px; */
}

.fixed_top_section_main {
    z-index: 99;
    display: none;
}

.fixed_search_btn {
    position: absolute;
    right: 2px !important;
    top: -39px !important;
}


/* radha upadte css */

.androidApp {
    height: 55px;
}

.androidAppTitle {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #080808;
}

.androidAppSubTitle {
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Poppins';
    color: grey;
    margin-top: 3px;
}

.androidAppIcon {
    font-size: 19px;
    margin: 10px 0 0 0;
}

.androidAppGoogleImg {
    width: 95%;
    height: 32px;
    margin-top: 4px;
}

.androidAppStar {
    color: #e56e2e;
}

.androidApp {
    height: 55px;
}

.androidAppTitle {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #080808;
}

.androidAppSubTitle {
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Poppins';
    color: grey;
    margin-top: 3px;
}

.androidAppIcon {
    font-size: 19px;
    margin: 10px 0 0 0;
}

.androidAppGoogleImg {
    width: 95%;
    height: 32px;
    margin-top: 4px;
}

.androidAppStar {
    color: #e56e2e;
}

@media (min-width: 993px) and (max-width: 1080px) {
    .inner_header_search .search_btn {
        right: 10px;
    }
    .fixed_search_input_box {
        margin-left: 86px;
    }
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        /* margin: -115px 0 0 0; */
    }
    .top_section_main {
        padding: 0 0 0 0px;
    }
    .top_row_left {
        background: #001a23;
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 14px 30px 0 15px;
    }
    /* .burger_icon img {
      width: 70px;
      height: 70px;
  } */
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        margin: 8px 0 8px 0;
        float: left;
    }
    /* .resp_logo a img {
      width: 115px;
      height: 75px;
  } */
    .resp_citydrop {
        float: left;
        margin: 8px 0 0 0;
    }
    .resp_citydrop {
        display: block;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 8px 8px 8px 8px;
        border-radius: 2px;
        padding: 6px 10px 6px 10px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 15px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
    }
    .inner_header_search {
        background: #001a23;
        width: 100%;
        margin: 0 0 0px 0;
        border: none;
        padding: 0 4px 12px 9px;
    }
    .inner_header_search {
        border-radius: 0;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box {
        width: 97%;
        background: white;
        padding-left: 0px;
    }
    .mobileViewSelectDropDown .mat-form-field {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .inner_header_search .search_btn {
        right: 10px;
    }
    .fixed_search_input_box {
        margin-left: 65px;
    }
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        /* margin: -115px 0 0 0; */
    }
    .top_section_main {
        padding: 0 0 0 0px;
    }
    .top_row_left {
        background: #001a23;
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 15px 30px 0 15px;
    }
    /* .burger_icon img {
      width: 50px;
      height: 50px;
  } */
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        text-align: left;
        margin: 8px 0 8px 0;
        float: left;
    }
    /* .resp_logo a img {
      width: 115%;
  } */
    .resp_citydrop {
        float: left;
        margin: 8px 0 0 0;
    }
    .resp_citydrop {
        display: block;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 8px 8px 8px 8px;
        border-radius: 2px;
        padding: 6px 10px 6px 10px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 15px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
    }
    .inner_header_search {
        background: #001a23;
        width: 100%;
        margin: 0 0 0px 0;
        border: none;
        padding: 0 4px 12px 9px;
    }
    .inner_header_search {
        border-radius: 0;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box {
        width: 97%;
        background: white;
        padding-left: 0px;
    }
    .mobileViewSelectDropDown .mat-form-field {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .fixed_search_input_box {
        width: 89% !important;
    }
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        /* margin: -115px 0 0 0; */
    }
    .top_section_main {
        padding: 0 0 0 0px;
    }
    .top_section_main {}
    .top_row_left {
        background: #001a23;
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 9px 12px 0 0;
    }
    .burger_icon img {
        width: 30px;
        height: 35px;
    }
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        text-align: left;
        margin: 8px 0 8px 0;
        float: left;
    }
    .resp_logo a img {
        width: 100%;
        max-width: 40px;
    }
    .resp_citydrop {
        float: left;
        margin: 8px 0 0 0;
    }
    .resp_citydrop {
        display: block;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 8px 8px 8px 8px;
        border-radius: 2px;
        padding: 6px 10px 6px 10px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 15px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
    }
    .inner_header_search {
        background: #001a23;
        width: 100%;
        margin: 0 0 0px 0;
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 0 4px 12px 9px;
    }
    .inner_header_search {
        border-radius: 0;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box {
        width: 97%;
        background: white;
        padding-left: 0px;
    }
    .inner_header_search .search_input_box input {
        width: 100%;
        font-size: 11px;
        padding: 9px 8px;
        margin: 0px;
    }
    .inner_header_search .search_btn a {
        background: rgba(151,27,71,.8117647058823529);
        width: 47px;
        height: 40px;
        text-align: center;
        padding: 8px 0 0;
        display: inline-block;
        margin: 0px 10px 0 0;
        border-radius: 4px;
    }
    .inner_header_search .search_btn a img {
        width: 20px;
    }
    .inner_header_search>.search_input_box input {
        height: auto!important;
    }
}

@media (min-width: 412px) and (max-width: 480px) {
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        background: #001a23;
        width: 100%;
        padding: 0 0px;
        top: 0px;
        margin: 0;
        /*position: fixed;*/
    }
    .top_row_left {
        background: #001a23;
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 9px 12px 0 0;
    }
    .burger_icon img {
        width: 30px;
        height: 35px;
    }
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        text-align: left;
        margin: 5px 0 0px 0;
        float: left;
    }
    .resp_logo a img {
        width: 100%;
        max-width: 40px;
    }
    .resp_citydrop {
        float: left;
        margin: 8px 0 0 0;
    }
    .resp_citydrop {
        display: block;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 8px 8px 8px 8px;
        border-radius: 2px;
        padding: 6px 10px 6px 10px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 15px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
    }
    .inner_header_search {
        background: #001a23;
        width: 100%;
        margin: 0 0 0px 0;
        border: none;
        padding: 0 9px 6px 9px;
        border-radius: 0;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box {
        width: 100%;
        background: white;
        padding-left: 0px;
    }
    .inner_header_search .search_input_box input {
        width: 100%;
        font-size: 11px;
        padding: 9px 8px;
        margin: 0px;
    }
    .inner_header_search .search_btn a {
        background: rgba(151,27,71,.8117647058823529);
        width: 47px;
        height: 40px;
        text-align: center;
        padding: 8px 0 0;
        display: inline-block;
        margin: 0px 9px 0 0;
        border-radius: 0;
    }
    .inner_header_search .search_btn a img {
        width: 20px;
    }
    .inner_header_search>.search_input_box input {
        height: auto!important;
    }
}

@media (min-width: 375px) and (max-width: 412px) {
    ul.nav_links {
        text-align: left;
    }
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        background: #001a23;
        width: 100%;
        padding: 0 0px;
        top: 0px;
        /*position: fixed;*/
    }
    .top_row_left {
        background: #001a23;
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 9px 12px 0 0;
    }
    .burger_icon img {
        width: 30px;
        height: 35px;
    }
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        text-align: left;
        margin: 8px 0 8px 0;
        float: left;
    }
    .resp_logo a img {
        width: 94%;
        max-width: 40px;
    }
    .resp_citydrop {
        float: left;
        margin: 14px 0 -10px 0;
    }
    .resp_citydrop {
        display: block;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 12px 8px 8px 8px;
        border-radius: 2px;
        padding: 2px 6px 4px 6px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 12px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
    }
    .inner_header_search {
        background: #001a23;
        width: 100%;
        margin: 0 0 0px 0;
        border: none;
        padding: 0 9px 12px 9px;
        border-radius: 0;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box {
        width: 100%;
        background: white;
        padding-left: 0px;
    }
    .inner_header_search .search_input_box input {
        width: 100%;
        /* font-size: 11px; */
        padding: 9px 8px;
        margin: 0px;
    }
    .inner_header_search .search_btn a {
        background: rgba(151,27,71,.8117647058823529);
        width: 47px;
        height: 40px;
        text-align: center;
        padding: 8px 0 0;
        display: inline-block;
        margin: 0px 9px 0 0;
        border-radius: 0;
    }
    .inner_header_search .search_btn a img {
        width: 20px;
    }
    .inner_header_search>.search_input_box input {
        height: auto!important;
    }
}

@media (min-width: 360px) and (max-width: 375px) {
    ul.nav_links {
        text-align: left;
    }
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        background: #001a23;
        width: 100%;
        padding: 0 0px;
        top: 0px;
        /*position: fixed;*/
    }
    .top_row_left {
        background: #001a23;
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 9px 12px 0 0;
    }
    .burger_icon img {
        width: 30px;
        height: 35px;
    }
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        text-align: left;
        margin: 8px 0 8px 0;
        float: left;
    }
    .resp_logo a img {
        width: 94%;
        max-width: 40px;
    }
    .resp_citydrop {
        float: left;
        margin: 8px 0 0 0;
    }
    .resp_citydrop {
        display: block;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 12px 3px 12px 0px;
        border-radius: 2px;
        padding: 4px 6px 6px 6px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 12px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
        font-size: 10px;
    }
    .inner_header_search {
        background: #001a23;
        width: 100%;
        margin: 0 0 0px 0;
        border: none;
        padding: 0 9px 6px 9px;
        border-radius: 0;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box {
        width: 100%;
        background: white;
        padding-left: 0px;
    }
    .inner_header_search .search_input_box input {
        width: 100%;
        font-size: 11px;
        padding: 9px 8px;
        margin: 0px;
    }
    .inner_header_search .search_btn a {
        background: rgba(151,27,71,.8117647058823529);
        width: 47px;
        height: 40px;
        text-align: center;
        padding: 8px 0 0;
        display: inline-block;
        margin: 0px 9px 0 0;
        border-radius: 0;
    }
    .inner_header_search .search_btn a img {
        width: 20px;
    }
    .inner_header_search>.search_input_box input {
        height: auto!important;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    .mobileViewSelectDropDown .mat-form-field {
        width: 100px;
        text-align: inherit;
        font-size: 12px;
    }
    .inner_header_search .search_input_box {
        width: 100%;
        background: white;
        padding-left: 0px;
    }
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    ul.nav_links {
        text-align: left;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        background: #001a23;
        width: 100%;
        padding: 0 0px;
        top: 0px;
        /*position: fixed;*/
    }
    .top_row_left {
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 9px 12px 0 0;
    }
    .burger_icon img {
        width: 30px;
        height: 35px;
    }
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        text-align: left;
        margin: 8px 0 8px 0;
        float: left;
    }
    .resp_logo a img {
        width: 94%;
        max-width: 40px;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .inner_search .ui.selection.dropdown {
        background: #001a23;
        color: #fff;
        min-width: 100%;
        border: none;
    }
    .resp_citydrop {
        float: left;
        margin: 8px 0 0 0;
        display: block;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 8px 0px 8px 0px;
        border-radius: 2px;
        padding: 6px 10px 6px 10px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 10px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
        font-size: 9px;
    }
    .inner_header_search {
        width: 90%;
        float: left;
        margin: 0 0 8px 0;
        border: none;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
    }
    .inner_header_search .search_btn {
        top: inherit;
        right: 4px;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box input {
        width: 100%;
        font-size: 11px;
        padding: 9px 8px;
        margin: 0px;
    }
    .inner_header_search .search_btn a {
        background: rgba(151,27,71,.8117647058823529);
        width: 43px;
        height: 40px;
        text-align: center;
        padding: 8px 0 0;
        margin: 0px -36px 0px 0px;
        float: right;
    }
    .inner_header_search .search_btn a img {
        width: 20px;
    }
    .inner_header_search>.search_input_box input {
        height: auto!important;
    }
}

@media screen and (max-width:320px) {
    ul.nav_links {
        text-align: left;
    }
    select.ui.selection.dropdown {
        border: 0;
        background: #001a23;
        color: #fff;
    }
    .top_section_main2 {
        display: none;
    }
    .top_section_main {
        display: block;
        background: #001a23;
        width: 100%;
        padding: 0 0px;
        top: 0px;
        /*position: fixed;*/
    }
    .top_row_left {
        background: #001a23;
        width: 100%;
        text-align: center;
    }
    .burger_icon {
        margin: 9px 12px 0 0;
    }
    .burger_icon img {
        width: 25px;
        height: 30px;
    }
    .about_section1_text,
    .about_section2_text,
    .nav_logo {
        padding: 0;
    }
    .resp_logo {
        text-align: left;
        margin: 8px 0 8px 0;
        float: left;
    }
    .resp_logo a img {
        width: 94%;
        max-width: 30px;
        margin-top: 3px;
    }
    .resp_citydrop {
        float: left;
        margin: 14px 0 0 0;
    }
    .resp_citydrop {
        display: block;
    }
    .resp_citydrop .inner_search.ui.selection.dropdown {
        background: 0 0;
        border: none;
        min-width: 100%;
        color: #fff;
    }
    .header_call {
        float: right;
        margin: 12px 0 0 0;
    }
    .header_offer {
        float: right;
        background: #fff;
        margin: 10px 0px 8px 0px;
        border-radius: 2px;
        padding: 1px 10px 3px 10px;
    }
    .header_offer a {
        color: rgba(151,27,71,.8117647058823529);
        font-size: 9px;
        font-weight: 500;
    }
    .header_offer a span {
        color: #fff;
        background: rgba(151,27,71,.8117647058823529);
        padding: 0px 7px 2px 7px;
        font-size: 9px;
    }
    .inner_header_search {
        background: #001a23;
        width: 100%;
        margin: 0 0 0px 0;
        border: none;
        padding: 0 4px 6px 9px;
        border-radius: 0;
    }
    .inner_header_search .search_input_box,
    .inner_top_nav .inner_header_search .search_input_box {
        border-top: none;
    }
    .inner_header_search .search_btn a {
        border-radius: 0;
    }
    .inner_header_search .search_input_box {
        width: 100%;
        background: white;
        padding-left: 0px;
    }
    .inner_header_search .search_input_box input {
        width: 100%;
        font-size: 11px;
        padding: 9px 8px;
        margin: 0px;
    }
    .inner_header_search .search_btn a {
        background: rgba(151,27,71,.8117647058823529);
        width: 47px;
        height: 40px;
        text-align: center;
        padding: 8px 0 0;
        display: inline-block;
        margin: 0px 0px 0 0;
        border-radius: 0;
    }
    .inner_header_search .search_btn a img {
        width: 20px;
    }
    .inner_header_search>.search_input_box input {
        height: auto!important;
    }
}
.appIcon{
    width: fit-content;
    height: 30px;
    margin: 4px 0 0 -5px;
  }
  .installBtn{
    background-color: rgba(151,27,71,.8117647058823529);
    color: white;
    font-size: 13px;
    font-family: 'Poppins';
    margin: 5px 0px;
  }