<div style="background: #F4F5F7;">
  <div *ngIf="mainpageshow" class="container-fluid px-0">
    <div class="mainDivList">
      <!-- <div class="backarrow" routerLink="/">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </div> -->
      <div class="d-flex profilemain">
        <div class="col-4 pr-0">
          <div class="previewImg" *ngIf="imageUrls == null">
            <img class="profileImg" src="{{ProfileImage}}{{imageUrl}}" height="78" width="78" alt="profileImg">
          </div>
          <div class="previewImg" *ngIf="imageUrls">
            <img class="profileImg" src="{{ProfileImage}}{{imageUrls}}" height="78" width="78" alt="profileImg">
          </div>
          <div class="previewImg" *ngFor='let url of CoverImage'>
            <img class="profileImg" [src]="url" height="78" width="78" alt="coverImage">
          </div>
        </div>
        <div class="col-8 pl-0 profiletext text-left d-flex align-items-center">
          <div>
            <h5>{{username}}&nbsp;{{lname}}</h5>
            <p>{{useremail}}</p>
            <p>+91 {{userNumber}}</p>
          </div>
          <div>
            <button class="editBtn" (click)="Showedit()"><img src="../../assets/newProfile/edit.svg" alt="Edit Icon">
              Edit</button>
          </div>
        </div>
      </div>

      <!-- Relax Max -->

      <div *ngFor="let plan of profilePlanCard" class="container mt-3" style="background: #F4F5F7;">
        <div class="" [ngClass]="{freePlan_bg: plan.planId == '0', 
            relax_bg: plan.planId == '1',
            relaxPlus_bg: plan.planId == '2',
            relaxMax_bg: plan.planId == '3'}">
          <div class="d-flex justify-content-between" *ngIf="plan.planId == '0'">

            <div class="freePlanText">
              <h3>{{plan.planName}}</h3>
              <p>Limit Reached {{plan.contactUsed}} / {{plan.contact_limit}}</p>
            </div>
            <div>
              <button class="eliteBtn" routerLink="/homes-elite">Subscribe</button>
            </div>
          </div>
          <div class="d-flex justify-content-between" *ngIf="plan.planId != '0'">
            <div class="relaxMaxDimand">
              <h3>{{plan.planName}} <img src="../../assets/newProfile/relaxMaxDimand.svg" alt="Relax Max Dimand"></h3>
              <p>Valid Till: {{plan.valid_till}}</p>
            </div>
            <div *ngIf="plan.planId != '3'">
              <button class="upgradeBtn" [ngStyle]="{color: plan.planId == '1' ? '#017469' :  '#0F6E9E'}"
                routerLink="/homes-elite">Upgrade</button>
            </div>
          </div>
          <div class="relaxDashed" *ngIf="plan.planId !== '0'"></div>
          <div class="starting_from" *ngIf="plan.planId == '0'">
            <h4>Starting from <span>₹{{plan.starting_Price}}</span></h4>
            <p>Upgrade now and find your ideal home sooner.</p>
          </div>
          <div class="contacts" *ngIf="plan.planId !== '0'">
            <h4>Contacts Used: <span>{{plan.contactUsed}} of {{plan.contact_limit}} Used</span></h4>
            <p *ngIf="plan.planId != '0'">{{plan.balance_contact}} more verified owner connections remain.</p>
          </div>
        </div>
      </div>

      <div class="editoption container mt-3" style="background: #F4F5F7;">
        <!-- <button type="button" class="block" href="#editprofile"
            (click)="Showedit()"><img height="20px" width="20px"
              src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/accountProfile/profileEditProfile.svg"
              alt="profileEditProfile">&nbsp;&nbsp;&nbsp; Edit Profile
            <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span> ></span></button> -->
        <button type="button" class="block" routerLink="/mypreferences/5"><img height="20px" width="20px"
            src="../../assets/newProfile/preferences_icon.svg" alt="preferences_icon">&nbsp;&nbsp;&nbsp; My Preferences
          <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span>
        </button>

        <button type="button" class="block" routerLink="/userauth/seenprojects/{{this.UserId}}"><img height="20px"
            width="20px" src="../../assets/newProfile/MyActivity.svg" alt="MyActivity">&nbsp;&nbsp;&nbsp; My Activity
          <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span>
        </button>

        <button type="button" class="block" (click)="myTransactions()"><img height="20px" width="20px"
            src="../../assets/newProfile/myTransactions.svg" alt="myTransactions">&nbsp;&nbsp;&nbsp; My Transactions
          <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px"
              alt="rightArrow"></span></button>

        <button type="button" class="block" routerLink="/userauth/sellproperties/{{this.UserId}}"><img height="20px"
            width="20px" src="../../assets/newProfile/MyListing.svg" alt="MyListing">&nbsp;&nbsp;&nbsp; My Listings
          <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span>
        </button>

        <button type="button" class="block" routerLink="/userauth/sellproperties/{{this.UserId}}"><img height="20px"
            width="20px" src="../../assets/newProfile/HomeRecommended.svg" alt="HomeRecommended">&nbsp;&nbsp;&nbsp;
          Recommended for
          you
          <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span>
        </button>

        <button type="button" class="block" routerLink="/userauth/sellproperties/{{this.UserId}}"><img height="20px"
            width="20px" src="../../assets/newProfile/support.svg" alt="support">&nbsp;&nbsp;&nbsp; Help & Support
          <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span>
        </button>

        <!-- <button type="button" class="block" routerLink="/postproperty"><img height="20px" width="20px"
              src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/accountProfile/profileAddProperty.svg"
              alt="profileAddProperty">&nbsp;&nbsp;&nbsp; Post Property
            <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span> ></span>
          </button> -->


        <button type="button" class="block" (click)="Logout()"><img height="20px" width="20px"
            src="../../assets/newProfile/logout.svg" alt="logout">&nbsp;&nbsp;&nbsp; Logout
          <span><img src="../../assets/newProfile/rightArrow.svg" height="14px" width="14px" alt="rightArrow"></span>
        </button>

        <!-- <div class="col-12 d-flex justify-content-center">
            <button type="button" class="block-1" (click)="Logout()">
              <span><img
                  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/accountProfile/profileLogoutBtn.png"
                  alt="logoutBtn"></span>Logout</button>
          </div> -->
      </div>
    </div>
  </div>



  <!-- =========================  Payment  =========================-->
  <div *ngIf="paymentshow">
    <div class="col-12" style="background: #F4F5F7;">

      <div class="fixedHeader">
        <div class="row">
          <div class="col-1 px-0 text-center backArrowProfile" (click)="profileback()">

            <img src="../../assets/newProfile/backIcon.svg" height="16px" width="16px" alt="backIcon">
          </div>
          <div class="col-11 px-0 text-center backArrowProfile">
            <p>Payment</p>
          </div>
        </div>
      </div>

      <div class="container mt-2 mb-5 px-0" style="background: #F4F5F7;">
        <h3 class="upi">UPI</h3>

        <div class="paymentOption">
          <h4>Pay with UPI ID / Number</h4>
          <input type="text" placeholder="Enter UPI ID / Number" class="mt-2">
        </div>
        <div class="paymentOption">
          <h4>&nbsp;<img src="../../assets/newProfile/googlePayIcon.svg" alt="googlePay"> Google Pay</h4>

        </div>
        <div class="paymentOption">
          <h4>&nbsp;<img src="../../assets/newProfile/phonePayIcon.svg" alt="phonePe"> PhonePe</h4>
        </div>
        <div class="paymentOption">
          <h4>&nbsp;<img src="../../assets/newProfile/paytmIcon.svg" alt="paytm"> PayTM</h4>

        </div>

        <div class="paymentOption">
          <h5>Price Details</h5>
          <div class="lineDot"></div>
          <div class="d-flex justify-content-between">
            <p>Total Amount</p>
            <p>₹499</p>
          </div>
          <div class="lineDot"></div>

          <div class="d-flex justify-content-between">
            <p>GST</p>
            <p>₹59</p>
          </div>
          <div class="lineDot"></div>
          <div class="d-flex justify-content-between">
            <h5>Amount payable</h5>
            <h5>₹558</h5>
          </div>

        </div>

      </div>

    </div>
    <div class="d-flex justify-content-center align-items-center ContinueBtn">
      <button class="btn payBtn" (click)="startBrowsing()">Continue</button>
    </div>
  </div>

  <!-- =========================  footer Navigation  =========================-->

  <nav class="mobile-bottom-nav1" *ngIf="footerNavShow">

    <div class="bottom-nav-item mobile-bottom-nav__item ">
      <div class="mobile-bottom-nav__item-content" routerLink="/">
        <a class="footerhome">
        </a>
        <P class="navBorder">Home</P>
      </div>
    </div>
    <div class="bottom-nav-item mobile-bottom-nav__item ">
      <div class="mobile-bottom-nav__item-content">
        <a class="footerSearch">
        </a>
        <P class="navBorder">Search</P>
      </div>
    </div>
    <!-- <div class="bottom-nav-item mobile-bottom-nav__item ">
            <p id="navBorderPost">Post Property</p>
            <a class="mobile-bottom-nav__item-content" routerLink="/postproperty">
                <div class="footer_img_22">
                </div>                   
            </a>
        </div> -->
    <div class="bottom-nav-item mobile-bottom-nav__item">
      <div class="mobile-bottom-nav__item-content">
        <p id="navBorderPost">Post Property</p>
        <a routerLink="/postproperty">
          <div class="footer_img_22"></div>
        </a>
      </div>
    </div>

    <div class="bottom-nav-item mobile-bottom-nav__item ">
      <div class="mobile-bottom-nav__item-content">
        <a class="footerShortlisted" routerLink="/userauth/seenprojects/{{this.UserId}}">
        </a>
        <P class="navBorder">Shortlisted</P>
      </div>
    </div>
    <div class="bottom-nav-item mobile-bottom-nav__item activeNav">
      <div class="mobile-bottom-nav__item-content" (click)="payment()">
        <a class="footerAccount">
        </a>
        <P class="navBorder navBorderActive">Account</P>
      </div>
    </div>

  </nav>


  <!-- Start Browsing Properties page -->
  <div *ngIf="startBrowsingProperties" class="" style="background: #FFFFFF;">

    <div class="container px-0">
      <div class="d-flex justify-content-center align-items-center mt-5">

        <!-- <img src="../../assets/newProfile/paymentDone_Icon.svg" alt="paymentDone_Icon" class="rotate-animation"> -->

        <dotlottie-wc src="https://lottie.host/e9bbe875-af95-4619-87e3-096771572c05/VM7kWrDSvq.lottie"
          style="width: 300px;height: 300px" speed="1" autoplay></dotlottie-wc>

      </div>
      <div class="text-center youreAllSet">
        <h6>You’re All Set! </h6>
        <p>Your Relax Max Plan is Now Active</p>
      </div>



      <div class="afterSuccessPayment">
        <div class="d-flex justify-content-center align-items-center mb-2">
          <button class="btn StartBrowsingBtn">Start Browsing Properties</button>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-3">
          <button class="btn ViewMyPlanBtn">View My Plan</button>
        </div>
      </div>
    </div>
  </div>



  <!-- myTransactions -->
  <div *ngIf="myTransactionsShow" class="col-12" style="background: #F4F5F7;">
    <div class="fixedHeader">
      <div class="row">
        <div class="col-1 px-0 text-center backArrowProfile" (click)="profileback()">

          <img src="../../assets/newProfile/backIcon.svg" height="16px" width="16px" alt="backIcon">
        </div>
        <div class="col-11 px-0 text-center backArrowProfile">
          <p>My Transactions</p>
        </div>
      </div>
    </div>
    <div class="container px-0 mt-2">
      <ul class="no-bullets">
        <li class="transaction-item">
          <div class="transaction-details">
            <div class="d-flex justify-content-between">
              <h4>Super Relax Plan</h4>
              <p>₹499.00</p>
            </div>
            <div class="dashLine"></div>
            <div class="d-flex justify-content-between transaction-info">
              <p>11:10pm, July 04, 2025</p>
              <button class="successBtn">Success</button>
            </div>
          </div>

        </li>
        <li class="transaction-item">
          <div class="transaction-details">
            <div class="d-flex justify-content-between">
              <h4>Super Relax Plan</h4>
              <p>₹499.00</p>
            </div>
            <div class="dashLine"></div>
            <div class="d-flex justify-content-between transaction-info">
              <p>11:10pm, July 04, 2025</p>
              <button class="failedBtn">Success</button>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>


  <!-- editprofileshow -->

  <div *ngIf="editprofileshow" class="col-xs-12 col-sm-12 col-lg-12 col-md-12 wishlist_main_div">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12 text-center profileEdit">

          <div class="fixedHeader">
            <div class="row">
              <div class="col-1 px-0 text-center backArrowDiv" (click)="profileback()">

                <img src="../../assets/newProfile/profileBackIcon.svg" alt="backArrowIcon">
              </div>
              <div class="col-11 px-0 text-center backArrowDiv">
                <p id="myProfile">Edit Profile</p>
              </div>
            </div>
          </div>


          <div class="avatar-upload">
            <div class="avatar-edit">
              <input hidden type='file' name="cover" accept=".png, .jpg, .jpeg" #fileInput formControlName="coverImage"
                (change)="onCoverSelectFile($event)" />
            </div>
            <div class="profilemain">
              <div class="previewImg" *ngIf="imageUrls === null">
                <img src="{{ProfileImage}}{{imageUrl}}" height="150" width="150" alt="profileImg">
              </div>
              <div class="previewImg" *ngIf="imageUrls">
                <img src="{{ProfileImage}}{{imageUrls}}" height="150" width="150" alt="profileImg">
              </div>
              <div class="previewImg" *ngIf=" CoverImage === null">
                <img src="{{ProfileImage}}{{imageUrls}}" height="150" width="150" alt="profileImg">
              </div>
              <div class="previewImg" *ngFor='let url of CoverImage'>
                <img [src]="url" height="150" width="150" alt="coverImage">
              </div>
            </div>
          </div>


          <button type="button" class="btn imgUploadBtn btn-lg btn-block" (click)="fileInput.click()"><img
              src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/accountProfile/editProfilePenMobile.svg"
              alt="editProfilePenMobile">
          </button>


          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 fomMainInput">


            <label class="formLableText">First Name</label><br>
            <input type="text" class="formInput" formControlName="userName" placeholder="First Name" name="Name"
              id="name" [(ngModel)]="username" (input)="onInputChange()" /><br>

            <label class="col-md-6 ml-0 pl-0 formLableText">Last Name</label><br>
            <input type="text" class="formInput" formControlName="lastName" name="lastName" placeholder="Last Name"
              id="lastname" [(ngModel)]="Lname" (input)="onInputChange()" />


            <label class="formLableText">Email</label><br>
            <input type="email" class="formInput" formControlName="userEmailID" placeholder="Email ID" name="EmailId"
              id="emailId" [(ngModel)]="useremail" (input)="onInputChange()" /><br>
            <label class="formLableText1">Contact Number</label><br>
            <input type="number" class="formInput mb-1" disabled formControlName="userNumber" name="Number" id="mobile"
              [(ngModel)]="usernum" readonly required (input)="onInputChange()" />

          </div>


          <button type="button" class="btn imgUploadBtn btn-lg btn-block" (click)="fileInput.click()"><img
              src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/accountProfile/camera.png"
              alt="cameraIcon">
          </button>

          <div class="row">
            <div class="col">
              <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 fomMainInput">
                <button type="submit" [ngClass]="{'activeSave': changesMade}" class="btn updateProfileBtn btn-lg"
                  [disabled]="!(registrationForm.valid && registrationForm.dirty)">Save Changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>


    <form class="mt-3 mb-5 col-12 pb-5" [formGroup]="registrationForm">
      <div class="">
        <div class="">
          <label class="formLableText">Change Contact Number</label><br>
          <input class="formInput1" autocomplete="off" type="number" id="changeNumber" formControlName="number"
            name="number" placeholder="Enter Number" [(ngModel)]="userNumber" required (input)="onprofileInputChange()">
          <div class="border1"></div>
        </div>

        <button type="submit" (click)="otpsend()" disabled id="getOtpBtn" class="btn updateProfileNumberBtn">Get
          OTP
        </button>
      </div>
    </form>
  </div>






  <div *ngIf="resetnumbermodal">
    <div class="animated animatedFadeInUp fadeInUp">
      <div class="animated animatedFadeInUp fadeInUp">
        <div class="backarrow" (click)="profileback()">
          <img src="../../assets/icons/profileBackIcon.svg" alt="backArrowIcon">
        </div>
        <div class="profilemain">
          <div class="previewImg">
            <img src="{{ProfileImage}}{{imageUrls}}" height="150" width="150" alt="profileImg">
          </div>
          <div class="previewImg" *ngFor='let url of CoverImage'>
            <img [src]="url" height="200" width="200" alt="coverImage">
          </div>
          <div class="profiletext">
            <h5>{{this.username}}&nbsp;{{this.lname}}</h5>
            <p>{{this.useremail}}</p>
          </div>
        </div>
        <div class="container log">
          <form method="POST" class="mt-4 maindiv">
            <div class="input-cont">
              <input autocomplete="off" type="number" id="renumber" name="renumber" placeholder="Enter Number"
                [(ngModel)]="user.number">
              <div class="border1"></div>
            </div>
            <button type="submit" id="one" (click)="otpsend()">Update Number</button>
            <button #cancel hidden type="button" data-dismiss="modal" style="display: none;"></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--OTP-MODAL-->
  <div id="modal-container">
    <div class="modal-background">
      <div class="modal">
        <form name="otpForm" novalidate>
          <h2>Please Verify your Number</h2>
          <p>Enter the 4 digit Verification Code sent on {{this.user.number}}<a (click)="goback()">(Edit)</a></p>
          <div class="col-12 countdown_maindiv">
            <countdown #cd [config]="countdownconfig" (event)="handleEvent($event)"></countdown>
          </div>
          <input hidden autocomplete="off" type="number" placeholder="OTP" name="otp" id="otp" [(ngModel)]="user.otp"
            required />
          <ng-otp-input class="otpinput" #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config">
          </ng-otp-input>
          <button (click)="otpvalidate()">Validate OTP</button>
          <p class="otpexpireclass" *ngIf="otpexpired">OTP Expired - <a (click)="otpsend()">Resend</a></p>
          <button type="reset" id="btn_reset" style="display: none;"></button>
        </form>
      </div>
    </div>
  </div>
  <!--OTP-MODAL-->

  <!-- CSS-Loader -->
  <div *ngIf="otploader" class="loaderbody">
    <div class="box">
      <div class="loader-20"></div>
    </div>
  </div>
  <!-- CSS-Loader -->
</div>