
<!-- <ng-container *ngComponentOutlet="innerheader"></ng-container> -->
<!-- <div id="conatctbutton">
  <app-float-contact></app-float-contact>
</div> -->
  <div class="row mainDivAboutUs">
    <div class="col-12 text-center">
      <h1 class="allAbutHomes">ALL ABOUT</h1>
    </div>
  </div>
<div class="" itemscope itemtype="https://schema.org/AboutPage">
  <meta itemprop="headline" content="About Us"/>
  <meta itemprop="url" content="https://www.homes247.in/aboutus"/>
  <meta itemprop="description" content="Homes247.in, as our name suggests, is a complete Home Buying Proptech Platform
    that has grown to become India's darling realty portal! Though Home buying is seen as an exhausting endeavour,
    we aim to provide all of you an experience beyond comparison when it comes to finding your dream home!
    Unlike others, we don't intend to do half the work and leave you out stranded, after all, that's what we mean by an
     end to end assistance! We know how tough it can get, but worry no more! We will help you navigate through the
     troubled waters of Home Buying. And It does not end there! We are on a journey. To develop ourselves as a symbol for everything related to Homes!
   How do you measure Uniqueness in a world set forth with an unhealthy obsession over commonality and a fixed standard?
Simple! Dare to Dream better & Endeavour to Execute better!
Homes247.in is one of a kind PropTech Platform and Real Estate Aggregator that encompasses the multiple tenets of
Real Estate. Our perfect blend of Online and Offline Business Model covers the entire spectrum of Home-buying to give
you the best in class experience! We embrace technology in its various facets and lets it drive us forward to the future!
We connect both home seekers and developers on a holistic realty platform powered by the latest elements PropTech.
We provide Homebuyers, especially the First Time Home Buyers a complete 360 degree end to end service, from Search
to Settle. We'll take care of everything from providing hand-picked and verified options which matches their
requirements and desires, to providing site visits and aiding them at negotiations all at ZERO Brokerage! Plus,
we also aid to procure Home Loans and get you the latest Interior design services in India, thus helping you to
Settle in Your Dream Home. We also act a premium leads generator, ensuring that the Developers get verified, and
 trustworthy leads and is also known as one of the best real estate digital marketing firms in India. That's not all,
  we are also on the verge of developing the prediction models with our data analytics wing called - REDAR!">
  <div #scrollapiloader class="container mt-2">
    <div class="row">
      <div class="col-12">
        <p class="subTitleText underline">How A Challenge Becomes an Opportunity?</p>
        <p class="descpText">Homes247.in, as our name suggests, is a complete Home Buying Proptech Platform that has
          grown to become
          India's darling realty portal! </p>
        <p class="descpText">Though Home buying is seen as an exhausting endeavour, We aim to provide all of you an
          experience beyond
          comparison when it comes to finding your dream home!</p>
          <div class="mt-4 mb-4">
           <img class="challangeimgsize" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/HowAChallengeBecomesanOpportunity.svg">
          </div>
        <p class="descpText">Unlike others, we don't intend to do half the work and leave you out stranded, after
          all, that's what we
          mean by an end to end assistance! We know how tough it can get, but worry no more! We will help you navigate
          through the troubled waters of Home Buying.</p>
        <p class="text-center descpText">And</p>
        <p class="text-center descpText">It does not end there!</p>
        <p class="text-center descpText">We are on a journey.</p>
        <p class="text-center descpMainText">To develop ourselves as a symbol for everything related to
          <b class="boldColors">Homes!</b></p>
      </div>
    </div>
  </div>

  <div *ngIf="sectionloader" class="container section2MainDiv">
    <div class="row">
      <div class="col-12">
        <p class="subTitleText underline">What Makes Us Unique?</p>
        <p class="descpText">How do you measure Uniqueness in a world set forth with an unhealthy obsession
          over commonality and a fixed standard?</p>
        <p class="text-center descpText"></p>
        <p class="descpMainText">Simple!
          <br>
          Dare to Dream better
          &<br>
          Endeavour to Execute better!</p>
          <div class="mt-4 mb-4">
            <img class="challangeimgsize" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/WhatMakesUsUnique.svg">
          </div>
        <p class="descpText">Homes247.in is one of a kind <b class="boldColors">Proptech Platform and Real Estate
          Aggregator</b> that
          encompasses the multiple
          tenets of Real Estate. Our perfect blend of Online and Offline Business Models covers the entire spectrum of
          Home-buying to give you the best in class experience! We embrace technology in its various facets
          and lets it drive us forward to the future!</p>

        <p class="descpText">We connect both home seekers and developers on a holistic realty platform powered by the
          latest elements PropTech. We provide Homebuyers, especially the <b class="boldColors">First Time Home Buyers</b> a complete 360
          degree end to end
          service,
          from Search to Settle. We'll take care of everything from providing hand-picked and verified options
          which
          matches their requirements and desires, to providing site visits and aiding them at negotiations all at
          <b class="boldColors">ZERO Brokerage!</b> Plus, we also aid to procure Home Loans and get you the latest
          Interior design services in India, thus helping you to Settle in Your Dream Home. </p>
      </div>
      <div class="col-12 mt-2">
        <p class="descpText">We also act a premium leads generator, ensuring that the Developers get verified, and
          trustworthy leads and is also known as one of the best real estate digital marketing firms in India. That's
          not all, we are also on the verge of developing the prediction models with our data analytics wing called -
          REDAR!</p>
        <h2 class="subTitleText underline">Innovations</h2>
        <p class="descpText">Innovations are the bedrock on which Homes247.in was built upon. Etched within every member
          of Homes247 family, we strive towards excellence through innovations, creativity and thinking out of the
          box.</p>
      </div>
    </div>
  </div>
  <meta itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/WebPage"/>
  <meta itemprop="name" content="About Us"/>
 <!--    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">-->
  <!--      <img src="'https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/logo-blue-orange.png'"/>-->
  <!--      <meta itemprop="url" content="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/logo-blue-orange.png">-->
  <!--      <meta itemprop="width" content="400">-->
  <!--      <meta itemprop="height" content="60">-->
  <!--    </div>-->
</div>
  <div *ngIf="sectionloader" class="mt-5">
    <div class="parallax">
      <div class="parallax-padding">
      <p class="parallexdescpText">
        <img class="innovationimg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/Bookhomefromhome.svg">
        <b class="descpMainText">Book A Home From Home -</b> Much more than a catchphrase, our
        latest Fully Digital & Online Home
        Buying Experience has captured the hearts of millions of homebuyers across the world, especially NRI Clientele
        and even won us many awards and accolades!</p>
      <p class="parallexdescpText">
        <img class="innovationimg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/Homesonwheels.svg">
        <b class="descpMainText">Homes on Wheels -</b> Where we spun around a literal twist to the
        word "Home Delivery"! It's our fleet of highly trained and experienced Relationship Managers who deliver truly
        end to end offline services.</p>
      </div>
    </div>
  </div>

   <div *ngIf="sectionloader" class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="allAbutHomesText underline1 mb-0">What We Do</h2>
        <p class="subheadingTitles">Think Home Think Us!</p>
      <div class="scrollmenu">
       <a>
         <div class="card service-card-height">
           <img  class="serviceimg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/TheHolisticHomeBuyingPlatform.svg">
           <div class="card-body">
           <h2 class="service-head">The Holistic Home Buying Platform</h2>
           <p class="service-text">Let's Find Your Home! Rather than a tiresome process, We provide you with an Unbelievable Home Buying Experience start to finish!</p>
           </div>
         </div>
       </a>
       <a>
        <div class="card service-card-height">
          <img class="serviceimg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/PremiumRealtLeadGeneration.svg">
          <div class="card-body">
            <h2 class="service-head">Premium Realty Leads Generation</h2>
            <p class="service-text">Being one of the leading real estate leads generator in India, Homes247.in can bring the maximum number of verified leads for you!</p>
            </div>
        </div>
      </a>
      <a>
        <div class="card service-card-height">
          <img class="serviceimg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/RealEstateDigitalMarketing.svg">
          <div class="card-body">
            <h2 class="service-head">Real Estate Digital Marketing</h2>
            <p class="service-text">Conquer the Digital Space with
              Us! Homes247.in is one of the best real estate
              digital marketing service providers in India, tackling everything from SEM, SEO, Content Marketing etc.</p>
            </div>
        </div>
      </a>
      <a>
         <div class="card service-card-height">
          <img class="serviceimg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/RealtyFranchisor.svg">
          <div class="card-body">
            <h2 class="service-head">Realty Franchisor</h2>
            <p class="service-text">
              Homes247.in also acts as a Realty Franchisor, providing services to start a complete real estate model from the scratch to the zenith!</p>
            </div>
        </div>
      </a>
      <a>
        <div class="card service-card-height">
          <img class="serviceimg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/PropTech.svg">
          <div class="card-body">
            <h2 class="service-head">PropTech</h2>
            <p class="service-text">
              Homes247.in has also entered the SAAS realm, providing various in length solutions to all!</p>
            </div>
        </div>
      </a>
      </div>
      </div>
    </div>
  </div>

   <div *ngIf="sectionloader" class="container mt-4">
    <p class="allAbutHomesText underline">In The News</p>
    <div class="mt-5">
      <div class="scrollmenu">
          <a
            href="https://economictimes.indiatimes.com/industry/services/property-/-cstruction/real-estate-developers-ready-with-festive-offers-hoping-recovery-by-diwali/articleshow/78110437.cms?from=mdr"
            rel="noopener" target="_blank">
            <div class="card card_newsheight">
              <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/news/economic-times.jpg"
                   class="card-img-top" alt="...">
            </div>
          </a>

          <a href="https://www.theweek.in/wire-updates/business/2020/08/18/pwr24-homes247.in.html"
             rel="noopener" target="_blank">
            <div class="card card_newsheight">
              <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/news/the-week.jpg" class="card-img-top"
                   alt="...">
            </div>
          </a>

          <a
            href="https://timesofindia.indiatimes.com/business/india-business/embracing-technology-to-tackle-covid-19-hurdles-book-a-home-from-home-at-homes247-in/articleshow/76218982.cms"
            rel="noopener" target="_blank">
            <div class="card card_newsheight">
              <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/news/times-of-india.jpg"
                   class="card-img-top" alt="...">
            </div>
          </a>

          <a
            href="https://realestate.siliconindia.com/vendor/homes247in-techenabled-streamlined-home-buying-for-all-cid-11513.html"
            rel="noopener" target="_blank">
            <div class="card card_newsheight">
              <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/news/silicon-india.jpg"
                   class="card-img-top" alt="...">
            </div>
          </a>

          <a href="https://yourstory.com/2020/08/search-settle-homes247-data-tech-home-seeking"
             rel="noopener" target="_blank">
            <div class="card card_newsheight">
              <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/news/yourstory.jpg"
                   class="card-img-top" alt="...">
            </div>
          </a>
    </div>
    </div>
  </div>

   <div *ngIf="sectionloader" class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="allAbutHomesText underline1 mb-0">The Soul of Homes247.in</h2>
        <p class="subheadingTitles">Founder/CEO/Mentor/Digital Prophet</p>
      </div>
      <div class="col-12">
        <div class="col-12 mt-5">
          <img class="sirImg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/_DSC0701.JPG">
        </div>
      </div>
      <div class="col-12">
        <p class="descpText mt-5"><b>Mr Priyatham Kumar</b> founded Homes247.in to help the countless homebuyers to
          navigate through the complexities
          and find their dream home. A Veteran in the field of Real Estate, Priyatham Kumar has a combined experience of
          two decades across the major investment industries including Real Estate, Banking and Insurance. Known to be a
          digital prophet, He is an Engineer who fell in love with Sales and Tech. Many of the nation's realty
          innovations were the brainchild of Priyatham Kumar.</p>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="parallax1">
      <div class="parallax-padding">
      <p class="parallexdescpText">Along with Homes247.in, he is developing yet another realty portal called IndiaEstates.in
        as well. During his career spanning over 20 years, he had mentored some of the high ranking executives of the
        leading companies of South India. He also occasionally imparts his time tested philosophies and experience to
        many of the youngsters through webinars and social media.</p>
      </div>
    </div>
  </div>

   <div *ngIf="sectionloader" class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="allAbutHomesText underline1 mb-0">Life @ Homes247.in</h2>
        <p class="subheadingTitles">Striving towards excellence every day</p>

        <p class="descpText mt-5">Life at Homes247.in is all about exploring yourself and exceeding
          everyone's expectations to become the best
          version of yourself!</p>
        <p class="descpText">But we are not all about "WORK, WORK & WORK"!</p>
        <p class="descpText">Though we do lose ourselves in our work now and then, <b class="descpMainText boldColors">nothing
          can
          compare to the celebrations & fun we
          have!</b></p>
        <p class="descpText">After all "ALL WORK & NO PLAY MAKES JACK A DULL BOY" right, and ask around we are anything
          but Dull!</p>
        <p class="descpText">Homes247.in has an <b class="descpMainText boldColors">active CSR programme</b> as well,
          where we make sure that those who are less fortunate than us
          can also <b class="descpMainText boldColors">survive and thrive in this world.</b></p>
      </div>
      <div class="col-12">
        <img class="challangeimgsize" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/blogs/new/Life@Homes247.in.svg">
      </div>
    </div>
  </div>

  <!-- <div *ngIf="sectionloader" class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="list-group custom_list" id="list-tab" role="tablist">
          <div  class="gallerybtn" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Images of CSR</div>
          <div  class="gallerybtn" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Trips</div>
          <div  class="gallerybtn" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Celebration/rewards</div>
        </div>
      </div>

    <div class="col-12">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
           <div class="row"  photoGalleryGroup>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/022.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/022.jpg">
                </a>
             </div>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/023.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/023.jpg">
                </a>
            </div>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/024.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/024.jpg">
                </a>
             </div>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/025.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/025.jpg">
                </a>
             </div>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/018.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/018.jpg">
                </a>
             </div>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/019.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/019.jpg">
                </a>
             </div>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/020.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/020.jpg">
                </a>
             </div>
             <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/021.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/021.jpg">
                </a>
             </div>
           </div>
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <div class="row"  photoGalleryGroup>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/001.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/001.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/012.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/012.jpg">
                 </a>
             </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/002.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/002.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/003.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/003.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/004.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/004.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/015.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/015.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/005.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/005.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/007.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/007.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/006.jpg">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/006.jpg">
                </a>
             </div>
             <div class="col-4 mb-2">
              <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/008.jpg">
              <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/008.jpg">
              </a>
           </div>
           <div class="col-4 mb-2">
            <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/009.jpg">
            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/009.jpg">
            </a>
         </div>
         <div class="col-4 mb-2">
          <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/010.jpg">
          <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/010.jpg">
          </a>
       </div>
            </div>
          </div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <div class="row"  photoGalleryGroup>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/013.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/013.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/014.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/014.jpg">
                 </a>
             </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/016.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/016.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/017.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/017.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/028.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/028.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/029.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/029.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/030.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/031.jpg">
                 </a>
              </div>
              <div class="col-4 mb-2">
                 <a class="photogallery1" photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/011.jpg">
                 <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/app/images/photogallery/011.jpg">
                 </a>
              </div>
            </div>
          </div>
        </div>
    </div>
   </div>
  </div>   -->


    <div *ngIf="sectionloader" class="container mt-5">
    <div class="">
      <p class="allAbutHomesText underline">Awards</p>
    </div>
    <div class="row mt-5">
      <div class="scrollmenu">
        <a>
      <div class="awardsBorder">
        <div class="row">
          <div class="col-4">
            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/awards/times-of-india-trophy.png">
          </div>
          <div class="col-8 pl-0">
            <h3 class="awardName mt-2">TIMES OF INDIA</h3>
            <p class="awardSubText">Best Innovative Realestate Website</p>
          </div>
        </div>
      </div>
      </a>
      <a>
      <div class="awardsBorder">
        <div class="row">
          <div class="col-4">
            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/awards/new/commonfloor.png">
          </div>
          <div class="col-8 pl-0">
            <h3 class="awardName mt-2">COMMONFLOOR</h3>
            <p class="awardSubText">Real Estate Website of the Year (2018-2019)</p>
          </div>
        </div>
      </div></a>
      <a>
      <div class="awardsBorder">
        <div class="row">
           <div class="col-4">
            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/awards/new/Siliconindia.png">
          </div>
          <div class="col-8 pl-0">
            <h3 class="awardName mt-2">SILICON INDIA</h3>
            <p class="awardSubText">Real Estate Website of the year 2019 </p>
          </div>
        </div>
      </div></a>
      <a>
      <div class="awardsBorder">
        <div class="row">
          <div class="col-4">
            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/awards/new/ibe.png">
          </div>
          <div class="col-8 pl-0">
            <h3 class="awardName mt-2">INTERNATIONAL BRAND EQUITY</h3>
            <p class="awardSubText">Real Estate portal of the Year 2020</p>
          </div>
        </div>
      </div></a>
      <a>
      <div class="awardsBorder">
        <div class="row">
           <div class="col-4">
            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/awards/new/quickrhomes.png">
          </div>
          <div class="col-8 pl-0">
            <h3 class="awardName mt-2">QUIKRHOMES</h3>
            <p class="awardSubText">Emerging Realty Marketing Portal of the year 2018-2019</p>
          </div>
        </div>
      </div></a>
      <a>
      <div class="awardsBorder">
        <div class="row">
          <div class="col-4">
            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/awards/new/assetz.png">
          </div>
          <div class="col-8">
            <h3 class="awardName mt-2">ASSETZ GROUP</h3>
            <p class="awardSubText">The Heighest Lead Generator 2019</p>
          </div>
        </div>
      </div>
      </a>
      </div>
    </div>
  </div>
   <div *ngIf="sectionloader" class="visionBackGroungColour">
    <div class="container">
      <div class="col-12">
        <h2 class="allAbutHomesText underline1 mb-0">Our Vision</h2>
        <p class="subheadingTitles">What Drives Us Forward!</p>

        <p class="descpText mt-5">Our ultimate goal is to be the One Stop Solution for Everything related to Home! Not
          Just the Realty factor,
          because we understand the emotion called Home better than others! Our Services should cover the wide range of
          needs that arises from the full spectrum of emotions of Home.</p>
      </div>
    </div>
  </div>

<div class="footerDiv">
<div *ngIf="loaded">
  <ng-container *ngComponentOutlet="FooterComponent"></ng-container>
</div>
</div>
<!-- <app-fixedfooter></app-fixedfooter> -->
<div class="innerheader_position">
  <app-innerheader></app-innerheader>
</div>
