
<div  class="container-fluid log">
    <div class="home_logo">
        <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/Homes247_NewBlack_Logo.png" alt="Homes247_NewBlack_Logo.png">
          <h5>Hi, {{this.username}}</h5>  
          <p>Your Reset Password is below!</p>
    </div>
    <div class="formdiv maindiv">
    <form>
        <div class="input-cont">
            <input type="password" placeholder="Enter New Password" id="password" name="password" [(ngModel)]="password">
            <div class="border1"></div>
        </div>
        <div class="input-cont">
            <input type="password" placeholder="Confirm Password" id="confirmpass" name="confirmpass" [(ngModel)]="confirmpassword">
            <div class="border1"></div>
        </div>
        <div class="clear"></div>
        <div *ngIf="showalert">
            <p  class="alertMesg">Please enter valid Password must contain number,character,special character</p>
        </div>
        <button type="submit" (click)="ResetPass();" value="Reset Password">Reset Password</button>  
    </form>
    </div>
</div>