<div class="footerBg commonTitleMarginTop">
    <div class="col-12 p-0 stars">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- <div class="col-sm-12 text-center">
      <h2 class="finalPageTitle">That's it folks,</h2>
      <p class="finalPageSubText">
        Once the property is listed, you'll receive the lead details by SMS & Mail.
        <br>
        Now,
      </p>
      <button class="btn btn-primary finalBtn" *ngIf="loginDropDownOpen" routerLink="/login"
      >Get Ready for the Launch! &nbsp;
        <i class="fa fa-angle-double-right"
           aria-hidden="true"></i></button>
      <button class="btn btn-primary finalBtn" *ngIf="profileDropDownOpen" routerLink="/postproperty"
      >Get Ready for the Launch! &nbsp;
        <i class="fa fa-angle-double-right"
           aria-hidden="true"></i></button>
    </div> -->


    <div class="col-sm-12 pt-3">
        <!-- <h2 class="finalPageTitle">That's it folks,</h2> -->
        <img height="24px" fetchpriority="high" loading="eager" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/postPropLanding/homes247Logo.png" alt="..homes247Logo.png" >
        <div class="row">
          <!-- <div class="col-5 mr-5"></div> -->
          <div class="col-12 mt-2">
              <h3 class="finalPageSubText text-left">
                  Post property Ad to sell or<br>rent online for <span id="freeTxt">Free !</span>
                </h3>
  
                <div class="row ml-4 mb-5 text-left">
                  <div class="box1 col-5 py-2">
                      <p id="boxTxt">Property Sold
                          <br>
                          Every <img fetchpriority="high" loading="eager"  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/postPropLanding/fi_1452577.png" alt="..fi_1452577.png" >
                      </p>
                      <p id="minutesTxt">30 Minutes</p>
                  </div>
                  <!-- <div class="col-1"></div> -->
                  <div class="box1 col-5 py-2">
  
                      <p id="boxTxt">Property Rent
                          <br>
                          Every <img fetchpriority="high" loading="eager"  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/postPropLanding/fi_1452569.png" alt="..fi_1452569.png" >
                      </p>
                      <p id="minutesTxt">10 Minutes</p>
  
                  </div>
                </div>
                
          </div>
        </div>
            <div class="col-12 text-right animateOnLoadFromBottom">
      <img fetchpriority="high" loading="eager"  class="rocketImg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/rocket.svg" alt="rocket.svg">
      <div class="container2">
        <div class="red flame"></div>
        <div class="orange flame"></div>
        <div class="yellow flame"></div>
        <div class="white flame"></div>
      </div>
      <div class="container3">
        <div class="red flame"></div>
        <div class="orange flame"></div>
        <div class="yellow flame"></div>
        <div class="white flame"></div>
      </div>
    </div>
      </div>
      


    <div class="col-12 p-0">
      <div class="ag-star ag-star-1"></div>
      <div class="ag-star ag-star-2"></div>
      <div class="ag-star ag-star-3"></div>
      <div class="ag-star ag-star-4"></div>
      <div class="ag-star ag-star-5"></div>
      <div class="ag-star ag-star-6"></div>
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="asteroid1" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/asteroids3.svg" alt="asteroids3.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="asteroid2" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/asteroids4.svg" alt="asteroids4.svg">
    </div>
    <div class="col-12 p-0">
      <img fetchpriority="high" loading="eager"  class="mainPlanet" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/mainPlanet.svg" alt="mainPlanet.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="footerHome" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/footerhome.svg" alt="footerhome.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager" class="asteroid3" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/asteroids5.svg" alt="asteroids5.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="footerSpaceMan" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/footerSpaceMan.png" alt="footerSpaceMan.png">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="asteroid4" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/asteroids1.svg" alt="asteroids1.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="asteroid5" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/asteroids2.svg" alt="asteroids2.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="asteroid6" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/asteroids7.svg" alt="asteroids7.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="footerBluePlanet" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/footerBLUE.svg" alt="footerBLUE.svg">
    </div>
    <!-- <div class="col-12 p-0">
      <img class="footerRocket" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/footerrocket.svg" alt="footerrocket.svg">
    </div> -->
    <div class="">
      <img fetchpriority="high" loading="eager" class="asteroid7" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/asteroids6.svg" alt="asteroids6.svg">
    </div>
    <div class="">
      <img fetchpriority="high" loading="eager"  class="redPlanet" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/landing-page/footerREDPLANET.svg" alt="footerREDPLANET.svg">
    </div>



    <div class="col-12 mb-2 text-center" style="position: absolute;
    bottom: 0;">
    
        <a routerLink="/postproperty">
            <button class="btn btn-primary finalBtn" id="Mobile_Post_landing_1">
                Start Listing Now &nbsp;<i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i></button>
          </a>
    </div>
</div>



