<!--The content below is only a placeholder and can be replaced.-->
<!--<div>
    <strong>Html To PDF in Angular Application</strong>
    </div>
    <div>
    <input type="button" value="Convert" (click)="convetToPDF()"/>
    </div>-->
<!--    <button (click)="downloadFile()">Download</button>-->

<!-- <app-innerheader class="navHide"></app-innerheader> -->
<div id="contentToConvert" class="parent_div">
  <div class="container">
    <div class="col-sm-12 text-center mainDivPDF">

      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>&nbsp;&nbsp;
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>&nbsp;&nbsp;
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <h1 class="pdfText">Downloading PDF</h1>
    </div>
  </div>
</div>
