#contentToConvert th{
    background-color: #5959a0;
    color: #fff;
}
p, a, span, div, label, button, ul, li{
  font-family: 'proxima_novaregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
}
.color_div{
  position: absolute;
    width: 100%;
    background-color: #fff;
    height: 817px;
}
.backgroundColour {
  /* background-color: #f4f4f4; */
  /*height: 723%;*/
}
.parent_div{
  background-color: #f4f4f4;
}
.BackGroundWhiteColour{
  background-color: white;
}
.main_banner{
  width: 100%;
}

/* OTP-DESIGN */
#modal-container, #modal-container2, #modal-container3  {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 123456;
}
#modal-container.one, #modal-container2.one, #modal-container3.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal, #modal-container2.one .modal-background .modal,
#modal-container3.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out, #modal-container2.one.out, #modal-container3.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal, #modal-container2.one.out .modal-background .modal,
#modal-container3.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background, #modal-container2 .modal-background,
#modal-container3  .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal, #modal-container2 .modal-background .modal,
#modal-container3  .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 400;
  position: relative;
  width: 660px;
  height: 380px;
}
#modal-container .modal-background .modal button, #modal-container2 .modal-background .modal button,
#modal-container3  .modal-background .modal button{
  background: rgba(151,27,71,.8117647058823529);
  color: #fff;
  border: 0;
  padding: 12px;
  margin: 30px 0 0 0;
  width: 140px;
  border-radius: 5px;
}
#modal-container .modal-background .modal .modal-svg, #modal-container2 .modal-background .modal .modal-svg,
#modal-container3 .modal-background .modal .modal-svg {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  border-radius:3px;
}
#modal-container .modal-background .modal .modal-svg rect, #modal-container2 .modal-background .modal .modal-svg rect,
#modal-container3 .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}
#modal-container .modal-background .modal h2, #modal-container2  .modal-background .modal h2,
#modal-container3 .modal-background .modal h2{
  font-size:25px;
  line-height:25px;
  margin-bottom:15px;
}
#modal-container .modal-background .modal p, #modal-container2  .modal-background .modal p,
#modal-container3 .modal-background .modal p{
  font-size:18px;
  line-height:50px;
  margin: auto;
    padding: 0;
    width: auto;
    background: transparent;
    color: #000;
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* OTP-DESIGN */

.bottom_desclaimer{
  background-color: #f0f8ff;
    padding: 15px 13px;
    text-align: left;
}
.bottom_desclaimer p {
  margin-top: 10px;
}

.bottom_desclaimer span{
  font-weight: 500;
}

/* CSS-LOADER-DESIGN */
.loaderbody{
  backdrop-filter: blur(5px);
  text-align: center;
  box-sizing: border-box;
  font-family: 'Poppins';
  position: fixed;
  width: 100%;
  min-height: 4500px;
  z-index: 999999;
  top: 0;
}
.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  font-size: 32px;
  padding: 1em;
  position: relative;
  margin: 20% auto;
  vertical-align: top;
  -webkit-transition: .3s color, .3s border, .3s transform, .3s opacity;
  transition: .3s color, .3s border, .3s transform, .3s opacity;
}
[class*="loader-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  pointer-events: none;
}
.loader-20 {
  background-color: rgba(151,27,71,.8117647058823529);
  box-shadow: inset 0px 0px 0px .1em currentcolor;
  border-radius: 50%;
  position: relative;
}
.loader-20:after, .loader-20:before {
  position: absolute;
  content: "";
  background-color: currentcolor;
  top: .5em;
  left: .5em;
  height: .1em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.loader-20:after {
  width: .4em;
  -webkit-animation: loader-20 2s linear infinite;
          animation: loader-20 2s linear infinite;
}
.loader-20:before {
  width: .3em;
  -webkit-animation: loader-20 8s linear infinite;
          animation: loader-20 8s linear infinite;
}

@-webkit-keyframes loader-20 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-20 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
 /* CSS-LOADER-DESIGN */

 /* Count_Down_design */
 .countdown_maindiv{
  margin: 4px auto 15px auto;
 }
 #modal-container .modal-background .modal .otpexpireclass, #modal-container2 .modal-background .modal .otpexpireclass,
 #modal-container3 .modal-background .modal .otpexpireclass{
     margin: -4px;
     font-size: 13px;
 }
 /* Count_Down_design */

.breadcrumbs_prop {
  /* position: absolute;
  top: 3%; */
  width: 100%;
  z-index: 1;
  --breadcrumbsDivider: "›";
  --breadcrumbsDividerSize: 20px;
  /* padding: 0 10px;
  margin-top: 28px; */
}

.breadcrumbs {
  --breadcrumbsTextColor: #666;
  --breadcrumbsTextColorActive: #666
}

.breadcrumbs {
  --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
  --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
  --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
  --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, #666);
  --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
  --cssuiBreadcrumbsIndent: var(--breadcrumbsIndent, 8px);
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap
}

.breadcrumbs__item_active {
  margin: 2px 0 0 0;
  padding-right: 0;
  color: var(--cssuiBreadcrumbsTextColorActive)
}

li.breadcrumbs__item {
  margin: 0 -18px 0 0
}

li.hidden_crumb {
  display: none
}

.breadcrumbs__element {
  color: #666666;
}

.propclass, a {
  cursor: pointer
}

.breadcrumbs_prop .breadcrumbs__item:after {
  top: 40%;
  margin: 0 0 0 10px
}

.breadcrumbs__item {
  display: inline-block;
  position: relative;
  padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
  margin-right: var(--cssuiBreadcrumbsIndent);
  color: var(--cssuiBreadcrumbsTextColor)
}

.breadcrumbs__item:after {
  content: var(--cssuiBreadcrumbsDivider);
  width: var(--cssuiBreadcrumbsDividerSize);
  height: var(--cssuiBreadcrumbsDividerSize);
  line-height: 1;
  text-align: center;
  font-family: 'Poppins';
  font-size: var(--cssuiBreadcrumbsDividerSize);
  color: #666666;
  top: 50%;
  right: 0;
  transform: translateY(-50%)
}
.activeTextColour{
  color: #cccccc;
}
.badgeImage{
  width: 100%;
  cursor: pointer;
  height: 340px;
}
.marginTopBreadcrums{
  margin-top: 78px;
  margin-bottom: -94px;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 3px;
}
.dropdown:hover{
  background-color: #eeeeee;
  padding: 3px;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  padding: 3px;
}
.dropdown1:hover{
  background-color: #eeeeee;
  padding: 3px;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
.marginTopImage{
  margin-top: 105px;
  /* width: 90%; */
}
.sliderArrows{
  margin-top: -210px;
  font-size: 45px;
  color: white;
}
.titleMargin{
  margin-top: 30px;
}
.titleFont{
  color: #080808;
  margin-bottom: 0px;
  font-size: 20px;
}
.statusText{
  background-color: rgba(151,27,71,.8117647058823529);
  padding: 4px;
  color: white;
  border-radius: 4px 0px 0px 4px;
}
.statusDetail{
  background-color: #cccccc;
  padding: 4px;
  color: #080808;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
}
.builderText{
  margin-top: 0px;
  color: #666;
  font-size: 16px;
}
.locality_section{
  margin: 20px 0 0 0;
}
.builderDetails{
  color: #e56e2e;
  font-weight: 600;
}
.localityText{
  color: #e56e2e;
  font-size: 16px;
}
.localityText i{
  padding: 0 6px 0 0;
}
.localityDetailText{
  color: #666;
  font-weight: 600;
}
.marginTopBhkAndDetails{
  margin-top: 20px;
  margin-bottom: 20px;
}
.textSizeBhks{
  font-weight: bold;
  font-size: 18px;
  color: #e56e2e;
  margin-bottom: 5px;
}
.sqtText{
  color: #080808;
  font-weight: bold;
}
.typesText{
  font-weight: 500;
  font-size: 17px;
  color: #666666;
}
.superBuiltupText{
  font-size: 15px;
  color: #666666;
  font-weight: 500;
  margin-top: 2px;
}
.borderRight{
  border-right: 1px solid #eeeeee;
}
.borderBottom{
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
}
.offerMargine{
  margin: 0px 0px 0px 0px;
}
.offersText{
  margin-bottom: 0px;
  color: #080808;
  font-size: 15px;
  font-weight: 500;
  margin-top: 3px;
}
.offersSubText{
  color: #e56e2e;
  font-weight: bolder;
}
.subTextOffers{
  color: #080808;
  font-weight: 600;
}
.property_details_menu {
  margin: 23px 0 0 0;
  background: white;
  border-bottom: 1px solid #ddd;
}

/*.property_details_menu ul {*/
/*  margin: 0;*/
/*  padding: 0 0 0 0px;*/
/*}*/

.property_details_menu li {
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  padding: 0px;
  margin: 0 0px;
  list-style: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.property_details_menu li a {
  color: #080808;
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 10px 15px;
}

.property_details_menu li a.active, .property_details_menu li a:hover {
  color: rgba(151,27,71,.8117647058823529)
}

.sticky-stuff.sticky .property_details_menu {
  margin: 0
}

.about_property_row:after, .property_details_menu:after {
  content: "";
  display: block;
  clear: both
}

/*#sublinks_sticky.stick1 {*/
/*  position: fixed;*/
/*  top: 45px;*/
/*  z-index: 9999;*/
/*  width: 100%;*/
/*  max-width: 100%;*/
/*  border-top: 1px solid #eee;*/
/*}*/
#sublinks_sticky.stick1 {
  position: absolute
}

div#side_bar_sticky {
  display: none
}
.marginTopOverview{
  margin-top: 15px;
  background-color: white;
}
.marginRight{
  /* width: 60%; */
}
.overViewColour{
  color: #4A061E;
  padding: 10px 0px;
  font-size: 18px;
}
.relevant_searches
{
  background: #fff;
    padding: 10px 10px 10px 10px;
    margin: 0px 0 15px 0;
}
.relevant_searches a{
  background: rgba(151,27,71,.8117647058823529);
  color: #fff;
  padding: 3px 5px 3px 5px;
  line-height: 28px;
  font-size: 12px;
}
.reraColour{
  color: #666666;
  padding: 13px 0px;
  font-size: 13px;
  text-align: end;
  font-weight: 600;
}
.borderBottomOverview{
  /* border-bottom: 1px solid #eeeeee; */
  margin-bottom: 10px;
}
.unitsText{
  font-size: 16px;
  color: #666;
}
.unitsSubText{
  font-size: 16px;
  color: #080808;
  font-weight: 500;
}

/*share icon*/
.iconpadding{
  font-size: 30px;
  padding: 0px 10px;
  color: #080808;
}
.shareicon{
  border: 1px solid;
  padding: 5px 10px;
  /*background: #212121;*/
  color: white;
  margin-top: 0px;
  background: #080808;
}
.shareicon:hover{
  border: 1px solid;
  padding: 5px 10px;
  background: #080808;
  color: white;
  margin-top: 0px;
}
.sharePropTitle{
  border-bottom: 1px dashed;
  padding: 0px 0px 8px 0px;
  color: #080808;
  text-align: center;
  margin: 0px 0px 12px 0px;
  font-weight: bold;
  font-family: 'proxima_novaregular', Arial, sans-serif;
}
.social_share_icons{
  text-align: center;
}
/*share icon*/

.marginAboutPropertyText{
  margin: 20px 0px;
}
.descrp {
  overflow: hidden;
  color: #666;
  font-size: 15px;
}
#prop_desc {
  height: 630px
}
a.clk_btn {
  color: rgba(151,27,71,.8117647058823529);
  font-weight: 600;
  font-size: 18px;
}
.arrows{
  font-size: 19px;
  margin-left: 4px;
  color: #080808;
  font-weight: 500;
}

.gallery_slider_box {
  width: 100%;
  height: 350px;
  float: left;
  /* padding: 15px 15px; */
}

.gallery_slider_box #slideshow-main {
  float: left;
  margin-right: 3px;
  width: 100%
}

.gallery_slider_box .left .glry-left-thumb img {
  width: 100%;
  height: 100%;
}

.master_plans {
  width: 95%;
  height: 400px;
}
.master_plansImge{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.price_floor_plans h3.sections {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c;
  margin: 35px 0 25px
}

.price_floor_plans .resp-tabs-list {
  width: 100%;
  margin: 0 auto 36px;
  padding: 0;
  text-align: left;
  border-bottom: 4px solid #e1e1e1
}

.price_floor_plans .resp-tabs-list li a.active, .prjct_rera {
  position: relative
}

.price_floor_plans .resp-tabs-list li {
  float: none;
  display: inline-block;
  margin: 0 70px 0 0;
  font-size: 20px;
  color: #555554;
  font-weight: 400;
  padding: 0 0 0px
}

.price_floor_plans .resp-tabs-list li a.active, .prjct_rera {
  position: relative
}

.price_floor_plans .resp-tabs-list li a:hover, .price_floor_plans .resp-tabs-list li a.active a {
  color: rgba(151,27,71,.8117647058823529)
}

.price_floor_plans .resp-tabs-list li a.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: rgba(151,27,71,.8117647058823529)
}

.price_floor_plans .resp-tabs-list li a {
  color: #555554;
  text-decoration: none
}
.price_floor_plans{
  padding: 0px 20px 0px 0px;
}
.prce_floor {
  overflow: hidden
}
li a.active.tabletextFloor {
  font-size: 15px;
  color: #555554;
  font-weight: 400;
  background: white;
  border: 1px solid white;
  border-bottom: none;
  -webkit-box-shadow: 1px -1px 8px 1px #ccc;
  -moz-box-shadow:    1px -1px 8px 1px #ccc;
  box-shadow: 1px -1px 8px 1px #ccc;
}

.descrp, .prce_floor {
  word-wrap: break-word;
  text-overflow: ellipsis
}

table.floor_tble_main {
  margin-bottom: 10px;
  width: 100%
}

tbody.floor_tble_body {
  border-bottom: 1px solid #eee;
}

tbody.floor_tble_body tr td {
  width: 20%;
  padding: 10px 0 20px
}

tbody.floor_tble_body tr td img {
  width: 70%;
  height: 100px;
  border: 1px solid #eee;
  padding: 6px
}

tbody.floor_tble_body tr td p.table_bhk_in_area {
  font-size: 11px;
  color: #999
}

tbody.floor_tble_body tr td a.enqr_btn {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background: rgba(151,27,71,.8117647058823529);
  padding: 9px;
  border-radius: 5px
}
.price_floor_plans h3.sections {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c;
  margin: 35px 0 25px
}

.price_floor_plans .resp-tabs-list {
  width: 100%;
  margin: 0px 0px 10px 10px;
  padding: 0;
  text-align: left;
  border-bottom: 4px solid #e1e1e1;
  background: #e1e1e1;
  padding-top: 0px;
}

.price_floor_plans .resp-tabs-list li a.active, .prjct_rera {
  position: relative
}

.price_floor_plans .resp-tabs-list li {
  float: none;
  display: inline-block;
  margin: 0 40px 0 0;
  font-size: 15px;
  color: #555554;
  font-weight: 400;
  padding: 9px 0;
}

.price_floor_plans .resp-tabs-list li a.active, .prjct_rera {
  position: relative
}

.price_floor_plans .resp-tabs-list li a:hover, .price_floor_plans .resp-tabs-list li a.active {
  color: rgba(151,27,71,.8117647058823529)
}

.price_floor_plans .resp-tabs-list li a.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: rgba(151,27,71,.8117647058823529)
}

.price_floor_plans .resp-tabs-list li a {
  color: #555554;
  text-decoration: none;
  padding: 8px 30px;
}
.floorPlanHeading{
  font-size: 15px;
  color: #666;
  border-bottom: 1px solid #eee;
  margin-bottom: 2px;
}
.floorPlanHeadingPadding{
  padding-bottom: 10px;
}
.tabletextFloor .a{
  font-size: 15px;
}
.show_hide {
  text-align: center
}

a.prce_clk {
  color: #fff;
  font-weight: 600
}

.show_hide a {
  /*background: #0b3544;*/
  display: inline-block;
  font-size: 18px;
  padding: 2px 20px 5px;
  color: rgba(151,27,71,.8117647058823529);
}
.paddingAreaFloorPlan{
  padding: 0px 30px 0px 0px !important;
}
.amenities{
  float: left;
  width: 16.5%;
  text-align: center;
  margin-bottom: 20px;
}
.AmenitieImage{
  height: 40px;
  width: 40px!important;
  margin-left: 44px;
}
.amenitiesText{
  font-size: 11px;
  color: #555;
  margin: 10px 0 0;
  font-weight: bolder;
  text-align: center;
}
.amenitiesMobileImage{
  /* float: left; */
  /* width: 16%; */
  text-align: center;
  margin-bottom: 37px;
  /* padding-left: 26px; */
}
.paddingAmenities{
  padding-top: 20px;
  padding-bottom: 20px;
}
.margineHeadingAmenities{
  margin-bottom: 25px;
}
.neighbourhood_section {
  margin: 15px 0 0;
  width: 100%;
  float: left
}

.neighbourhood_section h2 {
  margin: 0 0 25px
}

.neighbourhood_section span {
  display: block
}

.neighbourhood_section span img {
  width: 100%
}

.map-content {
  background-color: #fff;
  /*padding: 10px;*/
  /*border: 1px solid #999;*/
  border-bottom: 0;
  padding: 0px 14px 0px 20px;
}

.element-imgs {
  margin-right: 7px;
    margin-left: 7px;
  /*padding: 0 26px 0 0*/
}

ul.map-content li.element-imgs a {
  display: inline-block;
  padding: 0
}

.map-content > li > a.active:hover, ul.map-content li.element-imgs a {
  color: inherit;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent
}

.map-content .element-imgs span.restrnt {
  color: #0b3544
}

.map-content .element-imgs span {
  display: inherit;
  font-weight: 600;
  position: relative;
  top: 10px
}

.map-content .element-imgs span.badges {
  position: absolute;
  top: 10px;
  margin: 0 0 0 8px;
  font-size: 11px;
  background: #a5a3a3;
  color: #000;
  border-radius: 20px;
  width: 22px;
  height: 22px;
  padding: 3px 3px 4px;
  text-align: center
}

/*.map-content > li.active > a::after {*/
/*  left: 20px;*/
/*  background: rgba(151,27,71,.8117647058823529)*/
/*}*/

.map-content > li > a.active::after, .map-content >
li > a.active:hover::after, .map-content >
li.element-imgs > a:hover::after {
  height: 2px;
  display: block;
  top: 93px;
  width: 100%;
  position: absolute;
  content: ''
}

.neighbour-map {
  /*border: 1px solid #999;*/
  border-top: 0;
  width: 100%;
  height: 360px
}
.tab-content{
  padding: 10px;
}
.BanksOffersLoan{
  margin-top: 12px;
  color: #666666;
}
.bank_span{
  padding: 20px 5px;
  border: 1px solid #eee;
  margin: 6px 4px;
}
.bank_logo{
  margin: 0 20px 0 20px;
}
.bangimages{
  height: 17px;
  width: 100%;
}
.bankLogoImagespadding{
  /* margin: 0 20px 20px 20px; */
}
.approving{
  margin-top: 15px;
  color: #666666;
}
.approving_authorities{
  color: #666666;
}
.approving_authorities span{
  font-weight: 500;
}
.col-sm-2{
  width:  18.666667%;
}
.emiCalText{
  margin-bottom: 15px;
  color: #666666;
}
.homeloan_calculator_section {
  width: 100%;
  float: left
}

.loan_emi_calculator_box {
  margin: 20px 0 0
}

.loan_emi_calculator_box p.emi_calc_text {
  float: left;
  color: #666;
  font-weight: 500;
  font-size: 14px;
  margin: 9px 0 0;
}

.loan_emi_calculator_box input {
  width: 120px;
  /* border: 1px solid #d7d7d7; */
  padding: 5px 8px;
  float: right;
  font-size: 9px;
  color: #1c1c1c;
  text-align: center;
}

.loan_emi_calculator .loan_emi_scale {
  text-align: center;
  padding: 20px 0 10px;
  clear: both
}

.principal_amount {
  position: relative;
  text-align: center;
  margin: 40px 0
}

.loan_emi_calculator .loan_emi_scale img, .principal_amount img {
  max-width: 100%
}

#modal-container .verify_num
{
  font-weight: 500;
    font-size: 24px !important;
}

.principal_amount p.total_amount_class {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 400;
  color: #555;
  margin: 0
}

.principal_amount p.total_amount_class strong {
  color: #1c1c1c;
  font-size: 18px;
  display: block;
  font-weight: 400;
  margin: 10px 0 0
}

.homeloan_calculator_section .emi_indicators_main {
  margin: 0;
  float: left;
  width: 200px;
  padding: 0
}

.emi_indicators_box {
  border-bottom: 1px dashed #ccc;
  position: relative;
  margin: 25px 0 0
}

.emi_indicators_box span {
  position: absolute;
  left: -13px;
  top: 0;
  width: 15px;
  height: 15px;
  background: rgba(151,27,71,.8117647058823529);
  display: inline-block
}

.emi_indicators_box p.amount_class {
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 400;
  padding: 0 0 0 10px
}

.emi_indicators_box p.amount_class strong {
  float: right;
  color: #0b3544;
  font-weight: 600
}

i.curr_icn {
  font-size: 13px
}

.homeloan_calculator_section .property_details_ratebtn {
  float: right;
  margin: 50px 0 0
}

.monthly_emi_result {
  text-align: center
}

.monthly_emi_result p.month_emi {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c;
  margin: 0
}

p.floor_dimension {
  font-size: 12px;
  color: #999;
  margin-bottom: 0px;
}

.homeloan_calculator_section .apply_now_btn {
  float: right;
  margin: 12px 0 0
}

.apply_now_btn button {
  display: inline-block;
  font-size: 24px;
  background: #fff;
  color: #1c1c1c;
  padding: 12px 27px;
  border: 1px solid rgba(151,27,71,.8117647058823529);
  font-weight: 600;
  text-decoration: none;
  transition: all .5s ease
}

.loan_emi_calculator_box input.range_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ccc;
  padding: 0px 0px 5px 8px;
  outline: 0;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

div.intrst_rate {
  text-align: right;
  margin: 8px 0 0;
  color: #666;
  font-weight: 500;
  font-size: 14px;
}

.loan_emi_calculator_box input.range_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url(https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/property/emi-button.png) 0 2px no-repeat;
  background-size: auto;
  width: 25px;
  height: 25px;
  border-radius: 0;
  cursor: pointer
}
.eniCalRow{
  border: 1px solid #eee;
  margin: 0px;
  padding: 0px 15px 0 15px;
}
.amtBoxText{
  border: 1px solid #eee;
  padding: 5px 5px 5px 10px;
  margin: 5px 5px 0px 0px;
}
.monthlyAmount{
  margin-bottom: 0px;
  color: darkred;
  font-size: 20px;
  font-weight: 600;
}
.month_emi{
  font-size: 11px !important;
  color: #080808 !important;
  font-weight: 500;
}
.totalAmount{
  font-size: 16px;
  margin-bottom: 5px;
  color: #080808 !important;
  font-weight: 500;
}
.marginLeftEmiAmount{
  margin-left: 45px;
}
.colorOfPersent{
  color: rgba(151,27,71,.8117647058823529);
  font-weight: bold;
}
.homeLoansStartsText{
  color: #666;
  font-size: 14px;
  font-weight: 600;
}
.loanStartingBox{
  margin-top: 45px;
}
.marginLeftChart{
  margin-left: 70px;
}
.yellowLine{
  position: absolute;
  top: 30px;
  right: 160px;
  width: 150px;
}
.orengeLine{
  position: absolute;
  bottom: 5px;
  right: 160px;
  width: 150px;
}
.amount_class_yellow{
  position: absolute;
  top: 10px;
  left: 45px;
  color:  #f8d89f;
}
.amount_class_yellow_Text{
  position: absolute;
  top: 35px;
  left: 49px;
  font-size: 11px;
  font-weight: 500;
  color: #080808;
}
.amount_class_oraeng{
  position: absolute;
  bottom: 0px;
  left: 45px;
  color:  rgba(151,27,71,.8117647058823529);
}
.amount_class_oraeng_Text{
  position: absolute;
  bottom: -6px;
  left: 49px;
  font-size: 11px;
  font-weight: 500;
  color: #080808;
}
.ApplyButton{
  color: white;
  background: rgba(151,27,71,.8117647058823529);
  margin-bottom: 10px;
}
.talkSectionImage{
  background-color: #fefbf5;
  margin-top: 15px;
}
.talkImage{
  height: 250px;
}
.notQuite{
  font-size: 17px;
  font-weight: 400;
  margin-top: 35px;
  color: #080808;
  margin-bottom: 0px;
}
.talkToexpert{
  color: #080808;
  font-weight: 500;
}
.inputArea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(151,27,71,.8117647058823529);
  border-radius: 4px;
  background-color: #fefbf5;
}
.GetCallBAckButton{
  color: white;
  background-color: rgba(151,27,71,.8117647058823529);
  border: 1px solid rgba(151,27,71,.8117647058823529);
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

#sublinks_sticky.stick1 {
  position: fixed;
  top: -25px!important;
  z-index: 1234;
  width: 1405px;
  left: 0px;
}
.approvedImage{
  height: 60px;
  position: absolute;
  top: 115px;
  z-index: 1;
  left: 25px;
}
.offerImage{
  height: 25px;
}
.restorentIcon{
  height: 50px;
  padding: 12px;
}
.scrollButtonsSize{
  width: 200px;
}

.similarBuilderspropImg{
  width: 230px;
  height: 130px;
  border-radius: 4px 4px 0px 0;
}
.similarPropTextPadding{
  padding: 5px;
}
.similarPropHeading{
  color: #080808;
  margin-bottom: 0px;
  font-size: 17px;
}
.similarPropSubText{
  font-size: 12px;
  color: #666666;
  margin-bottom: 0px;
  font-weight: 500;
}
.locationiconFontSize{
  color: rgba(151,27,71,.8117647058823529);
}
.borderFormsimilarProp{
  border: 1px solid #ccc;
  margin: 8px 8px 15px 0px;
  border-radius: 5px;
}
h4.similarPropHeading {
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
p.similarPropSubTextLocation{
  font-size: 12px;
  color: #666666;
  margin-bottom: 0px;
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
.similarPropSubTextCost{
  font-size: 13px;
  color: #080808;
  font-weight: 500;
  font-family: 'Poppins';
}
.mapIcon{
  border: 2px solid #ccc;
  border-radius: 52px;
  margin: 0px 32px;
}
.restorentIconBus{
  height: 50px;
  width: 50px;
  padding: 12px;
}
.restrnt{
  padding: 2px 0px 10px 0px;
  font-weight: 500;
  font-size: 13px;
  color: #080808;
}
.iconsOfMap{
  padding-top: 10px !important;
  margin-bottom: 10px;
}
.map-content > li > a.active::after {
  left: 0px;
  background: white;
}
/*.mapIcon > li.active > a::after {*/
/*  border: 2px solid rgba(151,27,71,.8117647058823529);*/
/*  border-radius: 52px;*/
/*  margin: 0px 36px;*/
/*}*/
.mapTextBackground{
  background-color: white;
  font-size: 15px;
  color: #080808;
  font-weight: 500;
  position: absolute;
  top: -49px;
  left: 195px;
  padding: 11px;
  border-radius: 5px;
}
.subIconMap{
  height: 20px;
  margin-right: 10px;
}
.floor_plan_contactFormHeading{
  padding: 15px 0px 15px 0px;
  /* background-color: rgba(151,27,71,.8117647058823529); */
  color: #080808;
  /* margin: 0px 0px 16px 0px; */
  border-radius: 4px;
  /* text-align: center; */
}
.contactFormHeading{
  padding: 15px 0;
  /* background-color: rgba(151,27,71,.8117647058823529); */
  color: #080808;
  /* margin: 15px 0 10px; */
  border-radius: 4px;
  /* text-align: center; */
}
.marginBottomForm{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
  font-family: proxima_novaregular,Arial,sans-serif;
}
.formMargine{
  margin: 105px 0px 0px 0px;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.48);
}
.contactFormMargine{
  margin: 0px 15px;
  margin-left: 0;
}
.iamIntrestText{
  font-weight: 500;
  color: #080808;
  font-size: 15px;
  margin-bottom: 10px;
}
.BookFreeText{
  color: #080808;
  font-weight: 500;
  font-size: 22px;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-top: 0px;
}
.form-group {
  margin-bottom: 10px!important;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(151,27,71,.8117647058823529)!important;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input {
  overflow: visible;
}
.contactButton{
  background-color: rgba(151,27,71,.8117647058823529);
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0;
}
.bestIcon{
  height: 36px;
}
.timeIcon{
  height: 40px;
}
.paddingTenPx{
  padding: 0px 0px 5px 0px;
}
.paddingZeroPx{
  padding: 0px;
  color: #080808;
}
.headingTime{
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}
.textTime{
  font-size: 12px;
  font-weight: 500;
}
.marginTopRowTwenty{
  margin-top: 25px;
}
.textColourYellow{
  color: rgba(151,27,71,.8117647058823529);
  font-weight: 500;
}
.margineFormBottom{
  margin-bottom: 20px;
}
.errorText{
  display: block;
  color: #e40000;
  font-size: small;
}
div.sticky {
  position: fixed;
  z-index: 9;
  width: 330px;
  padding: 15px;
}
.marleft{
  margin-left: 15px;
}
.backgrountContactForm{
  background-color: white;
}
.property_details_menu > li > a.active::after {
  left: 20px;
  background: rgba(151,27,71,.8117647058823529);
}
.paddingfaq{
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingOffaqs{
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #eee;
}
.text_colour{
  color: #080808;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
span.faq_answerspan{
  color: #666;
  font-size: 12px;
  font-weight: bold;
}
.contentColor{
  color: #666;
  font-size: 12px;
  font-weight: bold;
}
.arrowFAQ{
  font-size: 20px;
  margin-top: 7px;
  font-weight: 600;
  color: #080808;
}
li.element-imgs a.active div.mapIcon {
  border: 2px solid rgba(151,27,71,.8117647058823529);
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

li.element-imgs a.active p.restrnt {
  color: rgba(151,27,71,.8117647058823529);
}

li.subMenu a.active {
  border-bottom: 5px solid rgba(151,27,71,.8117647058823529)!important;
  border-radius: 3px;
}
.nav-tabs>li>a.active, .nav-tabs>li>a.active:focus, .nav-tabs>li>a.active:hover {
  color: #555;
  cursor: default;
  background-color: white;
  border-bottom-color: white;
}
.container2 {
  width: 1202px;
}
.faqSeeMargine{
  margin-top: 5px;
  text-align: center;
  padding-top: 5px;
}
.faqSeeFont{
  font-size: 15px;
  font-weight: 500;
  color: #e56e2e;
}
.section1{
  background-color: white;
  /*margin-top: 15px;*/
}
#section1{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section2{
  background-color: white;
  /*margin-top: 15px;*/
}
#section2{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section7{
  background-color: white;
  /*margin-top: 15px;*/
}
#section7{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section3{
  background-color: white;
  margin-top: 15px;
}
#section3{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section4{
  background-color: white;
  /*margin-top: 15px;*/
}
#section4{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section5{
  background-color: white;
  /*margin-top: 15px;*/
}
#section5{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section6{
  background-color: white;
  /*margin-top: 15px;*/
}
#section6{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section8{
  background-color: white;
  /*margin-top: 15px;*/
}
#section8{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section9{
  background-color: white;
  margin-top: 0px;
}
#section9{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
.section10{
  background-color: white;
  margin-top: 0px;
}
#section10{
  /*background: rgb(244, 244, 244);*/
  height: 40px;
  margin: 10px!important;
}
#floating_bar {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 5%;
  width: 90%;
  background-color: rgba(151,27,71,.8117647058823529);
  box-shadow: 0 1px 3px 1px #666;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 11;
  padding: 10px 5px
}

#floating_bar h3 {
  background: url(https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/property/call.png) 8% no-repeat;
  background-size: 8% 100%
}
.head{
  font-size: 20px;
  color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  margin: 12px 0 10px 0px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 10px 5px;
}
.HideSideBar{
  display: none;
}
.modal-dialog {
  width: 450px;
  margin: 30px auto;
  top: 50px;
}
.close {
  z-index: 99999;
  right: 5px;
  top: 10px;
  position: absolute;
  background: #fff;
  border-radius: 26px;
  opacity: .5;
  width: 7%;
  font-size: 30px;
  font-weight: 500;
}
.modal_enqury_cntnt{
  height: 385px;
}
.mapIcon:hover {
  border: 2px solid rgba(151,27,71,.8117647058823529);
  -webkit-box-shadow: 3px 3px 5px 6px #eee;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #eee;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #eee;
}
.mapIcon:hover .restrnt{
  color: #e56e2e;
}
.nav-tabs>li>a:hover {
  border-color: transparent;
  color: #e56e2e;
}

.verified p{
  position: absolute;
    top: 120px;
    z-index: 1;
    left: 25px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav {
  padding-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  list-style: none;
}
.nav-tabs {
  border-bottom: none;
}
.sqrNumText{
  font-size: 15px;
  font-weight: bold;
  color: #080808;
}
.similarProjectsMargineBottom{
  margin-bottom: 30px;
}

.get_call_back {
  top: 0;
  right: 0;
  transform: none;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 10000;
  position: fixed
}
/*.sticky-stuff{*/
/*  width: 60%*/
/*}*/
.floaImages{
  float: left;
}
.custom_class{
  border: 1px solid #dddddd;
  padding: 10px 0 10px 0;
  margin-right: 5px;
}

/*new header function*/
.fixed-header{
  display: none;
}
#sublinks_sticky .active{
  border-bottom: 4px solid rgba(151,27,71,.8117647058823529);
  color: rgba(151,27,71,.8117647058823529)!important;
}
#sublinks_sticky .active a{
  color: rgba(151,27,71,.8117647058823529)!important;
}
.WriteReviewBtn{
  color: rgba(151,27,71,.8117647058823529);
  background-color: #FFF0EA;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sortByText{
  color: #888888;
  font-weight: 600;
  font-size: 14px;
  /* width: 82px; */
  padding: 0px;
  text-align: right;
}
.reviewBorder{
  border: 1px solid #C9C9C9;
  padding: 15px;
  margin-bottom: 10px;
}
.reviewerNAme{
  padding: 15px 0 15px 0;
  font-size: 17px;
  font-weight: 600;
  color: #666666;
}
.reviewHeading{
  font-size: 15px;
  color: black;
  font-weight: 600;
  padding: 15px 0px;
}
.reviewDescp{
  font-size: 15px;
  color: black;
  padding: 0px 0px;
}
.clarificationText{
  /*font-weight: bold;*/
  font-size: 18px;
  color: #666666;
}
.postYourText{
  font-size: 15px;
  color: #666666;
}
.postTextArea{
  width: 100%;
}
.PostQuestionBtn{
  color: rgba(151,27,71,.8117647058823529);
  background-color: #FFF0EA;
  margin-bottom: 10px;
}
.reviewSection{
  background: white;
  padding: 10px;
}
.badge-success{
  background-color: #DAFFD9;
  color: #14771E;
  padding: 5px 12px 5px 12px;
  margin-bottom: 15px;
}
.userIcon{
  font-size: 30px;
  margin-top: 8px;
}
.starColour{
  font-weight: 600!important;
  color: transparent; /* Set the inner color to transparent */
  background: linear-gradient(135deg, #FE0 25%, #FFE100 62.85%, #FFA400 166.67%); /* Apply the linear gradient as the background */
  background-clip: text;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  float: left;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: initial;
  font-size: 28px;
  color: rgba(151,27,71,.8117647058823529);
  cursor: pointer;
  padding: 9px;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}
#reviewModel{
  z-index: 99999;
}
#reviewModel .close{
  z-index: 99999;
  right: 22px;
  top: 9px;
  position: absolute;
  border-radius: 26px;
  opacity: .5;
  font-size: 30px;
  font-weight: 500;
  background: none;
  outline: none;
}
#reviewModel input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: .85;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #d3d3d3;
}
#reviewModel .postTextArea {
  width: 100%;
  padding: 10px;
  border-color: #dcdcdc;
  border-radius: 3px;
}
#reviewModel .modal-dialog {
  width: 739px;
  margin: 30px auto;
  top: 50px;
}
#reviewModel .modal-header{
  height: 45px;
}
.scrollDivHide{
  display: none!important;
}
.scrollDivShow{
  display: block!important;
}
/*new header function*/
.offersSection{
  background: #64f1822e;
  margin: 0;
  padding: 7px;
  border-radius: 5px;
}
.excitingOffer{
  color: darkgreen;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'proxima_novaregular', Arial, sans-serif;
  margin-left: -10px;
}
@media (min-width : 1920px) and (max-width: 2560px){
}

@media (min-width : 1500px) and (max-width: 1920px){
}

@media (min-width: 993px) and (max-width: 1080px) {
  div.sticky{
    position: fixed;
    z-index: 9;
    width: 380px;
  }
  .marginTopBreadcrums {
    margin-top: 45px;
  }
  .marginTopImage {
    margin-top: 100px;
    width: 90%;
  }
  .approvedImage {
    height: 60px;
    position: absolute;
    top: 110px;
    z-index: 1;
    left: 25px;
  }
  .sliderArrows {
    margin-top: -180px;
    font-size: 45px;
    color: white;
  }
  .offerImage {
    height: 40px;
  }
  .property_details_menu li {
    font-weight: 400;
    font-size: 8px;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0 0px;
    list-style: none;
    cursor: pointer;
    float: left;
    color: #fff;
  }
  .nav-tabs>li>a {
    margin-right: -1px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .price_floor_plans .resp-tabs-list li {
    float: none;
    display: inline-block;
    margin: 0 0px 0 0;
    font-size: 15px;
    color: #555554;
    font-weight: 400;
    padding: 0 0 5px;
  }
  #sublinks_sticky.stick1 {
    position: fixed;
    top: -25px!important;
    z-index: 9999;
    /* width: 100%;
    max-width: 100%;
    border-top: 1px solid #eee; */
  }
  .amenitiesMobileImage {
    /* float: left; */
    /* width: 16%; */
    text-align: center;
    margin-bottom: 30px;
    /* padding-left: 30px; */
  }
  .mapIcon {
    border: 2px solid #ccc;
    border-radius: 52px;
    margin: 0px 22px;
  }
  .mapTextBackground {
    left: 130px;
  }
  .col-sm-2 {
    width: 22.666667%;
  }
  .marginLeftEmiAmount {
    margin-left: 30px;
  }
  .marginLeftChart {
    margin-left: 47px;
  }
  .yellowLine {
    position: absolute;
    top: 30px;
    right: 135px;
    width: 135px;
  }
  .orengeLine {
    position: absolute;
    bottom: 5px;
    right: 135px;
    width: 135px;
  }
  .amount_class_yellow {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #f8d89f;
    font-size: 13px;
  }
  .amount_class_yellow_Text {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #080808;
  }
  .amount_class_oraeng {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: rgba(151,27,71,.8117647058823529);
    font-size: 13px;
  }
  .amount_class_oraeng_Text {
    position: absolute;
    bottom: -12px;
    left: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #080808;
  }
  .homeLoansStartsText {
    color: #666;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .loanStartingBox {
    margin-top: 20px;
  }
  .talkImage {
    height: 210px;
    margin-top: 25px;
  }
  .notQuite {
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    color: #080808;
    margin-bottom: 0px;
  }
  .talkToexpert {
    color: #080808;
    font-weight: 500;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 993px) {
  .parent_div{
    background-color: #fff;
  }
  div.sticky {
    position: fixed;
    z-index: 9;
    width: 295px;
  }
  .marginTopBreadcrums {
    margin-top: 32px;
  }
  .approvedImage {
    height: 55px;
    position: absolute;
    top: 115px;
    z-index: 1;
    left: 25px;
  }
  .sliderArrows {
    margin-top: -140px;
    font-size: 45px;
    color: white;
  }
  .titleFont {
    font-size: 16px;
  }
  .statusDetail {
    font-size: 9px;
  }
  .statusText {
    font-size: 9px;
  }
  .builderText {
    font-size: 15px;
  }
  .localityText {
    font-size: 15px;
  }
  .textSizeBhks {
    font-size: 15px;
  }
  .offerImage {
    height: 35px;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
    font-size: 9px;
  }
  #sublinks_sticky.stick1 {
    position: fixed;
    top: 37px;
    z-index: 9999;
    /* width: 100%;
    max-width: 100%;
    border-top: 1px solid #eee; */
  }
  .price_floor_plans .resp-tabs-list li a {
    color: #555554;
    text-decoration: none;
    padding: 0 0px 0px 0px;
  }
  tbody.floor_tble_body tr td a.enqr_btn {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    background: rgba(151,27,71,.8117647058823529);
    padding: 9px;
    border-radius: 5px;
  }
  .amenitiesMobileImage {
    /* float: left; */
    /* width: 16%; */
    text-align: center;
    margin-bottom: 27px;
    /* padding-left: 25px; */
  }
  .reraColour {
    font-size: 10px;
  }
  .master_plans {
    width: 95%;
    height: 100%;
  }
  .mapIcon {
    border: 2px solid #ccc;
    border-radius: 52px;
    margin: 0px 7px;
  }
  .mapTextBackground {
    left: 60px;
  }
  .marginrForShopingMall{
    margin-left: 17px;
    margin-right: 16px;
  }
  .bangimages {
    height: 12px;
  }
  .col-sm-2 {
    width: 22.666667%;
  }
  .calWidthIpad{
    width: 100%;
  }
  .loanStartingBox {
    margin-top: 20px;
  }
  .homeLoansStartsText {
    font-size: 15px;
  }
  .marginLeftEmiAmount {
    margin-left: 30px;
  }
  .marginLeftChart {
    margin-left: 80px;
  }
  .amount_class_yellow_Text {
    position: absolute;
    top: 35px;
    left: 60px;
    font-size: 10px;
    font-weight: 500;
    color: #080808;
  }
  .amount_class_yellow {
    position: absolute;
    top: 10px;
    left: 60px;
    color: #f8d89f;
  }
  .amount_class_oraeng_Text {
    position: absolute;
    bottom: -6px;
    left: 60px;
    font-size: 10px;
    font-weight: 500;
    color: #080808;
  }
  .amount_class_oraeng {
    position: absolute;
    bottom: 0px;
    left: 60px;
    color: rgba(151,27,71,.8117647058823529);
  }
  .callBackImageDispalyIpad{
    display: none;
  }
  .callBackWidthDispalyIpad{
    width: 100%;
  }
  .bestIcon {
    height: 27px;
  }
  .timeIcon {
    height: 30px;
  }
  .BookFreeText {
    color: #080808;
    font-weight: 500;
    font-size: 17px;
    margin-top: 0px;
  }
  .iamIntrestText {
    font-weight: 500;
    color: #080808;
    font-size: 13px;
    margin-bottom: 0px;
  }
  h4.similarPropHeading {
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .similarPropHeading {
    color: #080808;
    margin-bottom: 0px;
    font-size: 10px;
  }
  p.similarPropSubTextLocation {
    font-size: 11px;
    color: #666666;
    margin-bottom: 0px;
    white-space: nowrap;
    width: 119px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }
  .similarPropSubText {
    font-size: 11px;
    color: #666666;
    margin-bottom: 0px;
    font-weight: 500;
  }
  .similarPropSubTextCost {
    font-size: 10px;
    color: #080808;
    font-weight: 500;
    font-family: 'Poppins';
  }
  }




/*all new css page*/
.PropImg{
  width: 100%;
  position: absolute;
  top: 0px;
  height: 540px;
}
.shape1{
  position: absolute;
  z-index: 9;
}
/*all new css page*/



.pdfText{
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 30px;
}
.mainDivPDF{
  position: fixed;
  z-index: 999;
  height: 0em;
  overflow: visible;
  margin: auto;
  top: -170px;
  left: 0;
  bottom: 0;
  right: 0;
}
.spinner-border {
  display: inline-block;
  width: 3rem!important;
  height: 3rem!important;
  vertical-align: text-bottom;
  border: .35em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}
