
 <!-- <ng-container *ngComponentOutlet="innerheader"></ng-container> -->
<section class="awards_section_main" id="blog_section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="testimonial_head underline-1 mb-4">Awards</h3>
                  <div class="row mb-4"  photoGalleryGroup>
                    <div class="col-6 col-md-4">
                      <div class="card card_awardsheight">
                        <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/casagrand-trophy.png">
                        <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/casagrand-trophy.png" class="award_img" alt="..."></a>
                        <div class="card-body card-body-text">
                          <h4 class="award-head">CASAGRAND TEAM AWESOME AWARD 2020</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-4">
                    <div class="card card_awardsheight">
                      <a  photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Commonfloor-trophy-slide.png">
                      <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Commonfloor-trophy-slide.png" class="award_img" alt="..."></a>
                      <div class="card-body card-body-text">
                        <h4 class="award-head">COMMONFLOOR</h4>
                        <!-- <p class="card-text">Real Estate website of the Year (2018-2019)</p> -->
                      </div>
                    </div>
                    </div>
                    <div class="col-6 col-md-4">
                      <div class="card card_awardsheight">
                        <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Quikrhomes-Trophy-slide.png">
                        <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Quikrhomes-Trophy-slide.png" class="award_img" alt="..."></a>
                        <div class="card-body card-body-text">

                          <h4 class="award-head">QUIKR HOMES</h4>
                          <!-- <p class="card-text">Emerging Realty Marketing Portal of the year 2018-2019</p> -->
                        </div>
                      </div>
                      </div>
                    <div class="col-6 col-md-4">
                      <div class="card card_awardsheight">
                        <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Siliconindia-trophy-slide.png">
                        <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Siliconindia-trophy-slide.png" class="award_img" alt="..."></a>
                        <div class="card-body card-body-text">

                          <h4 class="award-head">SILICON INDIA</h4>
                          <!-- <p class="card-text">Real Estate Website of the year 2019 </p> -->
                        </div>
                      </div>
                      </div>
                    <div class="col-6 col-md-4">
                    <div class="card card_awardsheight">
                      <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/IBE-trophy-slide.png">
                      <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/IBE-trophy-slide.png" class="award_img" alt="..."></a>
                      <div class="card-body card-body-text">
                        <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->

                        <h4 class="award-head"> IBE</h4>
                        <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                      </div>
                    </div>
                    </div>
                    <div class="col-6 col-md-4">
                      <div class="card card_awardsheight">
                        <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Leadgenerator-Trophy-slide.png">
                        <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Leadgenerator-Trophy-slide.png" class="award_img" alt="..."></a>
                        <div class="card-body card-body-text">
                          <h4 class="award-head">AJMERA REALTY</h4>
                          <!-- Frontier Valued Contributor  -->
                          <!-- <p class="card-text">Real Estate website of the Year (2018-2019)</p> -->
                        </div>
                      </div>
                      </div>
                      <div class="col-6 col-md-4">
                        <div class="card card_awardsheight">
                          <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Frontier-Trophy-slide.png">
                          <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Frontier-Trophy-slide.png" class="award_img" alt="..."></a>
                          <div class="card-body card-body-text">
                            <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                            <h4 class="award-head">FRONTIER HEIGHTS</h4>
                            <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                          </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-4">
                          <div class="card card_awardsheight">
                            <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/casagrand.png">
                            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/casagrand.png" class="award_img" alt="..."></a>
                            <div class="card-body card-body-text">
                              <h4 class="award-head">CASAGRAND</h4>
                            </div>
                          </div>
                        </div>
                      <div class="col-6 col-md-4">
                        <div class="card card_awardsheight">
                          <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/assetz-slide.png">
                          <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/assetz-slide.png" class="award_img" alt="..."></a>
                          <div class="card-body card-body-text">
                            <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                            <h4 class="award-head">ASSETZ PROPERTY GROUP</h4>
                            <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                          </div>
                        </div>
                        </div>
                      <div class="col-6 col-md-4">
                        <div class="card card_awardsheight">
                          <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Ahad-slide.png">
                          <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Ahad-slide.png" class="award_img" alt="..."></a>
                          <div class="card-body card-body-text">
                            <h4 class="award-head">AHAD EXCELLENCIA</h4>
                            <!-- <p class="card-text">Emerging Realty Marketing Portal of the year 2018-2019</p> -->
                          </div>
                        </div>
                        </div>
                      <div class="col-6 col-md-4">
                        <div class="card card_awardsheight">
                          <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Arvind-smartspaces-slide.png">
                          <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Arvind-smartspaces-slide.png" class="award_img" alt="..."></a>
                          <div class="card-body card-body-text">
                            <h4 class="award-head">ARVIND SMARTSPACES</h4>
                            <!-- Arvind Smartspaces Certificate of Excellence Award -->
                            <!-- <p class="card-text">Real Estate Website of the year 2019 </p> -->
                          </div>
                        </div>
                        </div>

                      <div class="col-6 col-md-4">
                        <div class="card card_awardsheight">
                          <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Common-floor-slide.png">
                          <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Common-floor-slide.png" class="award_img" alt="..."></a>
                          <div class="card-body card-body-text">
                            <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                            <h4 class="award-head">COMMONFLOOR</h4>
                            <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                          </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-4">
                          <div class="card card_awardsheight">
                            <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/India-property-slide.png">
                            <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/India-property-slide.png" class="award_img" alt="..."></a>
                            <div class="card-body card-body-text">
                              <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                              <h4 class="award-head">IBE</h4>
                              <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                            </div>
                          </div>
                          </div>
                          <div class="col-6 col-md-4">
                            <div class="card card_awardsheight">
                              <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Puravankara-slide.png">
                              <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Puravankara-slide.png" class="award_img" alt="..."></a>
                              <div class="card-body card-body-text">
                                <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                                <h4 class="award-head">PURAVANKARA GROUP </h4>
                                <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                              </div>
                            </div>
                            </div>
                            <div class="col-6 col-md-4">
                              <div class="card card_awardsheight">
                                <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Quikrhomes-slide.png">
                                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Quikrhomes-slide.png" class="award_img" alt="..."></a>
                                <div class="card-body card-body-text">
                                  <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                                  <h4 class="award-head">QUIKR HOMES</h4>
                                  <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                                </div>
                              </div>
                              </div>
                              <div class="col-6 col-md-4">
                                <div class="card card_awardsheight">
                                  <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Sobha-slide.png">
                                  <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Sobha-slide.png" class="award_img" alt="..."></a>
                                  <div class="card-body card-body-text">
                                    <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                                    <h4 class="award-head">SHOBHA DREAM SERIES</h4>
                                    <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                                  </div>
                                </div>
                                </div>
                                <div class="col-6 col-md-4">
                                  <div class="card card_awardsheight">
                                    <a photoGallery="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Vishnavi-slide.png">
                                    <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/awards/Vishnavi-slide.png" class="award_img" alt="..."></a>
                                    <div class="card-body card-body-text">
                                      <!-- <h4 class="award-head">INTERNATIONAL BRAND EQUITY</h4> -->
                                      <h4 class="award-head">VAISHNAVI GROUP</h4>
                                      <!-- <p class="card-text">Real Estate protal of the Year 2020</p> -->
                                    </div>
                                  </div>
                                </div>

                  </div>
        </div>
      </div>
    </div>
  </section>
<div *ngIf="loaded">
    <ng-container *ngComponentOutlet="FooterComponent"></ng-container>
  </div>
  <div class="innerheader_position">
    <app-innerheader></app-innerheader>
</div>
