 .modal-backdrop.show {
   all: unset;
 }

 .card-headerr {
   margin: 114px 0 0 0;
 }

 ::-webkit-scrollbar {
   display: none;
   /* Hide the scrollbar in webkit browsers */
 }

 ::ng-deep .btn:focus {
   outline: 0;
   box-shadow: none !important;
 }

 input:focus-visible {
   outline: none !important;
 }
.topbarcolor {
   margin: 114px 0 0 0;
 }
  .city_search_filter {
   margin: 123px 0 0 0;
 }

 #conatctbutton {
   margin: 114px 0 0 0;
 }

  /* //owl checking */
 .owl-nav .owl-prev {
   position: absolute;
   top: calc(50% - 25px);
   left: 0;
   opacity: 1;
   font-size: 30px !important;
   z-index: 1;
 }

 .owl-nav .owl-next {
   position: absolute;
   top: calc(50% - 25px);
   right: 0;
   opacity: 1;
   font-size: 30px !important;
   z-index: 1;
 }
  .prop_name a {
   color: #080808 !important;
   font-family: Poppins;
   font-size: 12px;
   font-weight: 600 !important;
 }


 .main_move_right {
   float: right;
   margin: 21px 8px 0 0px !important;
 }

 .main_move_left {
   float: left;
   margin: -63px 0 0 -46px !important;
 }
 /* update by veera*/
 .footer {
   margin-top: 3%;
   padding-top: 2%;
   border-top: 1px solid #ccc;
   text-align: center;
   margin-bottom: 57%;
 }

 .footer p {
   font-size: 32px;
   color: #971b47cf;
   margin: 0;
   padding: 0;
   font-weight: bold;
 }
  .get_call_back {
   overflow-x: hidden;
   overflow-y: scroll;
 }

 .formStyle {
   margin: auto 18px;
 }
 
 div.scrollmenu {
   background-color: white;
   overflow-x: scroll;
   white-space: nowrap;
   overflow-y: hidden;
 }

 div.scrollmenu span {
   display: inline-block;
   /* color: white; */
   text-align: center;
   text-decoration: none;
 }

 div.scrollmenu span:hover {
   background-color: white;
 }

 div.scrollmenu a {
   display: inline-block;
   color: white;
   text-align: center;
   text-decoration: none;
 }

 div.scrollmenu a:hover {
   background-color: white;
 }

 .scrollmenu {
   -ms-overflow-style: none;
 }

 .scrollmenu::-webkit-scrollbar {
   display: none;
 }
 @media (min-width: 993px) and (max-width: 1080px) {
   .owl-nav.owl-prev.main_move_left {
     bottom: 75px;
   }

   .owl-nav.owl-next.main_move_right {
     top: -18px;
   }
 }

 @media (min-width: 768px) and (max-width: 992px) {
   .owl-nav.owl-prev.main_move_left {
     left: 5px;
     bottom: 58px;
   }
 }

 .btn.focus,
 .btn:focus {
   outline: none !important;
   box-shadow: none !important;
 }
/* Pradeesh */
 .SocialMediaSection {
   padding-bottom: 5rem;
 }























