.backGroundColor {
  background: #f6f7f9;
}

.banner-section {
  background-image: url("https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/mobile_header.png");
}


.sidenav .closebtn {
  position: absolute;
  top: -9px;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  /* width: 1000px; */
  z-index: 1;
  left: 240px;
  top: 58px;
  box-shadow: 4px 2px 2px 0px #cccccc52;
  border-radius: 0px 20px 20px 0px;
}

div.dropdown-content a {
  color: black;
  padding: 0px;
  line-height: 35px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-family: "poppins";
}

.dropdown-content a:hover {
  color: #e0305e;
  font-weight: 600;
}

.headerUserLogo:hover .dropdown-content {
  display: block;
  width: 62px;
  height: 50px;
  text-align: center;
}

.headerUserLogo:hover .dropbtn {
  background-color: #f1f1f1;
}

.headerUserLogo .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgb(0 0 0/20%);
  top: 37px;
  border-radius: 5px;
  padding: 4px;
  left: 30%;
  font-size: 10px;
}

.dropbtn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* overflow: hidden; */
}

.nav_logo a.logo_nav img {
  width: 67%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: rgba(242, 242, 242, .94);
  overflow-x: hidden;
  transition: .5s;
  box-shadow: 0 0 20px silver;
}

.blogmark {
  background: #971B47 !important;
  color: #fff !important;
  padding: 3px 12px 4px 12px;
  font-size: 11px;
  margin: 2px 5px;
  border-radius: 7px;
}

.about_us_banner {
  position: relative
}

.about_us_banner img {
  width: 100%;
  /* filter: brightness(.8) */
}

.about_us_banner h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin: 0
}

.active {
  color: rgba(151, 27, 71, .8117647058823529);
}

/*   */

.breadcrumbs_type {
  position: absolute;
  top: 3%;
  width: 100%;
  padding: 0 10px;
  --breadcrumbsDivider: "›";
  --breadcrumbsDividerSize: 20px
}

.breadcrumbs {
  --breadcrumbsTextColor: #D1C4E9;
  --breadcrumbsTextColorActive: #fff
}

.breadcrumbs {
  --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
  --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
  --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
  --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
  --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
  --cssuiBreadcrumbsIndent: var(--breadcrumbsIndent, 8px);
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap
}

.breadcrumbs__item {
  display: inline-block;
  position: relative;
  padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
  margin-right: var(--cssuiBreadcrumbsIndent);
  color: var(--cssuiBreadcrumbsTextColor)
}

.breadcrumbs__element {
  color: #fff
}

.breadcrumbs__item_active {
  margin-right: 0;
  padding-right: 0;
  color: var(--cssuiBreadcrumbsTextColorActive)
}

.breadcrumbs__item:after {
  content: var(--cssuiBreadcrumbsDivider);
  width: var(--cssuiBreadcrumbsDividerSize);
  height: var(--cssuiBreadcrumbsDividerSize);
  line-height: 1;
  text-align: center;
  font-family: 'Poppins';
  font-size: var(--cssuiBreadcrumbsDividerSize);
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%)
}

a.breadcrumbs__element:hover {
  color: rgba(151, 27, 71, .8117647058823529);
  text-decoration: none
}

.blogs_main {
  margin-top: 25px
}

h2.main_story_title {
  font-size: 18px
}

.blogs_div {
  overflow: hidden;
  margin-right: 8px;
  margin-bottom: 20px;
  width: 32%;
  padding: 0;
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .95) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .95)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .95) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .95) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .95) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .95) 100%)
}

.blogs_div a {
  width: 100%;
  float: left;
  height: 200px;
}

.blogs_div a img {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.blogs_div a h3 {
  position: absolute;
  color: #ffff;
  font-size: 16px;
  top: 70px;
  margin: 0 0 0 20px;
  line-height: 20px
}

.blogs_div a p {
  color: #ffff;
  font-size: 10px;
  margin: -18px 0 0 18px
}

.blogs_div a span {
  color: #fff;
  font-size: 10px;
  float: right;
  margin: -18px 20px 18px 0
}

h4.article_search {
  margin-bottom: 0;
  font-size: 18px;
}

/* .div_search input {
  width: 100%;
  height: 35px;
  padding: 0px 0px 0px 12px;
  float: left;
  border-radius: 4px;
  border: 0.5px solid #ECECEC;
  background: #FFF;
  } */

input[type=email],
input[type=password],
input[type=search],
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none
}

.categories {
  width: 100%;
  float: left;
  margin: 30px 0 0 0
}

.blogs_section h3 {
  font-size: 18px;
  font-weight: 600
}

.recent_shortdesc {
  overflow: hidden;
  height: 36px;
  font-size: 12px;
  margin-bottom: 0;
}

.recent_shortdescipad {
  display: none;
}

.shortdescRecent {
  color: #080808;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.48;
}

.categories h1 {
  font-size: 18px;
  margin: 0
}

.category_sections a {
  background: #ededed;
  color: #000;
  padding: 8px 20px 8px 20px;
  float: left;
  margin: 14px 10px 0 0
}

.latest_updates {
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}

.latest_updates h4 {
  font-size: 18px;
  margin: 0px 0 18px 0;
}

.specific_inform {
  width: 100%;
  float: left;
  margin: 30px 0 30px 0;
  border: 1px solid #ddd;
  padding: 25px;
}

.specific_inform h4 {
  font-size: 18px;
  margin: 0
}

.specific_inform p {
  color: #999;
  margin: 12px 0 0 0;
  font-size: 12px
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: white;
}

.specific_form {
  width: 100%;
  float: left;
  margin: 15px 0 0 0
}

.form_sec_div {
  width: 100%;
  float: left;
  margin: 0 0 15px 0
}

.specific_form label {
  font-size: 12px
}

.specific_form input {
  border: 0
}

.specific_form button {
  width: 100%;
  float: left;
  background: rgba(151, 27, 71, .8117647058823529);
  color: #fff;
  text-align: center;
  padding: 6px 6px 6px 6px;
  margin: 12px 0 0 0;
  border-radius: 4px;
  border: 0
}

.recent_img_div img {
  height: 100px;
  width: 100%
}

.recent_main {
  width: 100%;
  float: left;
  margin: 15px 0 0;
}

.recent_img_div {
  height: 120px;
  overflow: hidden;
  padding-left: 0
}

.recent_details h3 {
  font-size: 14px;
  font-weight: 600;
  margin: -17px 0 0px 0;
}

.recent_details p.latest_ptag {
  color: #999;
  font-size: 9px;
  float: left;
  margin: 0 11px 0 0;
  font-weight: 700
}

.bind_text {
  overflow: hidden
}

.recent_details p.recent_shortdesc {
  color: #666;
  font-size: 12px;
  width: 100%;
  float: left;
  margin: 8px 0 0 0
}

.recent_details {
  margin: 0
}

ul.ngx-pagination {
  float: right
}

.ngx-pagination {
  float: right
}

.slick-slider {
  width: 100%;
  margin: auto
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important
}

.next-slide.slick-disabled,
.prev-slide.slick-disabled {
  pointer-events: none;
  opacity: .2
}

.prev-slide:hover {
  background-position: 0 -53px
}

.next-slide:hover {
  background-position: -24px -53px
}

.blog_stories a.stories_img img {
  width: 100%;
  border-radius: 4px;
  height: 200px
}

.blog_stories a.stories_img img {
  width: 100%;
  border-radius: 4px;
  height: 200px
}

.blog_stories {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 0 15px 0;
  height: 274px
}

.slick-initialized .slick-slide.blog_stories {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 0 15px 0;
  height: 274px
}

.blog_stories h2 {
  font-size: 15px;
  font-weight: 600
}

.blog_stories p.recent_ptag {
  font-size: 12px !important;
  float: left;
  margin: 0 55px 0 0;
  color: #999;
}

.blog_stories p.bind_text {
  width: 100%;
  float: left;
  margin: 16px 0 0 0;
  text-align: justify;
  font-size: 14px !important;
}

.blog_stories h3 {
  font-size: 15px;
  font-weight: 600;
  margin: -17px 0 0px 0;
}

.blog_stories h2 {
  font-size: 15px;
  font-weight: 600
}

.blog_stories a.article_btn {
  width: 30%;
  float: left;
  color: #000;
  border: 1px solid rgba(151, 27, 71, .8117647058823529);
  border-radius: 3px;
  text-align: center;
  padding: 6px 6px 6px 6px;
  font-size: 14px;
  margin: 22px 0 40px 0;
  text-decoration: none
}

.ui-menu .ui-menu-item:hover .ui-menu-item-wrapper {
  border: 0;
  background-color: grey;
  color: #fff;
  transition: background .3s linear
}

.ui-menu .ui-menu-item:hover {
  border: 0;
  background-color: grey;
  color: #fff;
  text-decoration: none
}

.autocontent a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  margin: 0 0 0 11px
}

.ui-widget-content {
  max-height: 250px;
  overflow-y: scroll
}

.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff;
  color: #222
}

.ui-menu .ui-menu-item {
  padding: 0;
  font-size: 11px;
  font-weight: 100
}

.ui-menu .ui-menu-item {
  position: relative;
  margin: 0;
  padding: 10px 0 13px 0;
  cursor: pointer;
  min-height: 0;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)
}

.ui-menu-item-wrapper {
  width: 100%;
  padding: 10px
}

li.autocontent.ui-menu-item {
  margin: 0 0 0 -40px !important
}

.top_story_slider ul.slick-dots {
  text-align: right;
  margin: 0 0 50px -77px
}

.slide_head {
  margin: 0
}

.blog_search_btn {
  float: left;
  margin-top: 12px;
  position: relative;
}

.blog_search_btn a {
  background: rgba(151, 27, 71, .8117647058823529);
  margin-left: -10px;
  text-align: center;
  padding: 9px 26px;
  border-radius: 4px;
}

.search_input_box .mat-form-field {
  width: 82%;
  float: left;
}

/* OTP-DESIGN */
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  background: white;
  padding: 15px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 400;
  position: relative;
  width: 95%;
  height: 340px;
}

#modal-container .modal-background .modal button {
  background: rgba(151, 27, 71, .8117647058823529);
  color: #fff;
  border: 0;
  padding: 12px;
  margin: 30px 0 0 0;
  width: 140px;
  border-radius: 5px;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 50px;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}


/* OTP-DESIGN */

/* CSS-LOADER-DESIGN */
.loaderbody {
  backdrop-filter: blur(5px);
  text-align: center;
  box-sizing: border-box;
  font-family: 'Poppins';
  position: fixed;
  width: 100%;
  min-height: 4500px;
  z-index: 999999;
  top: 0;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  font-size: 32px;
  padding: 1em;
  position: relative;
  margin: 70% auto;
  vertical-align: top;
  -webkit-transition: .3s color, .3s border, .3s transform, .3s opacity;
  transition: .3s color, .3s border, .3s transform, .3s opacity;
}

[class*="loader-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  pointer-events: none;
}

.loader-20 {
  background-color: rgba(151, 27, 71, .8117647058823529);
  box-shadow: inset 0px 0px 0px .1em currentcolor;
  border-radius: 50%;
  position: relative;
}

.loader-20:after,
.loader-20:before {
  position: absolute;
  content: "";
  background-color: currentcolor;
  top: .5em;
  left: .5em;
  height: .1em;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.loader-20:after {
  width: .4em;
  -webkit-animation: loader-20 2s linear infinite;
  animation: loader-20 2s linear infinite;
}

.loader-20:before {
  width: .3em;
  -webkit-animation: loader-20 8s linear infinite;
  animation: loader-20 8s linear infinite;
}

@-webkit-keyframes loader-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* CSS-LOADER-DESIGN */

/* Count_Down_design */
.countdown_maindiv {
  margin: 4px auto 15px auto;
}

#modal-container .modal-background .modal .otpexpireclass {
  margin: -4px;
  font-size: 13px;
}


/* new blog css */

.main-blog .scrollmenu {
  background-color: white;
  overflow-x: scroll;
  white-space: nowrap;
}

.main-blog .scrollmenu span {
  display: inline-block;
  color: #080808;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
}

.blogs_main .scrollmenu {
  background-color: white;
  overflow-x: scroll;
  white-space: nowrap;
}

.blogs_main .scrollmenu .blog-card {
  display: inline-flex;
  color: black;
  text-align: center;
  margin: 0 20px 0px 0;
  text-decoration: none;
}

.recent-blogs_main .scrollmenu {
  background-color: white;
  overflow-x: scroll;
  white-space: nowrap;
}

/* .recent-blogs_main .scrollmenu .recent-blog-card{
      display: inline-table;
      color: black;
      text-align: center;
      margin: 0 20px 0px 0;
      text-decoration: none;
    }
    .recent-blog-card{
      width: 75% !important;
    }
    .recent-blogs_main{
      margin-top: 25px;
    } */

.blog-card-text {
  white-space: break-spaces;
}

.blog-cart-title {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.blog-card {
  width: 75% !important;
}

/* ream more btn css */
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  align-self: center;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  left: 128px;
  top: 8px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 500;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

/* ream more btn css */

/* see more btn */
.see-more-btn {
  appearance: none;
  background-color: rgba(151, 27, 71, .8117647058823529);
  border: 2px solid white;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  left: 300px;
  bottom: 35px;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 500;
}

/* see more btn */
/* fixed footer css */

.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: -webkit-box;
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
}

.mobile-bottom-nav__item {
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-align: center;
  font-size: 15px;
  display: -webkit-box;
  display: flex;
  outline: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.mobile-bottom-nav__item-content {
  display: -webkit-box;
  display: flex;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  color: #080808;

}

.iconColor {
  color: #080808;
  font-size: 18px;
}

/* fixed footer css */

/* trending css */
.trend-blog-bottom {
  border-bottom: 2px solid #080808;
}

.trend-blog-title {
  color: #080808;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 20px;
  font-family: Poppins;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.trending-blog img {
  height: 80%;
  width: 80%;
  position: absolute;
}

.trending-blog2 img {
  height: 90%;
  width: 90%;
  position: absolute;
}

.addedby {
  color: #080808;
  text-align: right;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trending-blog .row-padding {
  border-bottom: 1px solid #72727233;
  padding: 16px 0 0 0;
}

.trending-blog2 .row-padding {
  border-bottom: 1px solid #72727233;
  padding: 8px 0 0 0;
}

.Trending-updates h5 {
  /* text-align-last: center; */
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}


::ng-deep .Trending-updatesTop .owl-item {
  height: 199px !important;
}


.Trending-updatesTop h5 {
  /* text-align-last: center; */
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.latest_ptag {
  color: #080808;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* trending css */

/* recent blog css */
.recent-blog-height {
  height: 100%;
  border: 0px solid rgba(0, 0, 0, .125) !important;
}

.recent-blog-padding {
  padding: 10px 0px 0 0;
}

.recent-img-div img {
  height: 100px;
  width: 100%;
}

/* recent blog css */

/* top blog css */

.top_img_div img {
  height: 91px;
  width: 32%;
  position: absolute;
}

.topblog-card-text {
  padding-left: 143px;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-right: 0;
}

/* top blog css end */

.main-blog {
  padding-bottom: 5px;
  padding-top: 5px;
  box-shadow: 1px 5px 5px #aaaaaa6b;
}

.vedio-section h4 {
  margin: 20px 0 20px 0;
  color: rgba(151, 27, 71, .8117647058823529);
}

.blog-category-text {
  color: #4A061E;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
}

.blog-category-home {
  font-size: 20px;
  color: darkblue;
}

/* video section css */

.blogsVideoTitle {
  font-size: 12px;
  color: #080808;
}

.treandingBlogheading {
  margin: 0px 0 20px 0;
  color: #4A061E;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trending_explore_btn {
  text-align: right;
  margin: 35px 0 0px 0;
  padding-right: 0;
}

.video_explore_btn {
  text-align: right;
}


.trendingBlogsReadMore {
  color: #971b47;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
}



/* video section css */
.mobile_view_search {
  /* background: cadetblue; */
  margin: 10px 0 10px 0;
}

/* blog content section */
.blog_content_main {
  max-height: 200px;
  overflow-y: scroll;
  background: aliceblue;
  padding: 15px 0;
  margin-bottom: 30px;
}

.blog_content_main h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  font-family: 'Poppins';
}

.blog_content_main p {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-align: justify;
  font-family: 'Poppins';
}

/* blog content section */


/*ipad pro start*/
@media (min-width:993px) and (max-width:1080px) {
  .blog_stories a.article_btn {
    width: 45%;
    margin: 22px 0 30px 0
  }

  .recent_img_div img {
    height: 120px;
    width: 120%
  }

  .trend-blog-title {
    font-size: 20px !important;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 0px;
  }

  .shortdescRecent {
    color: #080808;

    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.48;
  }

  .latest_ptag {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Poppins';
  }

  .trending-blog img {
    height: 100% !important;
    width: 80%;
    position: absolute;
  }

  .topblog-card-text {
    padding-left: 143px;
    padding-top: 16px;
    padding-bottom: 0px;
    padding-right: 0;
  }

  .recent_shortdescipad {
    display: block;
  }

  .Trending-updates p.recent_shortdescipad {
    color: #212529;
    width: 100%;
    float: left;
    /* margin: 5px 0 0 0; */
    height: 0px;
    font-size: 20px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: 'Poppins';
  }
}

/*ipad pro end*/

/*ipad start*/
@media (min-width:768px) and (max-width:992px) {
  .trending-blog img {
    height: 100% !important;
  }

  .trend-blog-title {
    font-size: 17px !important;
    font-weight: 800 !important;
  }

  .latest_ptag {
    font-size: 15px !important;
    font-weight: 400 !important;
    font-family: 'Poppins';
  }

  .shortdescRecent {
    color: #080808;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.48;
  }

  .top_img_div img {
    height: 100%;
    width: 30%;
    position: absolute;
  }

  .topblog-card-text {
    padding-left: 143px;
    padding-top: 16px;
    padding-bottom: 0px;
    padding-right: 0;
  }

  .recent_shortdesc {
    display: none;
  }

  .Trending-updates p.recent_shortdescipad {
    color: #212529;
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    height: 45px;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: 'Poppins';
  }

  .recent_shortdescipad {
    overflow: hidden
  }
}

/*ipad end*/

@media (min-width:480px) and (max-width:767px) {
  .about_us_banner {
    margin: 105px 0 0
  }

  .about_us_banner img {
    height: 90px
  }

  .about_us_banner h2 {
    font-size: 20px
  }

  .slide_head {
    margin: 5px 0 0 0
  }

  .blogs_div {
    width: 48%
  }

  .recent_img_div img {
    width: 100%
  }

  .recent_details h3 {
    font-size: 14px;
    font-weight: 600;
    margin: -17px 0 0px 0;
    color: #000;
  }


}

@media (min-width:412px) and (max-width:479px) {
  .blog_search_btn a {
    top: 53px;
    right: 4%
  }

  .blogs_div a img {
    width: 100%
  }

  .main_blogs_section {
    width: 100%;
    float: left;
    margin: 20px 0 0 0
  }

  .recent_main {
    border: 1px solid #ddd
  }

  .recent_img_div {
    height: 145px;
    padding-right: 0
  }

  .recent_img_div img {
    height: auto
  }

  .mobile_view_search {
    width: 100%;
    float: left
  }

  .top_stories .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 0;
    right: 2px
  }

  .blog_stories {
    overflow: hidden
  }

  .about_us_banner h1 {
    font-size: 18px
  }

  .about_us_banner {
    margin: 104px 0 0
  }

  .about_us_banner img {
    height: 90px
  }

  .about_us_banner h2 {
    font-size: 20px
  }

  .slide_head {
    margin: 5px 0 0 0
  }

  .blogs_div {
    width: 100%
  }

  .recent_img_div img {
    width: 100%
  }

  .recent_details h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 30px 0 5px 0;
    color: #000;
  }
}

@media (min-width:375px) and (max-width:411px) {
  .see-more-btn {
    left: 270px !important;
  }

  .btn {
    left: 120px !important;
  }

  .blog_search_btn a {
    top: 53px;
    right: 4%
  }

  .blogs_div a img {
    width: 100%
  }

  .main_blogs_section {
    width: 100%;
    float: left;
    margin: 20px 0 0 0
  }

  .recent_main {
    border: 1px solid #ddd
  }

  .recent_img_div {
    height: 125px;
    padding-right: 0
  }

  .recent_img_div img {
    height: auto
  }

  .mobile_view_search {
    width: 100%;
    float: left
  }

  .top_stories .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 0;
    right: 2px
  }

  .blog_stories {
    overflow: hidden
  }

  .about_us_banner h1 {
    font-size: 18px
  }

  .about_us_banner {
    margin: 104px 0 0
  }

  .about_us_banner img {
    height: auto;
  }

  .about_us_banner h2 {
    font-size: 20px
  }

  .slide_head {
    margin: 5px 0 0 0
  }

  .blogs_div {
    width: 100%
  }

  .recent_img_div img {
    width: 100%
  }

  .recent_details h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0 6px 0;
    color: #000;
  }
}

@media (min-width:360px) and (max-width:374px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 334px !important;
  }
}

@media (min-width:360px) and (max-width:374px) {

  .owlWebStory .owl-item {
    height: 322px !important;
  }

  /* ream more btn css */
  .btn {
    left: 106px !important;
  }

  /* ream more btn css */

  /* see more btn */
  .see-more-btn {
    left: 251px !important;
  }

  /* see more btn */
  .blog_search_btn a {
    top: 53px;
    right: 4%
  }

  .blogs_div a img {
    width: 100%
  }

  .main_blogs_section {
    width: 100%;
    float: left;
    margin: 20px 0 0 0
  }

  .recent_main {
    border: 1px solid #ddd
  }

  .recent_img_div {
    height: 125px;
    padding-right: 0
  }

  .recent_img_div img {
    height: auto
  }

  .mobile_view_search {
    width: 100%;
    float: left
  }

  .top_stories .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 0;
    right: 2px
  }

  .blog_stories {
    overflow: hidden
  }

  .about_us_banner h1 {
    font-size: 18px
  }

  .about_us_banner {
    margin: 105px 0 0
  }

  .about_us_banner img {
    height: 90px
  }

  .about_us_banner h2 {
    font-size: 20px
  }

  .slide_head {
    margin: 5px 0 0 0
  }

  .blogs_div {
    width: 100%
  }

  .recent_img_div img {
    width: 100%
  }

  .recent_details h3 {
    font-size: 14px;
    font-weight: 600;
    margin: -29 0 5px 0;
    color: #000;
  }
}

@media (min-width:320px) and (max-width:359px) {
  .blogs_div {
    width: 47%;
    height: 68px
  }

  .blogs_div a img {
    height: 100%;
    width: 100%
  }

  .blogs_div a h3 {
    font-size: 10px;
    top: 20px;
    margin: 0 0 0 13px;
    line-height: initial
  }

  .blogs_div a span {
    display: none
  }

  .blog_search_btn a {
    top: 159%;
    right: 10px
  }

  .blogs_section {
    float: left;
    width: 100%
  }
}

@media (max-width:320px) {

  ::ng-deep .owlWebStory .owl-item {
    height: 273px !important;
  }

  .blog_search_btn a {
    top: 2.2%;
    right: 4%
  }

  .trend-blog-title {
    font-size: 12px;
  }

  .addedby {
    font-size: 10px;
  }

  .latest_ptag {
    font-size: 10px;
  }

  .shortdescRecent {
    font-size: 10px;
    opacity: 0.48;
  }

  .blogs_div a img {
    width: 100%
  }

  .main_blogs_section {
    width: 100%;
    float: left;
    margin: 20px 0 0 0
  }

  .recent_main {
    border: 1px solid #ddd
  }

  .recent_img_div {
    height: 125px;
    padding-right: 0
  }

  .recent_img_div img {
    height: auto
  }

  .mobile_view_search {
    width: 100%;
    float: left
  }

  .top_stories .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 0;
    right: 2px
  }

  .blog_stories {
    overflow: hidden
  }

  .about_us_banner h1 {
    font-size: 18px
  }

  .about_us_banner {
    margin: 105px 0 0
  }

  .about_us_banner img {
    height: 90px
  }

  .about_us_banner h2 {
    font-size: 20px
  }

  .slide_head {
    margin: 5px 0 0 0
  }

  .blogs_div {
    width: 100%
  }

  .recent_img_div img {
    width: 100%
  }

  .recent_details h3 {
    font-size: 14px;
    font-weight: 600;
    margin: -17px 0 0px 0;
    color: #000;
  }
}

.propImg {
  height: 147px;
  border-radius: 4px;
  overflow: hidden;
}

.propImg img {
  height: 100%;
  /* object-fit: cover; */
}



.blogsMainSliderDetails {
  background-color: white;
  position: relative;
  left: 37px;
  top: -40px;
  height: 80px;
  /* box-shadow: 0px 12px 24px -6px #181A2A1F; */
  /* box-shadow: 2px 1px 4px 1px #05030357; */
  width: 70%;
  padding: 4px 10px;
  border-radius: 4px;
}


.blogCategoryDiv1 {
  background: #971B470F;
  color: #971b47;
  font-size: 6px;
  font-weight: 400;
  border-radius: 2px;
  display: table;
  padding: 4px;
  margin: 0px 0px 4px 0px;
}


.blogsHeading {
  margin-bottom: 8px;
  height: 30px;
  overflow: hidden;
  line-height: 14px;
}

.blogsHeading a {
  font-size: 10px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  color: #181A2A;
}

.authorname {
  color: #97989f;
  font-weight: 500;
  font-size: 8px;
  float: left;
}

.blogsdate {
  color: #97989f;
  font-weight: 400;
  margin-bottom: 0px;
  font-size: 8px;
  white-space: nowrap;
}




/* Web Story Start */

::ng-deep a:hover {
  text-decoration: none !important;
}

.owlWebStoryNoImage {
  height: 366px;
  width: 287px;
  /* box-shadow: 0px 7px 18px 0px #64646F33; */
  padding: 0px 32px 12px 32px;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
}

.owlWebStory {
  /* height: 434px;
    width: 96%;
    box-shadow: 0px 7px 18px 0px #64646F33;
    padding: 12px 32px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden; */
  width: 95%;
  /* height: 320px; */
  /* width: 294px; */
  /* box-shadow: 0px 7px 18px 0px #64646F33; */
  padding: 0px 32px 12px 32px;
  border-radius: 8px;
  /* background: #fff; */
  background: #ffffff;
  overflow: hidden;
  height: 440px;
}



.webstory-container {
  width: 100%;
  /* height: 235px; */
  overflow: hidden;
  border-radius: 6px;
}


::ng-deep .owlWebStory .owl-item.active.center {
  /* opacity: 1 !important;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 123;
    height: 575px !important;
    transition: 0.3s ease-in-out; */

  opacity: 1 !important;
  margin-top: 20px;
  margin-left: 0px;
  z-index: 123;
  height: 100% !important;
  transition: 0.3s ease-in-out;
  padding-bottom: 10px;


  /* width: 176px !important; */

  .webstory-container {
    /* width: 156px; */
    /* height: 235px; */
    overflow: hidden;
    border-radius: 6px;
  }

  .home-button a {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    display: block;
    /* text-align: center; */
    line-height: 16px;
    /* height: 72px; */
    max-height: 32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    color: #000000;
    text-align: center;
    text-decoration: none;
    /* margin-left: -6px; */
  }

  .addedByDatas .addedByTag {
    color: #97989F;
    font-size: 10px;
    margin-bottom: 0px;
    font-weight: 500;
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 114px;
    /* font-family: 'poppins'; */
  }

  .addedByDatas .addedByCreated {
    color: #97989F;
    font-size: 9px;
    margin-bottom: 0px;
    font-weight: 400;
    display: block;
    white-space: nowrap;
    /* font-family: 'poppins'; */

  }
}

::ng-deep .owlWebStory .owl-item {
  /* opacity: 0.3 !important;
    margin-top: 14px;
    transition: 0.3s ease-in-out;
    height: 525px !important;
    z-index: 1;
    border-radius: 16px;
    overflow: hidden; */


  opacity: 0.3 !important;
  margin-top: 34px;
  transition: 0.3s ease-in-out;
  height: 256px;
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;

  /* width: 136px !important; */
  .home-button a {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    display: none;
  }

  .addedByDatas .addedByTag {
    display: none;
  }

  .addedByDatas .addedByCreated {
    display: none;
  }
}



.progress-bar-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 94%;
  padding: 7px 5px 5px;
  z-index: 1001;
  top: 0px;
  filter: drop-shadow(0 1px 8px #222);
}

.progress-bar-containerHome {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 7px 5px 5px;
  z-index: 1001;
  top: 0px;
  filter: drop-shadow(0 1px 8px #222);
}

.progress-bar {
  height: 2px;
  flex: 1;
  margin: 0 5px;
  border-radius: 2px;
  /* background: #555; */
  background: #ffffff79;

  position: relative;
}

.progress-bar-inner {
  background: #fff;
  height: 100%;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left center;
}

.progress-bar-inner.active {
  animation: fillBar 5s linear forwards;
}

@keyframes fillBar {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.story-image-container {
  /* display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: 100%; */

  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  width: 100%;
  /* height: 234px; */
  border-radius: 6px;
}

.story-image-container img {
  width: auto;
  max-width: 100%;
  margin: auto;
  /* height: 360px; */
}

.clickable-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(0 0 0 / 15%), transparent 19.61%);
}

.clickable-overlay .left-half,
.clickable-overlay .right-half {
  width: 50%;
  cursor: pointer;
}

.home-button {

  position: relative;
  bottom: -5px;
  left: 0%;
  background: none;
  color: #000000;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  z-index: 1002;
}




@media (min-width:480px) and (max-width:767px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 452px !important;
  }

  .owlWebStory {
    height: 556px !important;
  }
}

/* @media (min-width:320px) and (max-width:359px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 280px !important;
  }

  .owlWebStory {
    height: 390px !important;
  }
} */

@media (width:384px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 349px !important;
  }

  .owlWebStory {
    height: 446px !important;
  }
}

@media (width:393px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 296px !important;
  }

  .owlWebStory {
    height: 456px !important;
  }
}

@media (width:353px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 314px !important;
  }

  .owlWebStory {
    height: 413px !important;
  }
}

@media (width:375px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 331px !important;
  }

  .owlWebStory {
    height: 437px !important;
  }
}


@media (width:414px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 377px !important;
  }

  .owlWebStory {
    height: 480px !important;
  }
}

@media (width:390px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 353px !important;
  }

  .owlWebStory {
    height: 476px !important;
  }
}


@media (width:430px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 396px !important;
  }

  .owlWebStory {
    height: 500px !important;
  }
}


@media (width:412px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 382px !important;
  }

  .owlWebStory {
    height: 480px !important;
  }
}

@media (width:344px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 302px !important;
  }

  .owlWebStory {
    height: 423px !important;
  }
}

@media (width:411px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 376px !important;
  }

  .owlWebStory {
    height: 498px !important;
  }
}

@media (width:424px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 390px !important;
  }

  .owlWebStory {
    height: 520px !important;
  }
}

@media (width:434px) {
  ::ng-deep .owlWebStory .owl-item {
    height: 401px !important;
  }

  .owlWebStory {
    height: 534px !important;
  }
}



/* Web Story End */




.blogListMain {
  border: 1px solid #E8E8EA;
  padding: 10px;
  border-radius: 12px;
  width: 188px;
  background: #fff;
  position: relative;
}

.trendingblogImageSize {
  width: 168px;
  height: 122px !important;
  border-radius: 6px;
}


.blogCategoryDiv {
  background: #971B470F;
  color: #971b47;
  font-size: 8px;
  font-weight: 500;
  border-radius: 2px;
  display: inline-block;
  padding: 6px;
  margin: 8px 0px 4px 0px;
}

.trendingblogsHeadingMain {
  font-size: 12px;
  color: #181A2A;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 9px;
  height: 31px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
}


.addedByDatas .addedByTagList {
  color: #97989F;
  font-size: 8px;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.addedByDatas .addedByCreatedList {
  color: #97989F;
  font-size: 8px;
  font-weight: 400;
  display: block;

}

.webStoryIcon {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}

.webStoryIcon1 {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.blogVideoListMain {
  border: 1px solid #E8E8EA;
  padding: 10px;
  border-radius: 12px;
  width: 188px;
  background: #fff;

  /* height: 373px; */
}


.viewBlogVideo {
  background: #971b47;
  color: #fff;
  font-size: 8px;
  font-weight: 500;
  outline: none !important;
  border: none !important;
  border-radius: 4px;
  padding: 4px;
}

.viewBlogVideo a {
  color: #fff;
}





/* popup webstory start */




.owlWebStoryList {
  width: 100%;
  box-shadow: 0px 7px 29px 0px #64646F33;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.webstory-container1 {
  /* display: flex;
    flex-direction: column;
    background: #111;
    position: relative;
    width: 254px;
    height: 66%;
    user-select: none;
    border-radius: 16px;
    overflow: hidden; */


  display: flex;
  flex-direction: column;
  /* background: #111; */
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0px;
  overflow: hidden;
}

.story-image-container1 {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 100%;
}

.story-image-container1 img {
  width: auto;
  max-width: 100%;
  margin: auto;
  height: 100%;
  /* height: 360px; */
}


.clickable-overlay1 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 19.61%);

}

.clickable-overlay1 .left-half,
.clickable-overlay1 .right-half {
  width: 50%;
  cursor: pointer;
}




.home-button1 {

  position: absolute;
  bottom: 7px;
  width: 100%;
  background: none;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1002;
  padding: 0px 12px;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

.home-button1 .titleAnchorTag {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  height: 56px;
  text-decoration: none;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 0.8s ease-out forwards;
}

.home-button1 .viewBlogBtn {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;


  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 0.8s ease-out forwards;

}





.home-button1 .addedByCreatedPopup,
.home-button1 .addedByTagPopup {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 0.8s ease-out forwards;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-button1 .titleAnchorTag {
  animation-delay: 0.3s;
}

.home-button1 .addedByCreatedPopup {
  animation-delay: 0.5s;
}

.home-button1 .addedByTagPopup {
  animation-delay: 0.7s;
}

.home-button1 .viewBlogBtn {
  animation-delay: 0.9s;
}






.popup {
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blurred-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(12px);
  transform: scale(1.05);
  z-index: -1;
}

.popup-content {
  width: 100%;
  height: 100%;
  position: relative;
  animation: fadeIn 0.3s ease-in-out forwards;
  z-index: 1;
}

.animate-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 2s ease-in-out forwards;
}

.zoom-out {
  animation: zoomOut 2s ease-in-out forwards;
}






















/* .popup-content {
  width: 429px;
  height: 100%;
  position: relative;
  animation: fadeIn 0.3s ease-in-out forwards;
} */

.animate-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.close-btn {
  position: absolute;
  top: 3px;
  right: 16px;
  font-size: 36px;
  cursor: pointer;
  color: #971b47;
  z-index: 9;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}


.viewBlogBtn {
  width: 138px !important;
  background: #971b47;
  color: #fff;
  font-size: 20px !important;
  font-weight: 500 !important;
  outline: none !important;
  border: none !important;
  border-radius: 6px;
}

.viewBlogBtn a {
  color: #fff;
}


.addBanner1 {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}


.navTextWipe {
  font-family: 'Poppins';
  font-size: 16px;
  margin: 0px;
  padding: 8px 0px;
  color: #000;
  border-bottom: 1px solid rgb(0 0 0 / 8%);
}

.navTextWipe a {
  color: #000 !important;

}


ul.nav_links li a {
  font-size: 14px;
  color: #000;
  display: block;
  padding: 0 0 0 8px;
  line-height: 40px;
  text-decoration: none;
  font-family: "Poppins";
}


.nav_social_icon {
  margin: 0;
  padding: 5px 16px 0;
  clear: both;
}

.nav_social_icon ul {
  margin: 0;
  padding: 0;
  /* text-align: center;   */
}

.nav_social_icon li {
  margin: 0 10px;
  padding: 0;
  display: inline-block;
}

.nav_social_icon li a {
  background: url(https://d1zt14hr2k4poi.cloudfront.net/version2.0/images/icons-social-media.png)
    no-repeat;
  display: block;
  cursor: pointer;
}

.nav_fb {
  background-position: -7px -6px !important;
}

.nav_fb,
.nav_in,
.nav_insta,
.nav_twitter {
  height: 25px;
  width: 25px;
}

.nav_insta {
  background-position: -53px -6px !important;
}

.nav_twitter {
  background-position: -99px -6px !important;
}

.nav_in {
  background-position: -145px -6px !important;
}
