.mainbg {
  background-image: url("https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/login/mobile-login.png");
  min-height: 93vh;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.banner {
  height: 180px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.home_logo {
  text-align: center;
  margin-bottom: 10%;
}

.home_logo img {
  width: 40%;
}

.home_logo h1 {
  color: #080808;
  font-size: 20px;
  margin-top: 3%;
}

.formtext {
  font-size: 16px;
  color: gray;
  margin-top: 30px;
  text-align: center;
  padding: 0 30px;
}

.formdiv {
  margin-top: 50px;
}

.siginformdiv {
  margin-bottom: 50px;
}

.googlesigntext {
  font-size: 16px;
  color: rgba(151,27,71,.8117647058823529);
  padding: 0 20px;
}

.toast {
  position: fixed;
  bottom: 10%;
  right: 30%;
  background: #d4edda;
  color: #155724;
  padding: 5px 10px;
}

.googleloginbutton {
  display: block;
  margin: 25px auto 20px;
  border: 1px solid rgba(151,27,71,.8117647058823529);
  padding: 3px 20px;
  font-size: 18px;
  color: rgba(151,27,71,.8117647058823529);
  text-align: center;
  cursor: pointer;
  background: white;
  border-radius: 25px;
  width: 80%;
}

.signinbutton {
  display: block;
  /*margin: 0px auto 20px;*/
  border: 1px solid #080808;
  padding: 3px 10px;
  font-size: 15px;
  color: white;
  text-align: center;
  cursor: pointer;
  background: #080808;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Poppins';
  float: right;
}

.googleloginbutton img {
  width: auto;
  height: 25px;
}

.Signupmain {
  margin-top: 20%;
  text-align: center;
  font-size: 18px;
}

.Signupmain p {
  color: gray;
}

.Signupmain span {
  color: rgba(151,27,71,.8117647058823529);
}

.showpassdiv {
  margin-left: 50px;
  margin-top: -32px;
}

.backarrow {
  position: absolute;
  top: 10px;
  left: 25px;
}

.alertshow {
  font-size: 14px;
  color: red;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
}

.log {
  /*background-color: #FFF;*/
  padding: 10px 0 0 0;
  /*height: 100vh;*/
}

.log .input-cont {
  position: relative;
  margin: 0 50px 60px;
}

.log .input-cont:last-of-type {
  margin-bottom: 30px;
}

.log .input-cont input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40px;
  outline: none;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  background: none;
  border: none;
}

.log .input-cont input:focus {
  outline: none;
}

.log .border1,
.log .border2 {
  position: absolute;
  height: 1px;
  background-color: #000000;
  left: 0;
  bottom: 0;
  width: 100%;
}

.log .border1::after,
.log .border1::before,
.log .border2::after,
.log .border2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.log .border1::after,
.log .border2::after {
  right: 50%;
  background-color: rgba(151,27,71,.8117647058823529);
}

.log .border1::before,
.log .border2::before {
  left: 50%;
  background-color: rgba(151,27,71,.8117647058823529);
}

.log .input-cont input:focus ~ .border1::after,
.log .input-cont input:focus ~ .border1::before,
.log .input-cont input:focus ~ .border2::after,
.log .input-cont input:focus ~ .border2::before {
  width: 50%;
}

.log .check,
.log a {
  float: left;
  width: calc(50% - 50px);
  display: block;
  font-size: 14px;
  margin-bottom: 30px;
}

.log .check {
  margin-left: 50px;
}

.log a {
  float: right;
  text-decoration: none;
  color: rgba(151,27,71,.8117647058823529);
}

.log a:hover {
  text-decoration: underline;
  color: rgba(151,27,71,.8117647058823529);
}
.fa-paper-plane{
  font-size: 13px;
}
.maindiv button {
  display: block;
  /*margin: 0px auto 20px;*/
  border: 1px solid #971B47;
  padding: 3px 10px;
  font-size: 15px;
  color: white;
  text-align: center;
  cursor: pointer;
  background: #971B47;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Poppins';
  float: left;
  /*display: block;
  margin: 0px auto 20px;
  border: 2px solid transparent;
  padding: 3px 10px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background: #080808;
  border-radius: 25px;
  outline: none;
  width: fit-content;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-family: 'Poppins';*/
}

/* OTP-DESIGN */

/* CSS-LOADER-DESIGN */
.loaderbody {
  backdrop-filter: blur(5px);
  text-align: center;
  box-sizing: border-box;
  font-family: 'Poppins';
  position: fixed;
  width: 100%;
  min-height: 4500px;
  z-index: 999999;
  top: 0;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  font-size: 32px;
  padding: 1em;
  position: relative;
  margin: 70% auto;
  vertical-align: top;
  -webkit-transition: .3s color, .3s border, .3s transform, .3s opacity;
  transition: .3s color, .3s border, .3s transform, .3s opacity;
}

[class*="loader-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  pointer-events: none;
}

.loader-20 {
  background-color: rgba(151,27,71,.8117647058823529);
  box-shadow: inset 0px 0px 0px .1em currentcolor;
  border-radius: 50%;
  position: relative;
}

.loader-20:after, .loader-20:before {
  position: absolute;
  content: "";
  background-color: currentcolor;
  top: .5em;
  left: .5em;
  height: .1em;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.loader-20:after {
  width: .4em;
  -webkit-animation: loader-20 2s linear infinite;
  animation: loader-20 2s linear infinite;
}

.loader-20:before {
  width: .3em;
  -webkit-animation: loader-20 8s linear infinite;
  animation: loader-20 8s linear infinite;
}

@-webkit-keyframes loader-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* CSS-LOADER-DESIGN */

/* Count_Down_design */
.countdown_maindiv {
  margin: 4px auto 15px auto;
}

#modal-container .modal-background .modal .otpexpireclass {
  margin: -8px;
  font-size: 13px;
}

/* OTP-DESIGN */
#modal-container, #modal-container2 {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 123456;
}

#modal-container.one, #modal-container2.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal, #modal-container2.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out, #modal-container2.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal, #modal-container2.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background, #modal-container2 .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal, #modal-container2 .modal-background .modal {
  background: white;
  padding: 15px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 400;
  position: relative;
  /* width: 95%; */
  /* height: 340px; */
}

#modal-container .modal-background .modal button, #modal-container2 .modal-background .modal button {
  background: #971b47;
  color: #fff;
  border: 0;
  padding: 12px;
  margin: 15px 0 0 0;
  width: 140px;
  border-radius: 5px;
}

#modal-container .modal-background .modal .modal-svg, #modal-container2 .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect, #modal-container2 .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

#modal-container .modal-background .modal h2, #modal-container2 .modal-background .modal h2 {
  font-size: 26px;
  /* line-height: 25px; */
  /* margin-bottom: 15px; */
}

#modal-container .modal-background .modal p, #modal-container2 .modal-background .modal p {
  font-size: 16px;
  line-height: 23px;
  margin: auto;
  padding: 0;
  width: auto;
  background: transparent;
  /* color: #000; */
  margin-bottom: 9px;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* OTP-DESIGN */

@media screen and (min-width: 412px) and (max-width: 480px) {
  .otpimg {
    width: 100% !important;
    max-width: 80% !important;
  }
}


@media (min-width: 360px) and (max-width: 374px) {
  .log .input-cont {
    margin: 0 50px 42px;
  }

  .googleloginbutton {
    left: 115px;
  }
}

@media (min-width: 375px) and (max-width: 411px) {
  .googleloginbutton {
    left: 140px;
  }

  .log .input-cont {
    margin: 0 50px 42px;
  }
}

@media (min-width: 412px) and (max-width: 479px) {
  .googleloginbutton {
    left: 140px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .googleloginbutton {
    left: 100px;
  }
}


/* -------------------Pradeesh----------------------------- */

.loginModelImg {
    width: 170px;
}
.loginModelText {
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins";
    margin-top: 10px;
}
#otpVerificationTxt{
    color: #971B47;
    font-size: 28px;
    margin-top: 0px;
  }
#enterOtp{
    font-size: 16px;
    line-height: 23px;
}
  #editNum{
    color: #0072b1;
  }
  .countdown_maindiv{
    color: #E84C0A;
  }
#modal-container .modal-background .modal .otpexpireclass,
#modal-container2 .modal-background .modal .otpexpireclass,
#modal-container3 .modal-background .modal .otpexpireclass, 
#modal-container4 .modal-background .modal .otpexpireclass {
    margin-top: 14px;
    font-size: 13px;
}
 #editNum{
    color: #0072b1;
  }
    .mobileLogButton1 {
    border: none;
    padding: 9px;
    border-radius: 0px;
    background: #971b47;
    color: #fff;
    width: 80%;
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
  }
  .loginModelText1{
    font-size: 15px !important;
    font-weight: 400 !important;
    font-family: Poppins;
    margin-top: 10px !important;
  }
  /* .hed1{
    font-size: 16px;
    line-height: 23px;
  } */

.otpimg{
  width: 100%;
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.imgcontainer {
    text-align: center;
    /* margin: 24px 0 12px 0; */
    position: relative;
}

.close-login {
    position: absolute;
    right: 9px;
    top: -41px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.close-login:hover,
.close-login:focus {
    color: #080808;
    cursor: pointer;
}
