<!-- <ng-container *ngComponentOutlet="innerheader"></ng-container> -->
<div id="conatctbutton">
  <!-- <app-float-contact></app-float-contact> -->
  <!-- <ng-container *ngComponentOutlet="FloatContact"></ng-container> -->
</div>
<div class="about_us_banner">
  <!-- <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/privacy/privacy.png"
    alt="privacy-policy-header"> -->
  <h1>Privacy Policy</h1>
  <ul class="breadcrumbs breadcrumbs_type">
    <li class="breadcrumbs__item"><a href="https://www.homes247.in/" class="breadcrumbs__element">Home</a></li>
    <li class="breadcrumbs__item breadcrumbs__item_active"><span class="breadcrumbs__element">Privacy Policy</span></li>
  </ul>
</div>

<div class="container privacy_main">
  <div class="row">
    <div class="col-12">
      <div class="privacy_poilicy_content">
        <!-- <h4>Privacy Policy </h4> -->
        <h5>PERSONAL INFORMATION:</h5>
   
        <p>
          Personal Information means any information relating to you from which you can be identified either by that
          information alone, or with other information which is in the possession of, or likely to come into the
          possession of us.
        </p>
        <br />
        <p>
          The personal information provided by the users to us will not be provided to third parties without
          the previous consent of the concerned user. Information of a general nature may however, be revealed to
          external parties. Every effort shall be made to keep the information provided by the users in a safe manner,
          the information will be displayed on the website will be done so only after obtaining consent from the users.
        </p>
        <br />
        <p>
          You are solely responsible for maintaining the confidentiality of the User password and user identification
          and all activities and transmission performed by the User through his user identification and shall be solely
          responsible for carrying out any online or off-line transaction.
        </p>
        <br />
        <p>
          Homes247.in assumes no responsibility or liability for their improper use of information relating to such
          usage of credit cards/debit cards used by the subscriber online / off-line. A user always has the option of
          not providing the information which is not mandatory.
        </p>
        <br />
        <p>
          In order to provide a personalized browsing experience, we may collect personal information from you. Also, we
          may require you to complete a registration form or ask for some information seeking your preferences regarding
          the property you are looking for. Based on your preferences, we will be able to deliver or allow you to access
          the most relevant information that meets your end.
        </p>
        <br />
        <p>
          Any User browsing this website is not required to disclose his identity or provide any of his information
          every time. It is only at the time of registration, the User is required to furnish the details in the
          registration form.
        </p>
        <br />
        <p>
          You agree that we may use personal information provided by you to improve its marketing and promotional
          efforts, to analyse site usage, improve the Site's content and product offerings, and customize the Site's
          content, layout, and services. This shall further improve the website content and help us to tailor it to meet
          your needs and to provide a smooth, efficient, safe and customized experience while using this website.
        </p>
             <p>
          When you voluntarily send us electronic mail / fillup the form, we will keep a record of this information so
          that we can respond to you. We only collect information from you when you register on our site or fill out a
          form. Also, when filling out a form on our site, you may be asked to enter your: name, e-mail address or phone
          number. You may, however, visit our site anonymously. In case you have submitted your personal information and
          contact details, we reserve the rights to Call, SMS, Email or WhatsApp about our products and offers, even if
          your number has DND activated on it.
        </p>
        <br />
        <h5>Share of Personal Information:</h5>
        <p>
          We do not share your information with unaffiliated third parties. We may however, share your information with
          our own personnel and our service providers to the extent necessary to fulfill your requests. We may also
          share your information with our affiliates, but we will not share it with unaffiliated third parties for
          direct marketing purposes. We reserve the right to disclose your information under limited circumstances, such
          as to cooperate with law enforcement or judicial authorities as required by law or legal process, to protect
          our own legal rights, or to protect the public good.
        </p>

        <h5>Cookies:</h5>
        <p>
          A cookie is a very small text document, which often includes an anonymous unique identifier. When you visit a
          website, that site`s computer asks your computer for permission to store this file in a part of your hard
          drive specifically designated for cookies.
        </p>
        <br />
        <p>
          To extend this personalized experience we may track the IP address of a User's computer/device and save
          certain information on your system in the form of cookies. Browsers are usually set to accept
          cookies. However, if you would prefer not to receive cookies, you may alter the configuration of your browser
          to refuse cookies. If you choose to have your browser refuse cookies, it is possible that some areas of our
          site will not function as effectively when viewed by the users. A cookie cannot retrieve any other data from
          your hard drive or pass on computer viruses.
        </p>

        <h5>Security:</h5>
        <p>
          Any information collected by us from your end is secure. Homes247.in takes all the reasonable precautions to
          safeguard your personal information from loss, misuse, unauthorized access, modification or disclosure and
          the information is securely stored and access is restricted to authorized personnel only.
        </p>

        <h5>Changes to our privacy policy:</h5>
        <p>
          We may change this privacy policy from time to time. Any updated versions of this privacy policy will be
          posted on our website
        </p>

        <h5>Consent:</h5>
        <p>By using our website you consent to our collection and use of your personal information as described in this
          section. We reserve the right to amend this Privacy Policy at any time with or without notice.</p>

        <h5>Disclosure:</h5>
        <p>
          We may disclose your personal information if we are required by law to do so or if you violate our Terms of
          Service.
        </p>

        <h5>Contact us:</h5>
        <p>If there are any questions regarding this privacy policy you may contact us using the information on the
          Contact us page section of the website.</p>
      </div>
    </div>
  </div>
</div>


<!--<div class="clarify_query_section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-12 col-sm-12">-->
<!--        <h4>Let us clarify your Query</h4>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-12">-->
<!--      <form name="moreForm" class="row">-->
<!--        <div class="col-12">-->
<!--          <div class="clarify_query_form">-->
<!--            <div class="input_div">-->
<!--              <input placeholder="Name" type="text" id="namee" [(ngModel)]="user.namee" name="namee"/>-->
<!--            </div>-->
<!--            <div class="input_div">-->

<!--              &lt;!&ndash; <input class="country_code_blogs" id="blogsphno"/> &ndash;&gt;-->
<!--              <input class="inhalf" placeholder="Mobile Number" type="text"-->
<!--                     name="mobilenoo" id="mobilenoo" [(ngModel)]="user.mobilenoo" required/>-->

<!--            </div>-->
<!--            <div class="input_div">-->
<!--              <input placeholder="Email Id" is="email" type="emaill" name="emaill" id="emaill"-->
<!--                     [(ngModel)]="user.emaill" required/>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-8 col-md-8 col-sm-8">-->
<!--          <div class="clarify_query_form">-->
<!--            <div class="input_div">-->
<!--                              <textarea placeholder="Your message" name="msg" [(ngModel)]="user.msg"-->
<!--                              ></textarea>-->
<!--              &lt;!&ndash; <span class="text_err policy_cmnerror" ng-show="moreForm.msg.$invalid && moreForm.msg.$error.required && submit_blogquery">This is a required field</span> &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="input_div">-->
<!--              <p>All email enquiries will be taken care in one business day</p>-->
<!--              <button (click)="letus(user.namee,user.mobilenoo,user.emaill,user.msg);">Submit</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-footerform></app-footerform>
<div class="footerDiv">
  <div *ngIf="loaded">
    <ng-container *ngComponentOutlet="FooterComponent"></ng-container>
  </div>
</div>
<div class="innerheader_position">
  <app-innerheader></app-innerheader>
</div>