<!-- <app-my-json-ld [innerHTML]="LocalBusinessLD"></app-my-json-ld> -->
<app-my-json-ld [innerHTML]="eventsLD" ngSkipHydration></app-my-json-ld>




<div style="background: #ffffff;">
  <div class="col-12 androidApp blur">
    <div class="row p-2">
      <div class="col-1 p-0"></div>
      <div class="col-8 pl-4 pr-0">
        <p class="androidAppTitle">India's Best Realty App</p>
        <p class="androidAppSubTitle">4.6 <i class="fa fa-star androidAppStar" aria-hidden="true"></i> |
          Experience
          Seamless Home Search</p>
      </div>
      <div class="col-2 pl-2 pr-2 text-right">
        <span (click)="applinkClick()">
          <button class="btn btn-light installBtn" (click)="applinkClick()">Install</button>
        </span>
      </div>
      <div class="col-1 pl-0 pr-0 text-right">
        <i class="fa fa-times androidAppIcon" aria-hidden="true" (click)="closeAndroidApp()"></i>
      </div>
    </div>
  </div>
  @defer (on viewport){
  <app-home-sidenavbar [class.stickyHeader]="headerOnScroll"></app-home-sidenavbar>
  } @placeholder{
  <app-home-sidenavbar></app-home-sidenavbar>
  }
  
  <div class="matAuto">
    <ng-container *ngComponentOutlet="Matautocomplete"></ng-container>
  </div>

  <!-- Side Nav Start-->

  <div id="mySidenavsss" class="sidenav" style="width: 0px;">
    <div class="nav_logo">
      <a class="logo_nav" routerLink="/">
        <img
          src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/Homes247_NewBlack_Logo.png"
          alt="Homes247">
      </a>
      <span class="closebtn" (click)="clickNavclose()">
        <svg id="fi_6583137" enable-background="new 0 0 48 48" height="40" viewBox="0 0 48 48" width="40"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m32.5 33c.4.4.4 1 0 1.4-.2.2-.5.3-.7.3s-.5-.1-.7-.3l-8.4-8.4-8.4 8.4c-.2.2-.5.3-.7.3s-.5-.1-.7-.3c-.4-.4-.4-1 0-1.4l8.4-8.4-8.4-8.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l8.4 8.4 8.4-8.4c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-8.4 8.4z">
          </path>
        </svg>
      </span>
    </div>

    <div data-page="1" class="wipe open" id="red">
      <p class="pl-2 navTextWipe"><a href="https://www.homes247.in/">Home</a></p>

      @if (loginshow) {
      <p class="pl-2 navTextWipe"><a href="https://www.homes247.in/login">Login</a></p>
      }

      <p class="pl-2 navTextWipe"><a href="https://www.homes247.in/aboutus">About Us</a></p>
      <p class="pl-2 navTextWipe"><a href="https://www.homes247.in/careers">Careers</a></p>

      <p class="pl-2 navTextWipe"><a href="https://www.homes247.in/blogs">Home Guide<span
            class="blogmark">Blogs</span></a>
      </p>
      <!-- <p class="pl-2 navTextWipe"><a routerLink="/calculator">EMI Calculator</a></p> -->

      <ul class="nav_links pl-2 navTextWipe m-0" (click)="ShowHide_More()">
        <li class=""><span data-toggle="" href="">More <span class="caret"></span></span>
          @if (IsVisiblee) {
          <ul class="drop_style p-0 m-0">
            <li><a href="https://www.homes247.in/find-ifsc-code">Find IFSC Codes</a></li>
            <li><a href="https://www.homes247.in/find-pincode">Find Pincode Codes</a></li>
            <li><a href="https://www.homes247.in/all-project-reviews-in-india">All Property Reviews</a></li>
            <li><a href="https://www.homes247.in/all-project-walkthrough-videos-in-india">All Property
                Walkthrough Videos</a></li>
            <li><a href="https://www.homes247.in/expertservices">Expert Services</a></li>
            <!-- <li><a routerLink="/buyers-guide">Home Buyers Guide</a></li> -->
            <!-- <li><a routerLink="/latest-trends">Latest Real Estate Updates</a></li> -->

            <!-- <li><a routerLink="/price-trends">Price Trends</a></li> -->
            <!-- <li><a routerLink="/homeloan">Home Loan</a></li> -->
            <!-- <li><a routerLink="/vaastu">Vaastu Tips</a></li> -->
            <!-- <li><a routerLink="/interior">Interiors</a></li> -->
            <li> <a href="https://www.homes247.in/faq">FAQ</a></li>
            <li> <a href="https://www.homes247.in/policy">Privacy Policy</a></li>
          </ul>
          }
        </li>
      </ul>
      <!-- <div class="nav_social_icon">
        <ul>
          <li>
            <span class="nav_fb" target="_blank" href="https://www.facebook.com/Homes247.in/"></span>
          </li>
          <li>
            <span class="nav_insta" target="_blank" href="https://www.instagram.com/homes247.in"></span>
          </li>
          <li>
            <span class="nav_twitter" target="_blank" href="https://x.com/homes247_in"></span>
          </li>
          <li>
            <span class="nav_in" target="_blank" href="https://www.linkedin.com/company/homes247/"></span>
          </li>
        </ul>
      </div> -->
    </div>

  </div>



  <!-- Side Nav End-->

  <div class="col-12 slider_section_main">
    <div class="slider_search_main">
      <div class="homes247Logo text-center mt-3 pt-2">
        <img decoding="async" fetchpriority="high" loading="lazy"
          src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/Homes247_NewBlack_Logo.png"
          style="width: 140px;" alt="homes247logo">
      </div>
      <h1 class="search_label">India’s Favourite Property Portal!</h1>

      <div class="tab-search-container mt-4">
        <div class="custom-tabs-fade">
          <div class="custom-tabs" #activeTab>
            <div class="custom-tab active" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Buy</div>
            <a class="custom-tab" routerLink="/property-for-rent-in-bangalore" routerLinkActive="active">Rent</a>
            <a class="custom-tab" routerLink="/commercial" routerLinkActive="active">Commercial</a>
            <a class="custom-tab" routerLink="/pg-home" routerLinkActive="active">PG/Hostel</a>
            <div class="custom-tab" data-toggle="modal" data-target="#exampleModalCenter">Sell</div>
          </div>
        </div>
        <!-- <div class="search-bar search_c p-0">
          <div class="nosubmit"><img
              src="data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z' stroke='%237E7E7E' stroke-width='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 10.5L8.34998 8.34998' stroke='%237E7E7E' stroke-width='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"
              alt="nosubmit" height="12px" width="12px"></div>
          <input (click)="ShowHidecontact()" type="text" placeholder="Search Locality, Builder, Project" />
          <button (click)="getProjectsmain(currentCity)"><img style="    background: #971b47;
                border-radius: 50%;
            " src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/rentSearchMagnifierWhite.png"
              alt="Homes247-icon"></button>
        </div> -->


        <div class="search-bar search_c p-0">
          <div class="nosubmit"><img
              src="data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z' stroke='%237E7E7E' stroke-width='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 10.5L8.34998 8.34998' stroke='%237E7E7E' stroke-width='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"
              alt="nosubmit" height="12px" width="12px"></div>
          <input (click)="ShowHidecontact()" type="text" placeholder="Search Locality, Builder, Project" />
          <!-- <a routerLink="/smart-property-finder" class="askbutton btn btn-secondary ai_button">&nbsp;<img
              src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/ai/ask_ai1.svg" alt=""> Ask
            AI&nbsp;&nbsp;</a> -->
          <button (click)="getProjectsmain(currentCity)"><img style="    background: #971b47;
                border-radius: 50%;
            " src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/rentSearchMagnifierWhite.png"
              alt="Homes247-icon"></button>
        </div>

      </div>
    </div>


    <div #scrollapiloader class="" style="margin-top: 10px;">
      <div class="col-12 d-flex btnSection" style="font-weight: 400;">
        <!-- <span style="border: none;" class="col-4 responsive_searchbar_ShortCuts_textColour"
          (click)="apartmentroute()"><span>Apartments</span></span>
        <span style="border: none;" class="col-4 responsive_searchbar_ShortCuts_textColour"
          (click)="villasroute()"><span>Villas</span></span>
        <span style="border: none;" class="col-4 responsive_searchbar_ShortCuts_textColour"
          (click)="plotsroute()"><span>Plots</span></span> -->

        <a style="border: none;" class="col-4 responsive_searchbar_ShortCuts_textColour"
          routerLink="/residential-flats-in-bangalore-for-sale" [queryParams]="{ propertytype: '50401'}"><span>Apartments</span></a>
        <a style="border: none;" class="col-4 responsive_searchbar_ShortCuts_textColour"
          routerLink="/villas-for-sale-in-bangalore" [queryParams]="{ propertytype: '50402'}"><span>Villas</span></a>
        <a style="border: none;" class="col-4 responsive_searchbar_ShortCuts_textColour"
          routerLink="/plots-in-bangalore" [queryParams]="{ propertytype: '50403'}"><span>Plots</span></a>
      </div>
    </div>
  </div>


  <!-- Sell Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span style="font-size: 30px;" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div class="modalImg">
            <img loading="lazy"
              src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/Asset 1@2x 2.png"
              alt="modalImg">
            <p>Sell your property with ease! List it for free and connect with interested buyers right from your mobile
              device.</p>
          </div>
        </div>
        <div class="mb-3 text-center">
          <a href="/postproperty" type="button" class="btn btn_sell_prop">Post Property for Free</a>
        </div>
      </div>
    </div>
  </div>


  <div class="properties_india_main pb-0">
    <div class="col-12">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="news_head underline">
            <h2>Top Cities In India</h2>
            <p class="newHeadingSubTitle">Best places to live in India</p>
          </div>
          <div class="scrollmenu">
            <a routerLink="/bangalore/property-sale" class="card loc_mat_card_a mr-3 col-10"
              title="property in bangalore" (click)="Selection()">
              <div class="test">
                <div class="loc_mat_card_1"><span class=""></span></div>
                <div class="localitie">
                  <span id="city">Bangalore</span>
                  @if (!CityBangalore) {
                  <p id="propCount">XXXX+ Properties</p>
                  }
                  @if (CityBangalore) {
                  <p id="propCount">{{CityBangalore}}+ Properties</p>
                  }
                </div>
              </div>
            </a>

            <a routerLink="/chennai/property-sale" class="card loc_mat_card_a mr-3 col-10" title="property in chennai"
              (click)="Selection()">
              <div class="test">
                <div class="loc_mat_card_3"><span class=""></span></div>
                <div class="localitie">
                  <span id="city">Chennai</span>
                  @if (!CityChennai) {
                  <p id="propCount">XXXX+ Properties</p>
                  }
                  @if (CityChennai) {
                  <p id="propCount">{{CityChennai}}+ Properties</p>
                  }
                </div>
              </div>
            </a>

            <a routerLink="/hyderabad/property-sale" class="card loc_mat_card_a mr-3 col-10"
              title="property in hyderabad" (click)="Selection()">
              <div class="test">
                <div class="loc_mat_card_2"><span class=""></span></div>
                <div class="localitie">
                  <span id="city">Hyderabad</span>
                  @if (!CityBangalore) {
                  <p id="propCount">XXXX+ Properties</p>
                  }
                  @if (CityBangalore) {
                  <p id="propCount">{{CityHyderabad}}+ Properties</p>
                  }
                </div>
              </div>
            </a>

            <a routerLink="/mumbai/property-sale" class="card loc_mat_card_a mr-3 col-10" title="property in mumbai"
              (click)="Selection()">
              <div class="test">
                <div class="loc_mat_card_4"><span class=""></span></div>
                <div class="localitie">
                  <span id="city">Mumbai</span>
                  @if (!CityMumbai) {
                  <p id="propCount">XXXX+ Properties</p>
                  }
                  @if (CityMumbai) {
                  <p id="propCount">{{CityMumbai}}+ Properties</p>
                  }
                </div>
              </div>
            </a>
            <a routerLink="/kolkata/property-sale" class="card loc_mat_card_a mr-3 col-10" title="property in kolkata "
              (click)="Selection()">
              <div class="test">
                <div class="loc_mat_card_6"><span class=""></span></div>
                <div class="localitie">
                  <span id="city">Kolkata</span>
                  @if (!CityKolkata) {
                  <p id="propCount">XXXX+ Properties</p>
                  }
                  @if (CityKolkata) {
                  <p id="propCount">{{CityKolkata}}+ Properties</p>
                  }
                </div>
              </div>
            </a>
            <a routerLink="/delhi/property-sale" class="card loc_mat_card_a mr-3 col-10" title="property in delhi"
              (click)="Selection()">
              <div class="test">
                <div class="loc_mat_card_5"><span class=""></span></div>
                <div class="localitie">
                  <span id="city">Delhi</span>
                  @if (!CityDelhi) {
                  <p id="propCount">XXXX+ Properties</p>
                  }
                  @if (CityDelhi) {
                  <p id="propCount">{{CityDelhi}}+ Properties</p>
                  }
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="properties_india_main pb-0">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 px-0">
          <div class="news_head underline ml-3">
            <h2>Projects In Spotlight</h2>
            <p class="newHeadingSubTitle">Hot & Trending Homes In India</p>
          

          </div>

          <div class="spotLightPropDiv d-flex">
            @for (spotProp of allSpotlightProp | slice : 0 : 20; track $index) {
            <a class="propBox col-12 px-0 mr-2" href="https://www.homes247.in/property/{{
                    spotProp.city_name | cleanUrl
                  }}/{{ spotProp.locality_name | cleanUrl }}/{{
                    spotProp.propName | cleanUrl
                  }}-{{ spotProp.propId }}">
              @for (img of spotProp.images; track $index) {
              <div class="propImg">
                <img decoding="async" width="100%" [src]="propertyimage1 + $any(spotProp).spotlightImg" alt="propImg">
              </div>
              }
              <div class="insideCardPropData px-2 col-12">
                <div class="row">
                  <div class="propDataLeft col-6 text-left">
                    <div class="leftPropTxt">
                      <h2 id="propName">{{spotProp.builderName}}</h2>

                    </div>
                  </div>
                  <div class="col-6 text-right">
                    <span id="propName">
                      <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{spotProp.minprice | priceFormatter}}
                      Onwards
                    </span>&nbsp;
                  </div>
                </div>
                <div class="col-12 d-flex pl-0">
                  <span id="locationTag">
                    <img loading="lazy" style="width: 15px" height="15"
                      src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_2/images/Bed.png"
                      alt="Bed" />&nbsp;
                    {{
                    spotProp.bhk
                    | replaceLineBreaksany
                    | unique2
                    | orderBy2
                    }} BHK</span>&nbsp;&nbsp;


                  <span id="locationTag">
                    <img loading="lazy" style="width: 15px" height="15"
                      src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_2/images/Map Point.png"
                      alt="Map Point" />&nbsp;{{spotProp.locality_name}}, {{ spotProp.city_name }}</span>
                </div>
              </div>
              <div class="spotlightOverlay"></div>
            </a>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="properties_india_main pb-0">
    <div class="container">
      <div class="col-12 px-0">
        <div class="col-lg-12 col-md-12 col-sm-12 px-0">
          <div class="news_head underline">
            <h2>Properties In Top Cities</h2>
            <p class="newHeadingSubTitle">Invest in Upcoming Real Estate Markets</p>
          </div>
          <div class="spotLightPropDiv d-flex">
            @for (property of majorcities1; track $index) {
            <a href="{{
                  property.city | cleanUrl
                }}/property-sale">
              <div class="propBox1 px-0 mr-2">
                <div class="propImg1">
                  <img decoding="async" loading="eager" fetchpriority="high" decoding="async" width="100%" height="auto"
                    [src]="ImageUrl + $any(property).city_imagPath" alt="propImg1">
                </div>
                <div class="majotCityTxt pl-2">
                  <p id="majorCityName">{{ property.city }}</p>
                  <p id="majorLocName"> {{ property.localitycount }} Localities |
                    {{ property.propertycount }} + Properties</p>
                </div>
              </div>
            </a>
            }
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="container pt-0 img-box" style="padding-left: 15px; padding-right: 15px;">
    @for (data of interiorAdds | slice:0:1; track $index) {
    <div class="addBanner1" (click)="clickedService(data.expert_IDFK)">
      <img loading="lazy" width="100%" height="auto" decoding="async" fetchpriority="low"
        src="{{addRoot}}{{data.mobile_image}}" alt="addBanner1">
    </div>
    }
  </div>

  <ng-container *ngComponentOutlet="serviceFormComponent"></ng-container>



  <div class="properties_india_main pb-0">
    <div class="container">
      <div class="col-12 px-0">
        <div class="col-lg-12 col-md-12 col-sm-12 px-0">
          <div class="news_head underline">
            <h2>Featured Collection In Top Cities</h2>
            <p class="newHeadingSubTitle">Curated & Handpicked Properties</p>
          </div>
          <div class="spotLightPropDiv1 d-flex">

            <a routerLink="/new-launch-projects/new-projects-in-bangalore" class="propBox2 px-0 mr-2">
              <div class="propImg2">
                <img loading="lazy" width="180px" height="180px" decoding="async"
                  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/one.png"
                  alt="propImg2">
              </div>
              <div class="featureCollectTxt">
                <p id="txtTop">New Launches</p>
                <p id="txtBtm">{{newLaunchesprojectcount}}+ Properties</p>
              </div>
              <div class="featureCollectOverlay"></div>
            </a>

            <a routerLink="/ready-to-move-apartments/ready-to-move-flats-in-bangalore" class="propBox2 px-0 mr-2">
              <div class="propImg2">
                <img loading="lazy" width="180px" height="180px" decoding="async"
                  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/two.png"
                  alt="propImg2">
              </div>
              <div class="featureCollectTxt">
                <p id="txtTop">Ready To Move In</p>
                <p id="txtBtm">{{readyToMoveprojectcount}}+ Properties</p>
              </div>
              <div class="featureCollectOverlay"></div>
            </a>

            <a routerLink="/atc/affordable-flats-in-bangalore" class="propBox2 px-0 mr-2">
              <div class="propImg2">
                <img loading="lazy" width="180px" height="180px" decoding="async"
                  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/three.png"
                  alt="propImg2">
              </div>
              <div class="featureCollectTxt">
                <p id="txtTop">Affordable Flats</p>
                <p id="txtBtm">{{affordableprojectcount}}+ Properties</p>
              </div>
              <div class="featureCollectOverlay"></div>
            </a>

            <a routerLink="/ltc/luxury-flats-in-bangalore" class="propBox2 px-0 mr-2">
              <div class="propImg2">
                <img loading="lazy" width="180px" height="180px" decoding="async"
                  src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/four.png"
                  alt="propImg2">
              </div>
              <div class="featureCollectTxt">
                <p id="txtTop">Luxury Flats</p>
                <p id="txtBtm">{{luxuryprojectcount}}+ Properties</p>
              </div>
              <div class="featureCollectOverlay"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="properties_india_main pb-0">
    <div class="container">
      <div class="col-12 pb-3 px-0">
        <div class="col-lg-12 col-md-12 col-sm-12 px-0">
          <div class="news_head underline">
            <h2>Our Services</h2>
            <p class="newHeadingSubTitle">Complete 360 degree services & aid</p>
          </div>
          <div class="spotLightPropDiv2 col-12">
            <div class="row pb-3">
              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/floor-plan-experts-1">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/Floor-plan-expert-1.png"
                    alt="propImg2">
                </div>
                <div class="expertTypeName">
                  <p>Floorplan</p>
                </div>
              </a>

              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/market-experts-2">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/Market-1.png"
                    alt="Market-1">
                </div>
                <div class="expertTypeName">
                  <p>Real Estate Market</p>
                </div>
              </a>

              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/vastu-experts-3">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/vastu-1.png"
                    alt="vastu-1">
                </div>
                <div class="expertTypeName">
                  <p>Vastu</p>
                </div>
              </a>

              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/legal-services-4">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/Legal-1.png"
                    alt="Legal-1">
                </div>
                <div class="expertTypeName">
                  <p>Legal</p>
                </div>
              </a>

              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/home-inspection-services-5">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/Inspection-2.png"
                    alt="Inspection-2">
                </div>
                <div class="expertTypeName">
                  <p>Home Inspection</p>
                </div>
              </a>

              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/property-manage-experts-6">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/property-management-1.png"
                    alt="property-management-1">
                </div>
                <div class="expertTypeName">
                  <p>Property Management</p>
                </div>
              </a>

              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/interior-services-7">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/interior-1.png"
                    alt="interior">
                </div>
                <div class="expertTypeName">
                  <p>Interiors</p>
                </div>
              </a>

              <a class="propBox3 col-3 mb-2" href="https://www.homes247.in/expertservices/loan-services-8">
                <div class="propImg2">
                  <img loading="lazy" width="34" height="34" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/loan-1.png"
                    alt="loan">
                </div>
                <div class="expertTypeName">
                  <p>Home Loan</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <button class="registerExprtBtn" data-toggle="modal" data-target="#example">
          <i class="fa fa-file-o" style="color: #971b47"></i> &nbsp;Register Here as an Expert
        </button>
      </div>
    </div>
  </div>



  <div class="modal fade" id="example" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content mt-0">
        <div class="modal-body">
          <div class="container containerExpertRegister">
            <div class="col-12 text-center">
              <div class="row">
                <h5 class="col-11 registerModalTxt">Register as an Expert</h5>
                <h5 class="col-1 text-right mt-0 pr-0 registerCloseBtn" data-dismiss="modal" aria-label="Close">
                  X
                </h5>
              </div>
            </div>

            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div class="col-sm-12 text-center profileEdit">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input hidden type="file" name="cover" accept=".png, .jpg, .jpeg" #fileInput
                      formControlName="coverImage" (change)="onCoverSelectFile($event)" />
                  </div>
                  <div class="avatar-preview">
                    @if (CoverImage.length == 0) {
                    <div class="previewImg">
                      <img loading="lazy" class="center-block1 mt-2" decoding="async"
                        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/User Rounded.png"
                        height="80%" width="80%" alt="User Rounded" />
                    </div>
                    }
                    @for (url of CoverImage; track $index) {
                    <div class="previewImg">
                      <img class="center-block" [src]="url" height="100%" width="100%" alt="previewImg" />
                    </div>
                    }
                  </div>
                </div>
                <button type="button" class="imgUploadBtn" (click)="fileInput.click()">
                  <img width="12" height="12" decoding="async"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/pencil-outline.png"
                    alt="pencil" />
                </button>

                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header pl-0" id="headingOne">
                      <p class="mb-0 d-flex">
                        <button style="background: #fff; color: #000; text-decoration: none; font-size: 14px;"
                          (click)="expertInfo()" class="btn btn-link btn-block text-left" type="button"
                          data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                          aria-controls="collapseOne">
                          Personal Information
                        </button>
                        @if (infoUp) {
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                        }
                        @if (infoDown) {
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        }
                      </p>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body pt-2 px-0 pb-0 ">
                        <div class="col-md-12 text-left">
                          <input placeholder="First Name" type="text" class="formInput" formControlName="userName"
                            name="Name" id="name" [(ngModel)]="userName" required /><br />
                          <input placeholder="Contact Number" type="number" class="formInput"
                            formControlName="userNumber" name="userNumber" id="userNumber" [(ngModel)]="userNumber"
                            required />
                        </div>
                        <div class="col-md-12 text-left formInputRight">
                          <select formControlName="expertTypeId" id="expertType" required>
                            <option value="" disabled>
                              Select Your Expertise
                            </option>
                            @for (expert of allExpertsData; track $index) {
                            <option style="background: #fff;" value="{{ expert.expert_type_IDPK }}">
                              {{expert.expert_type_Name}}
                            </option>
                            }
                          </select>
                          <br>
                          <input placeholder="Email" type="email" class="formInput" formControlName="emailId"
                            name="emailId" id="emailId" [(ngModel)]="emailId" required />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header pl-0" id="headingTwo">
                      <p class="mb-0 d-flex">
                        <button style="background: #fff; color: #000; text-decoration: none; font-size: 14px;"
                          (click)="expertExp()" class="btn btn-link btn-block text-left collapsed" type="button"
                          data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo">
                          Work Experience
                        </button>
                        @if (expUp) {
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                        }
                        @if (expDown) {
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        }
                      </p>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body pt-2 px-0 pb-0 ">
                        <div class="col-12 text-left">
                          <input placeholder="Working In" type="text" class="formInput" formControlName="companyName"
                            name="companyName" id="companyName" [(ngModel)]="companyName" required /><br />
                        </div>

                        <div class="col-12 text-left">
                          <input placeholder="Designation" type="text" class="formInput" formControlName="designation"
                            name="designation" id="designation" [(ngModel)]="designation" required />
                        </div>
                        <div class="col-6 text-left">
                          <input placeholder="Experience (In Years)" type="number" class="formInput1"
                            formControlName="experience" name="experience" id="experience" [(ngModel)]="experience"
                            required />
                        </div>
                        <div class="expertDescTxtArea col-12">
                          <div class="form-group py-0">
                            <textarea style="height: 50px; font-size: 12px;" placeholder="Description"
                              class="form-control" rows="5" formControlName="expertDescription" id="discription"
                              name="text" [(ngModel)]="expertDescription" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex cancelUpdateBtn">
                  <button type="button" data-dismiss="modal" class="btn cancelProfileBtn btn-lg btn-block">
                    Cancel
                  </button>
                  <button type="submit" class="btn updateProfileBtn btn-lg btn-block">
                    Apply
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- Web Story Start -->

  <div class="container mt-3">
    <div class="col-12">
      <div class="row">
        <div class="news_head underline mt-0">
          <h2 class="mb-0">Our Blog Stories</h2>
          <p class="newHeadingSubTitle">Complete 360 degree services & aid</p>
        </div>
      </div>
    </div>

    @if (showWebStory) {
    <div class="owlWebStoryHome">
      @for (slideGroup of webstories; track $index; let groupIndex = $index) {
      <div style="width:128px; height: 214px;">
        <div class="webstory-containerHome">
          <div class="progress-bar-containerHome">
            <div class="d-flex">
              @for (img of slideGroup; track $index; let i = $index) {
              <div class="progress-barHome">
                <div class="progress-bar-innerHome" [ngClass]="{ active: i === currentSlides[groupIndex] }"></div>
              </div>
              }
            </div>
            <div class="shareImage pr-2 text-right" (click)="shareProperty(slideGroup[currentSlides[groupIndex]])">
              <img loading="lazy" height="12" width="12"
                src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_2/images/blogsListing/shareBtnWebStory.svg"
                alt="shareBtnWebStory">
            </div>
          </div>
          <div class="story-image-containerHome"
            (click)="callWebStoryApiID(slideGroup[currentSlides[groupIndex]].blog_ID)">
            <img loading="lazy" [src]="webStoryPath + slideGroup[currentSlides[groupIndex]].storyimg"
              alt="Slide Image" />
          </div>
          <div class="clickable-overlayHome" (click)="callWebStoryApiID(slideGroup[currentSlides[groupIndex]].blog_ID)">
            <div class="left-half" (click)="prevSlide(groupIndex)"></div>
            <div class="right-half" (click)="nextSlide(groupIndex)"></div>
          </div>
        </div>
        <div class="home-button_HomePage">
          <a [href]="'https://www.homes247.in/blogs/' + slideGroup[currentSlides[groupIndex]].url_structure + '-' + slideGroup[currentSlides[groupIndex]].blog_ID"
            target="_blank">
            {{ slideGroup[currentSlides[groupIndex]].top_stories_title }}
          </a>
          <div class="addedByDatasHomes mt-1">
            <div class="d-flex" style="align-items: center; gap: 12px;">
              <div>
                <p class="addedByTag">By {{slideGroup[currentSlides[groupIndex]].top_stories_addedBy}}</p>
              </div>
              <div>
                <p class="addedByCreated">{{slideGroup[currentSlides[groupIndex]].top_stories_created}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    }



    @if (!showWebStory && Mousemovement) {
    <div class="city-container">
      <div class="marquee-wrapper">
        <div class="marquee d-flex">
          @for (i of repeats; track $index) {
          <span>COMING SOON &nbsp;&nbsp; <img loading="lazy"
              src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_2/images/allIndia/webStorySoonStars.svg"
              alt="webStorySoonStars" style="height: 18px; width:18px"></span>
          }
        </div>
      </div>
      <img loading="lazy"
        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_2/images/allIndia/noWebStoryImageHome1.svg"
        alt="City Buildings" class="city-image" />
    </div>
    }



  </div>




  @if (showPopup) {
  <div class="popup">
    <div class="blurred-background" [ngStyle]="{
      'background-image': 'url(' + webStoryPath + webStoriesById[currentSlideById]?.storyimg + ')'
    }"></div>
    <div class="popup-content animate-in">
      <span class="close-btn" (click)="closePopup()">×</span>

      <div class="owlWebStoryList">
        <div class="webstory-container1">
          <div class="progress-bar-container">
            @for (img of webStoriesById; track $index; let i = $index) {
            <div class="progress-bar">
              <div class="progress-bar-inner" [ngClass]="{ active: i === currentSlideById }"></div>
            </div>
            }
          </div>
          <div class="story-image-container1">
            <img [ngClass]="zoomState" src="{{webStoryPath}}{{webStoriesById[currentSlideById].storyimg}}"
              alt="Slide Image" />
          </div>
          <div class="clickable-overlay1">
            <div class="left-half" (click)="prevSlide1()"></div>
            <div class="right-half" (click)="nextSlide1()"></div>
          </div>
        </div>
        <div class="home-button1">
          <a class="titleAnchorTag"
            href="https://www.homes247.in/blogs/{{webStoriesById[currentSlideById].url_structure}}-{{webStoriesById[currentSlideById].blog_ID}}"
            target="_blank" style="justify-self: left;">{{webStoriesById[currentSlideById].top_stories_title}}</a>
          <div class="row">
            <div class="addedByDatasPopup mt-1 col-6">
              <p class="addedByCreatedPopup mb-1">{{webStoriesById[currentSlideById].top_stories_created}}</p>
              <p class="addedByTagPopup mb-0">By {{webStoriesById[currentSlideById].top_stories_addedBy}}</p>
            </div>
            <div class="col-6 text-right" style="align-items: end;display: flex; justify-content: end;">
              <a class="viewBlogBtn"
                href="https://www.homes247.in/blogs/{{webStoriesById[currentSlideById].url_structure}}-{{webStoriesById[currentSlideById].blog_ID}}"
                target="_blank">
                View Blog
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }


  <!-- Web Story End -->

  <!-- Property Boosting -->
<div class="propertyBoostingBg">
<p class="propertyBoostingText">Boost Your Property’s <span>Visibility!</span></p>
<ul class="propertyBoostingUl">
  <li> <img src="" alt="">More Views</li>
  <li> <img src="" alt="">Faster Leads</li>
  <li> <img src="" alt="">Higher Ranking</li>
</ul>
<div class="propertyBoostingBtn">Promote Now</div>
</div>






  <div class="top_projects_section">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="news_head underline">
            <h2>Featured Builders</h2>
            <p class="newHeadingSubTitle">The most reputed builders in India</p>
          </div>
        </div>
      </div>
      <div class="topProjectsSectionMobileView">
        <div class="scrollmenu">
          @for (builder of allBuilders; track $index) {
          <a
            routerLink="/bangalore/builder/{{builder.builderInfo_name | cleanUrl}}-{{builder.builderInfo_IDPK | cleanUrl}}">
            <div class="buildersCard">
              <img loading="lazy" decoding="async" alt="{{builder.builder_altag}}" class="developerIcon"
                [src]="builderLogo + $any(builder).builder_logo">
              <p class="primeBuildersText">{{builder.builderInfo_name}}</p>
              <p class="primeBuildersCountText">{{builder.builder_prop_count}}
                Properties&nbsp;|&nbsp;{{builder.city_count}} Cities</p>
            </div>
          </a>
          }
        </div>
      </div>
      @if (topprojectsloader) {
      <div class="row mt-4">
        <div class="col-6">
          <div class="item">
            <ngx-skeleton-loader [theme]="{ 'border-radius': '9', height: '180px' }">
            </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '170px','border-radius': '9',height: '15px'}">
            </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ 'border-radius': '9',height: '15px'}">
            </ngx-skeleton-loader>
          </div>
        </div>
        <div class="col-6">
          <div class="item">
            <ngx-skeleton-loader [theme]="{ 'border-radius': '9', height: '180px' }">
            </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '170px','border-radius': '9',height: '15px'}">
            </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ 'border-radius': '9',height: '15px'}">
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  <ng-container *ngComponentOutlet="allindia2"></ng-container>

  @if (Mousemovement) {
  <div class="footerDiv" style="padding-bottom: 48px;">
    @if (loaded) {
    <div>
      <ng-container *ngComponentOutlet="FooterComponent"></ng-container>
    </div>
    }
  </div>
  }

  <!-- <div class="Header_parts"><app-inner-headder-with-sidenav></app-inner-headder-with-sidenav></div> -->
</div>