<div class="clearfix"></div>
<div class="footer_main">
  <div class="container">
    <div class="row first_row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="footer_about">
          <p class="aboutUsHeading">About us</p>
          <p>
            Homes247.in- India's most trusted Real Estate & Proptech Portal was founded on the principle of providing an
            intelligent edge to the millions of Homebuyers out there! We believe that our customers deserve only the
            Best. Rather than flooding them with countless inventory, we provide carefully Handpicked & Personalized
            housing options for their Dream Home!
            <a href="https://www.homes247.in/aboutus" class="fotr_read">Read More</a>
          </p>
        </div>
      </div>
      <div class="col-12 awardSection">
        <div class="row">
          <div class="col-6">
            <img class="timesimage" loading="lazy"
              [src]="'https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/best-innovative-award.png'"  alt="best-innovative-award">
          </div>
          <div class="col-6">
            <a href="https://play.google.com/store/apps/details?id=vsnap.homes247.in" target="_blank">
              <img class="playStoreImage" loading="lazy"
                [src]="'https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/icons/google-play.png'"  alt="google-play">
            </a>
            <!-- <div class="col-6"> -->
              <a href="https://apps.apple.com/au/app/homes247/id1611544989" target="_blank">
                <img class="playStoreImage" loading="lazy"
                  [src]="'https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/icons/app_store.png'"  alt="app_store">
              </a>
            </div>
          <!-- </div> -->
        </div>
      </div>
      <br />
      <div class="scrollmenu">
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <h2 class="footer_header"><span class="dot"></span>&nbsp;&nbsp;REALESTATE IN INDIA</h2>
              <div class="row">
                <div class="col-6 mr-2">
                  <h3>
                    <a rel="bookmark" title="Properties in Bangalore | Properties for sale in Bangalore"
                      href="https://www.homes247.in/bangalore/property-sale">
                      <p class="quickLinkSubText">Properties in Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Hyderabad | Properties for sale in Hyderabad"
                      href="https://www.homes247.in/hyderabad/property-sale">
                      <p class="quickLinkSubText">
                        Properties in Hyderabad</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Chennai | Properties for sale in Chennai"
                      href="https://www.homes247.in/chennai/property-sale">
                      <p class="quickLinkSubText">
                        Properties in Chennai</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Kochi | Properties for sale in Kochi"
                      href="https://www.homes247.in/kochi/property-sale">
                      <p class="quickLinkSubText">Properties in Kochi</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Pune | Properties for sale in Pune"
                      href="https://www.homes247.in/pune/property-sale">
                      <p class="quickLinkSubText">Properties in Pune</p>
                    </a>
                  </h3>
                </div>
                <div class="col-6 mr-2">
                  <h3>
                    <a rel="bookmark" title="Properties in Delhi | Properties for sale in Delhi"
                      href="https://www.homes247.in/delhi/property-sale">
                      <p class="quickLinkSubText">Properties in Delhi</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Kolkata | Properties for sale in Kolkata"
                      href="https://www.homes247.in/kolkata/property-sale">
                      <p class="quickLinkSubText">
                        Properties in
                        Kolkata</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Mumbai | Properties for sale in Mumbai"
                      href="https://www.homes247.in/mumbai/property-sale">
                      <p class="quickLinkSubText">Properties in Mumbai</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Goa | Properties for sale in Goa"
                      href="https://www.homes247.in/goa/property-sale">
                      <p class="quickLinkSubText">Properties in Goa</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Properties in Gurgaon | Properties for sale in Gurgaon"
                      href="https://www.homes247.in/gurgaon/property-sale">
                      <p class="quickLinkSubText">Properties in Gurgaon</p>
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <p class="footer_header"><span class="dot"></span>&nbsp;&nbsp;Quick Links</p>
              <div class="row">
                <div class="col-6 mr-2">
                  <a class="maar" href="https://www.homes247.in/blogs" >Real Estate Blogs</a>
                  <a class="maar" href="https://www.homes247.in/buyers-guide">Home Buyers Guide</a>
                  <a class="maar" href="https://www.homes247.in/expertservices">Expert Services</a>
                  <a class="maar" href="https://www.homes247.in/all-cities-in-india">All Cities in India</a>
                  <a class="maar" href="https://www.homes247.in/all-localities-by-city">All Localities by City</a>
                  <a class="maar" href="https://www.homes247.in/all-builders-by-city">All Builders by city</a>
                </div>
                <div class="col-6 mr-2">
                  <a class="maar" href="https://www.homes247.in/latest-trends">Latest Real Estate Trends</a>
                  <a class="maar" href="https://www.homes247.in/buy">Best Locality to Invest</a>
                  <a class="maar" href="https://www.homes247.in/vaastu">Vaastu Tips</a>
                  <a class="maar" href="https://www.homes247.in/interior">Interiors</a>
                  <a class="maar" href="https://www.homes247.in/contactus">Contact Us</a>
                  <a class="maar" href="https://www.homes247.in/policy">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <h2 class="footer_header" href="https://www.homes247.in/bangalore/property-sale"><span class="dot"></span>&nbsp;&nbsp;Top
                Searches In
                Bangalore</h2>
              <div class="row">
                <div class="col-6 mr-2">
                  <h3><a rel="bookmark" title="Home for sale in Bangalore | Buy House in Bangalore | Homes247.in"
                      href="https://www.homes247.in/home-for-sale-in-bangalore">
                      <p class="quickLinkSubText">House For Sale in Bangalore</p>
                    </a></h3>
                  <!-- <h3><a href="https://www.homes247.in/all-localities-by-city">
                        <p class="quickLinkSubText">All Localities by city</p></a></h3> -->
                  <h3>
                    <a rel="bookmark" title="Buy Flats in Bangalore | Flats for sale in Bangalore | Homes247.in"
                      href="https://www.homes247.in/residential-flats-in-bangalore-for-sale">
                      <p class="quickLinkSubText">Flats For Sale in Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Residential Plots in Bangalore|Buy Plots in Bangalore|Homes247.in"
                      href="https://www.homes247.in/plots-in-bangalore">
                      <p class="quickLinkSubText">Plots in Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Villas for sale in Bangalore|Buy villas in Bangalore | Homes247.in"
                      href="https://www.homes247.in/villas-for-sale-in-bangalore">
                      <p class="quickLinkSubText">Villas For Sale in
                        Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark"
                      title="Buy New projects in Bangalore | 2000+ Upcoming Projects in Bangalore | Homes247.in"
                      href="https://www.homes247.in/new-launch-projects/new-projects-in-bangalore">
                      <p class="quickLinkSubText">New Projects in Bangalore</p>
                    </a>
                  </h3>
                </div>
                <div class="col-6 mr-2">
                  <h3>
                    <a rel="bookmark"
                      title="Ready to Move Flats in Bangalore |  Buy Ready to occupy apartments in Bangalore | Homes247.in"
                      href="https://www.homes247.in/ready-to-move-apartments/ready-to-move-flats-in-bangalore">
                      <p class="quickLinkSubText">Ready to move Apartments in Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark"
                      title="Agricultural Land for Sale in Bangalore | Farm Land for sale in Bangalore | Homes247.in"
                      href="https://www.homes247.in/agricultural-land-for-sale-in-bangalore">
                      <p class="quickLinkSubText">Agricultural land for sale in Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="5 BHK Ready to Move Flats/Apartments in Bangalore | Homes247.in"
                      href="https://www.homes247.in/bstc/5-bhk-ready-to-move-flats-apartments-in-bangalore">
                      <p class="quickLinkSubText">5 BHK Ready to Move Flats in Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="5 BHK Flats/Apartments in Bangalore | Homes247.in"
                      href="https://www.homes247.in/btc/5-bhk-flats-in-bangalore">
                      <p class="quickLinkSubText">5 BHK Flats/Apartments in Bangalore</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark"
                      title="Flats For 30 Lakhs  in Bangalore | Apartments in Bangalore Below 30 Lakhs  | Homes247.in"
                      href="https://www.homes247.in/fbc/flats-for-30-lakhs-in-bangalore">
                      <p class="quickLinkSubText">Flats for 30 Lakhs in Bangalore</p>
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 ml-5 mobile_classes">
            <div class="footer_right_links">
              <h2 class="footer_header" href="https://www.homes247.in/hyderabad/property-sale"><span class="dot"></span>&nbsp;&nbsp;Top
                Searches In
                Hyderabad</h2>
              <div class="row">
                <div class="col-6 mr-2">
                  <h3><a rel="bookmark" title="Home for sale in Hyderabad | Buy House in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/home-for-sale-in-hyderabad">
                      <p class="quickLinkSubText">House For Sale in Hyderabad</p>
                    </a></h3>
                  <!-- <h3><a href="https://www.homes247.in/all-localities-by-city">
                        <p class="quickLinkSubText">All Localities by city</p></a></h3> -->
                  <h3>
                    <a rel="bookmark" title="Buy Flats in Hyderabad | Flats for sale in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/residential-flats-in-hyderabad-for-sale">
                      <p class="quickLinkSubText">Flats For Sale in Hyderabad</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Residential Plots in Hyderabad|Buy Plots in Hyderabad|Homes247.in"
                      href="https://www.homes247.in/plots-in-hyderabad">
                      <p class="quickLinkSubText">Plots in Hyderabad</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="Villas for sale in Hyderabad|Buy villas in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/villas-for-sale-in-hyderabad">
                      <p class="quickLinkSubText">Villas For Sale in
                        Hyderabad</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark"
                      title="Buy New projects in Hyderabad | 2000+ Upcoming Projects in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/new-launch-projects/new-projects-in-hyderabad">
                      <p class="quickLinkSubText">New Projects in Hyderabad</p>
                    </a>
                  </h3>
                </div>
                <div class="col-6 mr-2">
                  <h3>
                    <a rel="bookmark"
                      title="Ready to Move Flats in Hyderabad |  Buy Ready to occupy apartments in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/ready-to-move-apartments/ready-to-move-flats-in-hyderabad">
                      <p class="quickLinkSubText">Ready to move Apartments in Hyderabad</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark"
                      title="Agricultural Land for Sale in Hyderabad | Farm Land for sale in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/agricultural-land-for-sale-in-hyderabad">
                      <p class="quickLinkSubText">Agricultural land for sale in Hyderabad</p>
                    </a>
                  </h3>
                  <!-- <h3><a href="https://www.homes247.in/all-builders-by-city">
                      <p class="quickLinkSubText">All Builders by city</p></a></h3> -->
                  <h3>
                    <a rel="bookmark" title="5 BHK Ready to Move Flats/Apartments in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/bstc/5-bhk-ready-to-move-flats-apartments-in-hyderabad">
                      <p class="quickLinkSubText">5 BHK Ready to Move Flats in Hyderabad</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark" title="5 BHK Flats/Apartments in Hyderabad | Homes247.in"
                      href="https://www.homes247.in/btc/5-bhk-flats-in-hyderabad">
                      <p class="quickLinkSubText">5 BHK Flats/Apartments in Hyderabad</p>
                    </a>
                  </h3>
                  <h3>
                    <a rel="bookmark"
                      title="Flats For 30 Lakhs  in Hyderabad | Apartments in Hyderabad Below 30 Lakhs  | Homes247.in"
                      href="https://www.homes247.in/fbc/flats-for-30-lakhs-in-hyderabad">
                      <p class="quickLinkSubText">Flats for 30 Lakhs in Hyderabad</p>
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollmenu">
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <a class="footer_header" href="https://www.homes247.in/blogs/vastu-shastra-tips-8"><span class="dot"></span>&nbsp;&nbsp;Vastu Blogs</a>
              <div class="row">
                <div class="col-12 mr-2 links_maindiv">
                  @for (blog of VastuBlogs; track blog.id) {
                    <h3 class="m-0">
                      <a rel="bookmark" [href]="'https://www.homes247.in/blogs/' + (blog.urlstruture | lowercase | replaceLineBreaks) + '-' + blog.id">
                      <p class="quickLinkSubText1">{{blog.title}}</p></a>
                    </h3>
                  }
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <a class="footer_header" href="https://www.homes247.in/blogs/our-trending-blogs-1"><span class="dot"></span>&nbsp;&nbsp;Trending Blogs</a>
              <div class="row">
                <div class="col-12 mr-2 links_maindiv">
                  @for (blog of trendingBlogs; track blog.id) {
                    <h3 class="m-0">
                      <a rel="bookmark" [href]="'https://www.homes247.in/blogs/' + (blog.urlstruture | lowercase | replaceLineBreaks) + '-' + blog.id">
                      <p class="quickLinkSubText1">{{blog.title}}</p></a>
                    </h3>
                  }
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <a class="footer_header" href="https://www.homes247.in/blogs/interior-design-ideas-5"><span class="dot"></span>&nbsp;&nbsp;Interiors Blogs</a>
              <div class="row">
                <div class="col-12 mr-2 links_maindiv">
                  @for (blog of InteriorsBlogs; track blog.id) {
                    <h3 class="m-0">
                      <a rel="bookmark" [href]="'https://www.homes247.in/blogs/' + (blog.urlstruture | lowercase | replaceLineBreaks) + '-' + blog.id">
                      <p class="quickLinkSubText1">{{blog.title}}</p></a>
                    </h3>
                  }
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <a class="footer_header" href="https://www.homes247.in/blogs/healthy-lifestyle-blogs-9"><span class="dot"></span>&nbsp;&nbsp;Lifestyle Blogs</a>
              <div class="row">
                <div class="col-12 mr-2 links_maindiv">
                  @for (blog of LifestyleBlogs; track blog.id) {
                    <h3 class="m-0">
                      <a rel="bookmark" [href]="'https://www.homes247.in/blogs/' + (blog.urlstruture | lowercase | replaceLineBreaks) + '-' + blog.id">
                      <p class="quickLinkSubText1">{{blog.title}}</p></a>
                    </h3>
                  }
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <a class="footer_header" href="https://www.homes247.in/blogs/modern-construction-techniques-10"><span class="dot"></span>&nbsp;&nbsp;Construction Blogs</a>
              <div class="row">
                <div class="col-12 mr-2 links_maindiv">
                  @for (blog of ConstructionBlogs; track blog.id) {
                    <h3 class="m-0">
                      <a rel="bookmark" [href]="'https://www.homes247.in/blogs/' + (blog.urlstruture | lowercase | replaceLineBreaks) + '-' + blog.id">
                      <p class="quickLinkSubText1">{{blog.title}}</p></a>
                    </h3>
                  }
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <a class="footer_header" href="https://www.homes247.in/blogs/tips-for-buying-a-house-4"><span class="dot"></span>&nbsp;&nbsp;Home Buying Blogs</a>
              <div class="row">
                <div class="col-12 mr-2 links_maindiv">
                  @for (blog of HomeBuyingBlogs; track blog.id) {
                    <h3 class="m-0">
                      <a rel="bookmark" [href]="'https://www.homes247.in/blogs/' + (blog.urlstruture | lowercase | replaceLineBreaks) + '-' + blog.id">
                      <p class="quickLinkSubText1">{{blog.title}}</p></a>
                    </h3>
                  }
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div>
          <div class="col-12 mobile_classes">
            <div class="footer_right_links">
              <a class="footer_header" href="https://www.homes247.in/blogs/indian-realestate-articles-17"><span class="dot"></span>&nbsp;&nbsp;Indian Realestate Blogs</a>
              <div class="row">
                <div class="col-12 mr-2 links_maindiv">
                  @for (blog of IndianRealestateBlogs; track blog.id) {
                    <h3 class="m-0">
                      <a rel="bookmark" [href]="'https://www.homes247.in/blogs/' + (blog.urlstruture | lowercase | replaceLineBreaks) + '-' + blog.id">
                      <p class="quickLinkSubText1">{{blog.title}}</p></a>
                    </h3>
                  }
                </div>
              </div>             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="locationSection footer_end_info">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 mb-2">
            <div class="visit_us">
              <span class="scnd_span_ftr">
                <a href="tel:+91 9164247247">
                  <img src="https://d1zt14hr2k4poi.cloudfront.net/version2.0/icons/call.svg" alt="call-icon" loading="lazy" />
                </a>
              </span>
              <p>+91 9164247247 (9:30 AM - 7:30 PM) <br />e-mail : enquiry&#64;homes247.in</p>
            </div>
          </div>
          <div class="SocialMediaSection">
            <div class="col-12 text-center">
              <p class="stayContdText">Stay Connected</p>
            </div>
            <div class="col-12 mt-4 mb-4">
              <div class="row">
                <div class="col-2">
                  <a class="fb socialIcons" target="_blank" href="https://www.facebook.com/Homes247.in/"><i id="Property_Facebook_Mobile" class="fa-brands fa-facebook"></i></a>
                </div>
                <div class="col-2">
                  <a class="insta socialIcons" target="_blank" href="https://www.instagram.com/homes247.in"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="col-2">
                  <a class="twitt socialIcons" target="_blank" href="https://twitter.com/homes247_in"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="col-2">
                  <a class="linked socialIcons" target="_blank" href="https://www.linkedin.com/company/homes247/"><i id="Property_Linkedin_Mobile" class="fa-brands fa-linkedin"></i></a>
                </div>
                <div class="col-2">
                  <a class="pintrst socialIcons" target="_blank" href="https://in.pinterest.com/Homestwofourseven/"><i id="Property_Pinterest_Mobile" class="fa-brands fa-pinterest"></i></a>
                </div>
                <div class="col-2">
                  <a class="youtube socialIcons" target="_blank" href="https://www.youtube.com/@Homes247in"><i class="fa-brands fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>