<div class="mainOverflow">
  <div class="headerBackground">
    <div class="ag-star ag-star-1"></div>
    <div class="ag-star ag-star-2"></div>
    <div class="ag-star ag-star-3"></div>
    <div class="ag-star ag-star-4"></div>
    <div class="ag-star ag-star-5"></div>
    <div class="ag-star ag-star-6"></div>
    <div class="col-12 p-0">
      <span></span>
      <!--        <span></span>-->
      <span></span>
      <!--        <span></span>-->
      <span></span>
      <!--        <span></span>-->
      <!--    <span></span>-->
      <!--        <span></span>-->
      <!--        <span></span>-->
      <!--        <span></span>-->
      <!--    <span></span>-->
    </div>
    <div class="col-12 text-center pt-3">
      <img class="mainLogoHomes" href="https://www.homes247.in/"
           src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/logo/logo-white-orange.svg">
    </div>
    <div class="col-12 text-right animateOnLoadFromBottom">
      <img class="rocketImg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/rocket.svg" alt="rocket.svg">
      <div class="container2">
        <div class="red flame"></div>
        <div class="orange flame"></div>
        <div class="yellow flame"></div>
        <div class="white flame"></div>
      </div>
      <div class="container3">
        <div class="red flame"></div>
        <div class="orange flame"></div>
        <div class="yellow flame"></div>
        <div class="white flame"></div>
      </div>
    </div>
    <div class="col-12 ">
      <p class="mainBannerHeading animateOnLoadFromLeft ">Get Free & Faster</p>
      <p class="mainBannerHeading2 animateOnLoadFromRight">Leads From <br>
        <img class="HomesLogo"
             src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/Homes247_NewBlack_Logo.png"></p>
    </div>
    <div class="col-12 mt-5">
      <h1 class="commonTitleMarginTop underline HowToPostText">Why choose between quantity or quality?</h1>
      <p class="mt-4 subDescp">Why not have Both!</p>
      <p class="text-justify mt-3 subDescp">Yes, no more compromises with Homes247.in get the maximum number of
        quality leads for your Property, whether they are up for sale or rent.</p>
      <p class="text-justify subDescp">So are you ready for the ride of a lifetime!</p>
    </div>
    <div class="col-12 commonTitleMarginTop mb-4">
      <h1 class="underline HowToPostText">How it works</h1>
    </div>
    <div class="col-12 pattern-bg1">
      <div class="row">
        <div class="col-12 mb-4 text-center">
          <img id="Hassle-Free-Posting" class="uploadImg animateOnLoadFromLeft"
               src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/Hassle-Free-Posting.png">
          <p class="hwitworkstitles">Hassle-Free Posting</p>
        </div>
        <div class="col-6 text-center">
          <img id="Assured-Leads" class="uploadImg scroll-element js-scroll slide-left"
               src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/Assured-Leads.png">
          <p class="hwitworkstitles">Assured Leads</p>
        </div>
        <div class="col-6 text-center">
          <img id="Find-Tenants-Buyers-Faster" class="uploadImg scroll-element js-scroll slide-right"
               src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/Find-Tenants-Buyers-Faster.png">
          <p class="hwitworkstitles">Find Tenants/Buyers Faster</p>
        </div>
      </div>
    </div>
    <div class="col-12 commonTitleMarginTop mb-4 pattern-bg3">
      <h2 class="underline HowToPostText">Step 1 - Log In to Launch</h2>
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12 scroll-element js-scroll slide-left">
            <img class="imgLogin " src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/mobile/login.png" alt="login.png">
          </div>
          <div class="col-12 mt-3">
            <p class="subDescp  scroll-element js-scroll fade-in-bottom">
              Yes, Cadet, before starting engines, you have to sign up! </p>
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              By Logging in or Signing Up, you can post your Property easily and keep better track of the leads coming
              your way.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 commonTitleMarginTop mb-5 pattern-bg2">
      <h1 class="underline HowToPostText">Step 2 - Chart your Course</h1>
      <div class="col-12 mt-5">
        <div class="row ">
          <div class="col-12 text-center scroll-element js-scroll slide-right" id="BasicInfo">
            <img class="imgLogin" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/mobile/1x.png" alt="1x.png">
          </div>
          <div class="col-12 mt-3">
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              Once Logged In,</p>
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              Post your Property's Basic Details, including the Address and Landmarks.
            </p>
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              This helps both us and your potential leads determine the locale and social infrastructure.
              Also</p>
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              We don't want your leads to loose their way, Do we!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 commonTitleMarginTop mb-5 rocketLeft-bg">
      <h1 class="underline HowToPostText">Step 3 - Fuel it Up</h1>
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12 text-center scroll-element js-scroll slide-left">
            <img class="imgLogin" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/mobile/2x.png" alt="2x.png">
          </div>
          <div class="col-12 mt-4">
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              Add Information regarding the Property you want to Sell/Rent Out with our simple filters and
              options. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 commonTitleMarginTop mb-5 pattern-bg1">
      <h1 class="underline HowToPostText">Step 4 - Up to the Brim!</h1>

      <div class="col-12 mt-5">
        <div class="row">
          <div id="furtherInfo" class="col-12 text-center scroll-element js-scroll slide-right">
            <img class="imgLogin" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/mobile/3x.png" alt="3x.png">
          </div>
          <div class="col-12 mt-5">
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              Yes, the more the better, as you give extra information helps the client take a further step to seal the
              deal! </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 commonTitleMarginTop mb-5 rocketRight-bg">
      <h1 class="underline HowToPostText">Step 5 - A Picture Speaks a Thousand Words</h1>

      <div class="col-12 mt-5">
        <div class="row">
          <div id="propPhoto" class="col-12 text-center scroll-element js-scroll slide-left">
            <img class="imgLogin" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/mobile/4x.png" alt="4x.png">
          </div>
          <div class="col-12 mt-4">
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              Well, we couldn't be any more clearer than that.</p>
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              Adding your Property's picture helps the clients picture themselves in your Property.</p>
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              (See what we did there?)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 commonTitleMarginTop mb-5 pattern-bg3">
      <h1 class="underline HowToPostText">Step 6 - "To Err is human..."</h1>

      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12 text-center scroll-element js-scroll slide-right">
            <img class="imgLogin" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/mobile/5x.png" alt="5x.png">
          </div>
          <div class="col-12 mt-5">
            <p class="subDescp scroll-element js-scroll fade-in-bottom">
              So we leave nothing to fate and give you an additional feature to Review the Details you've Input. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footerBg commonTitleMarginTop">
      <div class="col-12 p-0">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="col-sm-12 text-center">
        <h2 class="finalPageTitle">That's it folks,</h2>
        <p class="finalPageSubText">
          Once the property is listed, you'll receive the lead details by SMS & Mail.
          <br>
          Now,
        </p>
        <button class="btn btn-primary finalBtn" *ngIf="loginDropDownOpen" routerLink="/login"
        >Get Ready for the Launch! &nbsp;
          <i class="fa fa-angle-double-right"
             aria-hidden="true"></i></button>
        <button class="btn btn-primary finalBtn" *ngIf="profileDropDownOpen" routerLink="/postproperty"
        >Get Ready for the Launch! &nbsp;
          <i class="fa fa-angle-double-right"
             aria-hidden="true"></i></button>
      </div>
      <div class="col-12 p-0">
        <div class="ag-star ag-star-1"></div>
        <div class="ag-star ag-star-2"></div>
        <div class="ag-star ag-star-3"></div>
        <div class="ag-star ag-star-4"></div>
        <div class="ag-star ag-star-5"></div>
        <div class="ag-star ag-star-6"></div>
      </div>
      <div class="">
        <img class="asteroid1" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/asteroids3.svg" alt="asteroids3.svg">
      </div>
      <div class="">
        <img class="asteroid2" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/asteroids4.svg" alt="asteroids4.svg">
      </div>
      <div class="col-12 p-0">
        <img class="mainPlanet" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/mainPlanet.svg" alt="mainPlanet.svg">
      </div>
      <div class="">
        <img class="footerHome" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/footerhome.svg" alt="footerhome.svg">
      </div>
      <div class="">
        <img class="asteroid3" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/asteroids5.svg" alt="asteroids5.svg">
      </div>
      <div class="">
        <img class="footerSpaceMan" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/footerSpaceMan.png" alt="footerSpaceMan.png">
      </div>
      <div class="">
        <img class="asteroid4" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/asteroids1.svg" alt="asteroids1.svg">
      </div>
      <div class="">
        <img class="asteroid5" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/asteroids2.svg" alt="asteroids2.svg">
      </div>
      <div class="">
        <img class="asteroid6" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/asteroids7.svg" alt="asteroids7.svg">
      </div>
      <div class="">
        <img class="footerBluePlanet" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/footerBLUE.svg" alt="footerBLUE.svg">
      </div>
      <div class="col-12 p-0">
        <img class="footerRocket" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/footerrocket.svg" alt="footerrocket.svg">
      </div>
      <div class="">
        <img class="asteroid7" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/asteroids6.svg" alt="asteroids6.svg">
      </div>
      <div class="">
        <img class="redPlanet" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/landing-page/footerREDPLANET.svg" alt="footerREDPLANET.svg">
      </div>

    </div>
    <div class="col-12">
      <div class="row">
        <form class="SkyBg2 col-12 text-center pt-5"  [formGroup]="EnquiryForm" (ngSubmit)="getMoreDetails()">
          <p class="h4 contactFormTitle mb-5">Contact For More Details</p>
          <input type="text" id="ename" formControlName="Name" class="form-control mb-4" placeholder="Name">
          <input type="email" id="email1" formControlName="Email" class="form-control mb-4" placeholder="E-mail">
          <input type="text" id="emobile" formControlName="Number" class="form-control" placeholder="Phone number"
                 aria-describedby="defaultRegisterFormPhoneHelpBlock">
          <button class="btn btn-primary my-4 btn-block" type="submit">GET MORE DETAILS</button>
          <h3 class="finalPageSubText mt-2">Follow Us On</h3>
          <div class="row mt-5">
            <div class="col-2">
              <a class="fb socialIcons" target="_blank" href="https://www.facebook.com/Homes247.in/"><i
                class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
            <div class="col-2">
              <a class="insta socialIcons" target="_blank" href="https://www.instagram.com/homes247.in"><i
                class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="col-2">
              <a class="twitt socialIcons" target="_blank" href="https://x.com/homes247_in"><i
                class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="col-2">
              <a class="linked socialIcons" target="_blank" href="https://www.linkedin.com/company/homes247/"><i
                class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-2">
              <a class="pintrst socialIcons" target="_blank" href="https://in.pinterest.com/homes247in/"><i
                class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
            <div class="col-2">
              <a class="youtube socialIcons" target="_blank"
                 href="https://www.youtube.com/channel/UCv6oEM925HtkqUi3yRNDOBQ/">
                <i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
          </div>

          <hr>

          <!-- Terms of service -->

        </form>
      </div>
    </div>
  </div>
</div>
<!-- CSS-Loader -->
<div *ngIf="otploader" class="loaderbody">
  <div class="box">
    <div class="loader-20"></div>
  </div>
</div>
<!-- CSS-Loader -->
