<!-- <ng-container *ngComponentOutlet="innerheader"></ng-container> -->
<!-- <div id="conatctbutton"> -->
<!-- <app-float-contact></app-float-contact> -->
<!-- <ng-container *ngComponentOutlet="FloatContact"></ng-container>
</div> -->
<div class="about_us_banner">
  <img src="https://d1zt14hr2k4poi.cloudfront.net/version2.0/images/faq/Faq.png" alt="faq-header">
  <h1>FAQ</h1>
  <ul class="breadcrumbs breadcrumbs_type">
    <li class="breadcrumbs__item"><a href="https://www.homes247.in/" class="breadcrumbs__element">Home</a></li>
    <li class="breadcrumbs__item_active"><span class="breadcrumbs__element">Faq</span></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-8">
      <div class="faq_main">
        <h2>Real Estate FAQ’s</h2>

      </div>

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading-1">
            <h5 class="mb-0">
              <a class="text_colour" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                aria-controls="collapse-1">
                1) Difference between Super Built area, Built up area & Carpet area
              </a>
            </h5>
          </div>
          <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
            <div class="card-body">

              <p class="contentColor">
                <b>Super Built-up Area</b> is a builder’s BFF! It is the area calculated by adding the built-up area and
                common area that includes the corridor, lift lobby, lift, etc. In some cases, builders even include
                amenities such as a pool, garden and clubhouse in the common area.
              </p>
              <p class="contentColor">
                <b>Built-up Area</b> is the area that comes after adding carpet area and wall area. Now, the wall area
                does not mean the surface area, but the thickness of the inner walls of a unit.
              </p>
              <p class="contentColor">
                <b>Carpet Area</b> is the area enclosed within the walls, actual area to lay the carpet. This area does
                not include the thickness of the inner walls. It is the actual used area of an apartment.
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-2">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-2"
                aria-expanded="false" aria-controls="collapse-2">
                2) Property is lease hold or free hold? What is the Difference between them
              </a>
            </h5>
          </div>
          <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
            <div class="card-body">
              <p class="contentColor"><strong>Freehold</strong></p>
              <ul class="contentColorUl">
                <li>The freeholder of a property owns it outright, including the land it’s built on.</li>
                <li>If you buy a freehold, you’re responsible for maintaining your property and land, so you’ll need to
                  budget for these costs.
                </li>
                <li>Most houses are freehold but some might be leasehold – usually through shared-ownership schemes.
                </li>
              </ul>

              <p class="contentColor"><strong>Lease hold</strong></p>
              <ul class="contentColorUl">
                <li>With a leasehold, you own the property and its land for the length of your lease agreement with the
                  freeholder.
                </li>
                <li>When the lease ends, ownership returns to the freeholder, unless you can extend the lease.</li>
                <li>Most flats and maisonettes are owned leasehold, apart from in Scotland where there are very few
                  leasehold properties.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-3">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-3"
                aria-expanded="false" aria-controls="collapse-3">
                3) What is difference b/w RowHouse , Apartment and Villa ?
              </a>
            </h5>
          </div>
          <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
            <div class="card-body">
              <p class="contentColor"><strong>Apartment</strong></p>
              <p class="contentColor">
                A residential space in a multi-unit building is called a flat. If you are wondering what apartment is,
                then it is nothing but the American synonym of flat. Apartment term is also used for flats that serve
                certain purpose, such as, a flat given to an employee for stay during the work period is called
                apartment. There are some other types of apartment too. Duplex, Triplex and Penthouse.
              </p>
              <p class="contentColor"><strong>Villa</strong></p>
              <p class="contentColor">
                The luxurious counterpart of a row house is called a villa. This property opens directly to the street;
                the main area and the street are separated by a veranda which has no functional use but used most of the
                times for gardening, car-park or other utility. Though villa is an individual unit of residence, the
                floor plan is fixed.
              </p>
              <p class="contentColor"><strong>Row House</strong></p>
              <p class="contentColor">
                A Row House Can be defined as a single-family dwelling unit arranged in a row with a minimum of three
                dwelling units attached to each other by a common wall with only front, rear and interior open spaces.
                The first and the last of these houses are usually larger than the middle ones.
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-4">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-4"
                aria-expanded="false" aria-controls="collapse-3">
                4) What is BSP, EDC /IDC, IBMS, IFMS?
              </a>
            </h5>
          </div>
          <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
            <div class="card-body">
              <p class="contentColor"><strong>BSP</strong></p>
              <p class="contentColor">
                Basic Sale Price of Apartment is nothing but the product of basic rate per square feet rate with the
                area of the property in square feet. To arrive at the final price of a property the buyer should add all
                other charges. 
              </p>
              <p class="contentColor"><strong>EDC</strong></p>
              <p class="contentColor">
                Stands for External development charges. These charges are levied on owners for development of different
                infrastructure required. External Development or services include the following: Water supply. Sewerage
              </p>
              <p class="contentColor"><strong>IDC</strong></p>
              <p class="contentColor">
                These fees are collected by the government so that they can carry on the development of the area where
                the township is proposed and in its vicinity. Internal Development Charges (IDC) in Real Estate: These
                are the charges that are parallel to the EDC charges and again these are charged by the government.
              </p>
              <p class="contentColor"><strong>IFMS</strong></p>
              <p class="contentColor">
                At the time of possession of commercial or residential properties, buyers are generally liable to pay a
                number of extra ‘burdens’ known as additional charges. One of the significant among them is the IFMS
                (Interest Free Maintenance Security) charges. IFMS is a collective sum of money levied from the
                buyers/investors of a residential/commercial project by the builder, under a separate account.
              </p>
              <p class="contentColor">
                The builder will keep the money under their custody, till a RWA (Residential Welfare Association) is
                enacted in the residential project, following which the builder will transfer the account to the
                association. However the interest for the money will not be passed to the association and will be in
                favour to the buyers. Mostly, RWA’s will be set up at least a year after the project is delivered.
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-5">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-5"
                aria-expanded="false" aria-controls="collapse-3">
                5) What is Registration charges. Is there any other charges to be paid by Home Buyer apart from it?
              </a>
            </h5>
          </div>
          <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
            <div class="card-body">
              Registration fee is a term which refers to a sum of money required to enrol on an official register. It
              is generally intended to defray the cost of administration but may include damage deposits or taxes. The
              term particularly refers to a fee levied on property transactions by state governments in India. Other
              than this there are Local Authority Charges for Water, Electricity, etc. Ex.. in Bangalore customer has
              to pay BWSSB, BESCOM, BBMP/ BDA charges etc. This may differ from City to city. In addition to this
              Customer has to pay Maintenance Charge, Clubhouse Charge, Service to Backup etc. to the developer. Which
              is a part of maintenance.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-6">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-6"
                aria-expanded="false" aria-controls="collapse-3">
                6) What are different Stage of the project ?
              </a>
            </h5>
          </div>
          <div id="collapse-6" class="collapse" data-parent="#accordion" aria-labelledby="heading-6">
            <div class="card-body">
              There are different stages in the Construction They are termed as Soft launch, Prelaunch, under
              construction, Based on the Stage of the Construction.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-7">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-7"
                aria-expanded="false" aria-controls="collapse-3">
                7) Why it is important to fetch OC? (Occupation certificate)
              </a>
            </h5>
          </div>
          <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-7">
            <div class="card-body">
              A certificate of occupancy is a document issued by a local government agency or building department
              certifying a building's compliance with applicable building codes and other laws and indicating it to
              be in a condition suitable for occupancy. This is very important for many purpose for loan and other
              legal purpose.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-8">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-8"
                aria-expanded="false" aria-controls="collapse-3">
                8) Is service tax applicable in property?
              </a>
            </h5>
          </div>
          <div id="collapse-8" class="collapse" data-parent="#accordion" aria-labelledby="heading-8">
            <div class="card-body">
              An under-construction property can be divided into three parts, vis-à-vis its cost components. The
              first part is the cost of the land, on which neither VAT nor service tax is applicable. The second
              part is the cost of materials. According to the Supreme Court’s decision, in the case of Raheja
              Development Corporation vs the State of Karnataka, this can be deemed a part of the work contract and
              thus, is liable for VAT. The third part is the cost of construction, which largely involves labour
              charges and can be treated as a service that is rendered by the builder to the purchaser. Therefore,
              service tax can be levied on this component.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-9">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-9"
                aria-expanded="false" aria-controls="collapse-3">
                9) Different Payment plans?
              </a>
            </h5>
          </div>
          <div id="collapse-9" class="collapse" data-parent="#accordion" aria-labelledby="heading-9">
            <div class="card-body">
              <p class="contentColor"><strong>Down Payment Plan</strong></p>
              <p class="contentColor">
                Popularly abbreviated as DPP, this scheme will demand buyers to remit 10 % of the total amount of the
                apartment as a down payment during the time of booking. 80-85 % of the remaining amount should be paid
                within 30 days after the date of booking. The remaining amount of 5-10 % shall be paid at the time of
                possession, which also includes registration charges, stamp duty and additional charges etc as
                mentioned to you. In this plan the Equated Monthly Instalment (EMI) will commence from the time of
                booking. The benefit of DPP is that buyers mostly have chances to settle the transaction 10-12 % lower
                than the estimated cost of the property. The major drawback is that in case of any delay in
                construction activities, the buyer will have to patiently wait, even after full payment.
              </p>
              <p class="contentColor"><strong>Construction Linked Plan</strong></p>
              <p class="contentColor">
                Abbreviated as CLP, this plan will demand to pay 10-12 % of the total amount from the purchaser at the
                time of booking. The rest of the amount will be paid in instalments linked to different stages of
                construction. The major advantage is that buyers are comparatively getting more time in accruing the
                money for their home. In case of home loan, this plan will allow buyers to only pay pre- EMI on the
                interest of the loan. The plan is beneficiary for buyers as they can avoid the worry over any delays
                in possession. However, if you are taking into account of the interest part to be paid for the loan,
                buyers are bound to pay more interest in CLP and in this case it is wise to choose DPP. But if the
                builder throws you more than 15 % of reduction in DP plan, it would be right to choose DP plan than
                the CLP plan.
              </p>
              <p class="contentColor"><strong>Flexi Payment Plan</strong></p>
              <p class="contentColor">
                Flexi payment plan is mostly open for mid stage construction properties. In this plan, buyers need to
                pay 10 % of booking amount followed by 30-40 % within the next month. The next 50-40 % will be
                remitted in the similar way of construction linked payment plan, followed by the last 10 % during the
                time of possession. If you are a financial expert who intends to sell the property after years, this
                plan suits you. This plan gives ample freedom for buyers as they don’t need to suffer more on the
                stress of allocating money. The shortcoming of this plan is that buyers are not likely to get any
                discounts as compared to DPP plan.
              </p>
              <p class="contentColor"><strong>Subvention Plan</strong></p>
              <p class="contentColor">
                This plan is relatively a new payment plan where buyer will be financed by bank. Prior to paying 15 to
                20 percent as the booking amount, buyers will apply for a home loan. The buyers don’t need to pay the
                EMI’s till a fixed period of time. In this plan the builder will pay the interest of the loan (not the
                principle amount). There are several benefits for this plan:
              </p>
              <ul class="contentColorUl">
                <li>The plan is ideal for those who live in rental apartments as they have enough time for accruing
                  money.
                </li>
                <li>Basically, the buyer will own the property without paying any EMI’s to a fixed period of time.
                </li>
                <li>Banks will release bank loans at reasonable rates. Since associated with a bank, customers can
                  also feel secured.
                </li>
                <li>Buyers can also expect higher ROI as prices normally hikes after 2-3 years when construction
                  ends.
                </li>
                <li>Builders will fasten the project to escape from more payments as interest to bank which also
                  benefits the buyers.
                </li>
                <li>Banks also benefit as they get a pool of clients within a single project as their customers</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-10">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-10"
                aria-expanded="false" aria-controls="collapse-3">
                10) Where we can check the license of any project ?
              </a>
            </h5>
          </div>
          <div id="collapse-10" class="collapse" data-parent="#accordion" aria-labelledby="heading-10">
            <div class="card-body">
              There are many government online portals where you can find the details related to the License and
              Approvals of the Project. Since the revolution of digital media common man can easily find out
              the details and related approvals of any project. RERA, Local Authorities Approvals like BDA, BBMP
              which varies from the Cities.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-11">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-11"
                aria-expanded="false" aria-controls="collapse-3">
                11) What is Possession Linked Payment Plan?
              </a>
            </h5>
          </div>
          <div id="collapse-11" class="collapse" data-parent="#accordion" aria-labelledby="heading-11">
            <div class="card-body">
              There are many government online portals where you can find the details related to the License and
              Approvals of the Project. Since the revolution of digital media common man can easily find out
              the details and related approvals of any project. RERA, Local Authorities Approvals like BDA, BBMP
              which varies from the Cities.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-12">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-12"
                aria-expanded="false" aria-controls="collapse-3">
                12) Pre launch & Official launch ?
              </a>
            </h5>
          </div>
          <div id="collapse-12" class="collapse" data-parent="#accordion" aria-labelledby="heading-12">
            <div class="card-body">
              This is first stage of the project after getting permission for development of the project from local
              authorities. EOI- Expression of Interest the document which will be taken by Builder from the customer
              at the time of soft launch or Prelaunch of the project. <strong> Official Launch </strong> is the time
              from which construction of the project starts. 
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-13">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-13"
                aria-expanded="false" aria-controls="collapse-3">
                13) What do you mean by possession?
              </a>
            </h5>
          </div>
          <div id="collapse-13" class="collapse" data-parent="#accordion" aria-labelledby="heading-13">
            <div class="card-body">
              Possession of the project is just the date at which the project is available to move in This can be
              mentioned at the time of launch, usually this date varies and depends on various factors, Availability
              of Raw material, Workers etc This also influence the Cost of the project.  
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-14">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-14"
                aria-expanded="false" aria-controls="collapse-3">
                14) Is builder is paying penalty to customers if project not deliver on time?
              </a>
            </h5>
          </div>
          <div id="collapse-14" class="collapse" data-parent="#accordion" aria-labelledby="heading-14">
            <div class="card-body">
              Possession of the project is just the date at which the project is available to move in This can be
              mentioned at the time of launch, usually this date varies and depends on various factors, Availability
              of Raw material, Workers etc This also influence the Cost of the project.  
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-15">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-15"
                aria-expanded="false" aria-controls="collapse-3">
                15) What documents should I check before buying a new property?
              </a>
            </h5>
          </div>
          <div id="collapse-15" class="collapse" data-parent="#accordion" aria-labelledby="heading-15">
            <div class="card-body">
              <ul class="contentColorUl">
                <li>Sale Deed</li>
                <li>Title Deed</li>
                <li>Approved Building plans</li>
                <li>Completion Certificate ( Newly Constructed)</li>
                <li>Commencement Certificate( Under-construction property)</li>
                <li>Conversion Certificate( If agricultural land is covered to non-agricultural)</li>
                <li>Khata Certificate (especially in Bangalore)</li>
                <li>Encumbrance Certificate</li>
                <li>Latest Tax Receipts</li>
                <li>Occupancy Certificate</li>
              </ul>  
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-16">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-16"
                aria-expanded="false" aria-controls="collapse-3">
                16) Low rise or High-rise development (which is better and different)?
              </a>
            </h5>
          </div>
          <div id="collapse-16" class="collapse" data-parent="#accordion" aria-labelledby="heading-16">
            <div class="card-body">
              <p class="contentColor">
                Low Rise building is one which have only a few stories
              </p>
              <p class="contentColor">
                High Rise buildings is one whose height is above 35 Meter or number of floors in that building is
                above 15 Floors.
              </p>
              <p class="contentColor">
                Both have some Pros and Cons depending on the customers requirements they can choose.
              </p>
              <p class="contentColor"><strong>Pros</strong></p>
              <p class="contentColor"><strong>Less Noise - </strong>Residents of High raised Buildings is safe from
                unwanted noises like
                Car Honks, Traffic etc…</p>
              <p class="contentColor"><strong>Better View - </strong>Residents of the unit present in Higher Floor can
                have better view of
                the surrounding and some times they will be able to watch more that quarter part of the City. </p>
              <p class="contentColor"><strong>Privacy - </strong>Residents of the Upper Floors have maximum privacy and
                hence they live
                happily without unwanted disturbance.</p>

              <p class="contentColor"><strong>Apart from the above advantages High Raised Buildings have some</strong>
              </p>

              <p class="contentColor"><strong>Cons</strong></p>
              <p class="contentColor"><strong>Evacuation - </strong>In case of Emergency residents should run from upper
                floors or they
                have step up or Step down all the floors right away which is a hassle and can be worst id elevator is
                not working.</p>
              <p class="contentColor"><strong>Low Raised Building</strong></p>
              <p class="contentColor"><strong>Pros</strong></p>
              <p class="contentColor"><strong>Moving Convenience</strong></p>
              <p class="contentColor">This is better option for those who have to move frequently in and out of the
                residence in the
                single which become a hectic task in case of High Raised building.</p>
              <p class="contentColor"><strong>Cheaper</strong></p>
              <p class="contentColor">
                Relatively Lower Floor Apartments are almost Cheaper than those on higher floors. If someone is
                concerned about the price and not the view from the balcony then Low raised building will be ideal for
                them.
              </p>
              <p class="contentColor"><strong>Cons</strong></p>
              <p class="contentColor">Less Privacy, More Noise, Sometimes security Issue may occur like stranger walking
                into the floors
                easily.</p> 
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-17">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-17"
                aria-expanded="false" aria-controls="collapse-3">
                17) Difference between residential, commercial & mixed land?
              </a>
            </h5>
          </div>
          <div id="collapse-17" class="collapse" data-parent="#accordion" aria-labelledby="heading-17">
            <div class="card-body">
              <p class="contentColor"><strong>A residential area</strong> is a land used in which housing predominates,
                as opposed to
                industrial and commercial areas. These include single-family housing, multi-family residential, or
                mobile homes. Zoning for residential use may permit some services or work opportunities or may totally
                exclude business and industry.</p>
              <p class="contentColor"><strong>A commercial area</strong> is real estate intended for use by for-profit
                businesses, such as
                office complexes, shopping malls, service stations and restaurants. It may be purchased outright by a
                developer for future projects or leased through a real estate broker.</p>
              <p class="contentColor"><strong>Mixed use land</strong> is development is in a broad sense is any
                development which blends
                well with Commercial, Residential and Office space etc. The Functions of the projects can be
                physically or functionally integrated with some type of connections between them. Mostly these types
                of projects will be handled by private developer and Government Sectors or may be a part of
                Private-Public Venture.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-18">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-18"
                aria-expanded="false" aria-controls="collapse-3">
                18) What is the Lock-in period for sell in any project?
              </a>
            </h5>
          </div>
          <div id="collapse-18" class="collapse" data-parent="#accordion" aria-labelledby="heading-18">
            <div class="card-body">
              <p class="contentColor"><strong>A residential area</strong> is a land used in which housing predominates,
                as opposed to
                industrial and commercial areas. These include single-family housing, multi-family residential, or
                mobile homes. Zoning for residential use may permit some services or work opportunities or may totally
                exclude business and industry.</p>
              <p class="contentColor"><strong>A commercial area</strong> is real estate intended for use by for-profit
                businesses, such as
                office complexes, shopping malls, service stations and restaurants. It may be purchased outright by a
                developer for future projects or leased through a real estate broker.</p>
              <p class="contentColor"><strong>Mixed use land</strong> is development is in a broad sense is any
                development which blends
                well with Commercial, Residential and Office space etc. The Functions of the projects can be
                physically or functionally integrated with some type of connections between them. Mostly these types
                of projects will be handled by private developer and Government Sectors or may be a part of
                Private-Public Venture.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-19">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-19"
                aria-expanded="false" aria-controls="collapse-3">
                19) Difference between bare shell, semi-finished & fully furnished apartment?
              </a>
            </h5>
          </div>
          <div id="collapse-19" class="collapse" data-parent="#accordion" aria-labelledby="heading-19">
            <div class="card-body">
              <p class="contentColor"><strong>A residential area</strong> is a land used in which housing predominates,
                as opposed to
                industrial and commercial areas. These include single-family housing, multi-family residential, or
                mobile homes. Zoning for residential use may permit some services or work opportunities or may totally
                exclude business and industry.</p>
              <p class="contentColor"><strong>A commercial area</strong> is real estate intended for use by for-profit
                businesses, such as
                office complexes, shopping malls, service stations and restaurants. It may be purchased outright by a
                developer for future projects or leased through a real estate broker.</p>
              <p class="contentColor"><strong>Mixed use land</strong> is development is in a broad sense is any
                development which blends
                well with Commercial, Residential and Office space etc. The Functions of the projects can be
                physically or functionally integrated with some type of connections between them. Mostly these types
                of projects will be handled by private developer and Government Sectors or may be a part of
                Private-Public Venture.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-20">
            <h5 class="mb-0">
              <a class="collapsed text_colour" role="button" data-toggle="collapse" href="#collapse-20"
                aria-expanded="false" aria-controls="collapse-3">
                20) SIX Documents that should be checked when booking a flat?
              </a>
            </h5>
          </div>
          <div id="collapse-20" class="collapse" data-parent="#accordion" aria-labelledby="heading-20">
            <div class="card-body">
              <p class="contentColor"><strong>Land Record:</strong> Title deed is very important document as it gives
                details about
                ownership, rights, obligations, and mortgages on the property. All these factors validate whether the
                land upon which the project will be developed is been registered properly and rights for the
                development has been transferred. Home Buyer can ask for the copy of it from the developer and cross
                check the information with the land record office.</p>
              <p class="contentColor"><strong>Construction Clearances:</strong> Before construction of a property it is
                mandatory to obtain
                A ‘Certificate of Commencement’. This certificate is issued by the town planning and engineering
                departments post the inspection of the basic foundation for a superstructure and building boundaries.
                At the same time Builder should also obtain the required licenses sanctions and permissions for the
                map that are required before you can even start excavating.</p>
              <p class="contentColor"><strong>Approved Planning:</strong>It is always better to cross verify that the
                building plan and the
                layout plan has been approved and there is no law has been bypassed. In addition to this make sure
                that flat which you have booked is approved in the building plan. The layout plan should be in
                accordance with NBC (National Building Code of India). NBC is a comprehensive guideline, a code, for
                regulating the real estate activities. Green Status is something which is claimed by Some Projects.
                Green Building Rating System India (GRIHA).</p>
              <p class="contentColor"><strong>Land Use Certificate:</strong>It is illegal to have residential properties
                on a commercial or
                industrial zone. You can apply to the concerned Urban development authority and check the certificate
                to ensure that the property you plan to purchase is in the residential zone. As Cities are
                expanding due to shortage of available land agricultural land will be often converted for
                non-residential usage at cost of some fee to the local government. Endorsement order for such
                conversions will be given by the tahsildars or Deputy Collector of the particular zone.</p>
              <p class="contentColor"><strong>Master Plan of the Area:</strong>It’s a strategic plan that every builder
                would follow
                claiming that our project is very close to NH, Metro or any other Public Infrastructure, Do go by the
                words or adds blindly. It is your responsibility to verify once again whether the details is correct
                or not. This information would be available easily in Department related to Town planning,
                City Corporations etc.</p>
              <p class="contentColor"><strong>No Objection Certificates(NOC’s) :</strong> The property should have
                acquired NOC from
                concerned Authorities, like Environment, Electricity , Water and other essential government bodies.
              </p>
            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="col-lg-12 col-md-12 col-sm-4">
      <div class="faq_form_main">
        <h4>Do you have any questions to ask ?</h4>
        <form name="faqForm">
          <input autocomplete="off" placeholder="Name" type="text" name="name" id="name" [(ngModel)]="user.name"
            required />
          <div class="clearfix"></div>

          <input autocomplete="off" placeholder="Email Id" type="email" id="email" name="email" [(ngModel)]="user.email"
            required />
          <div class="clearfix"></div>

          <textarea placeholder="Your message" name="msg" [(ngModel)]="user.msg" required></textarea>

          <div class="clearfix"></div>

          <button (click)="getintouch(user.name,user.email,user.msg);">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footerDiv">
  <div *ngIf="loaded">
    <ng-container *ngComponentOutlet="FooterComponent"></ng-container>
  </div>
</div>
<div class="innerheader_position">
  <app-innerheader></app-innerheader>
</div>