<div style="position: absolute;
    top: 0;width: 100%;">
    <app-inner-headder-with-sidenav></app-inner-headder-with-sidenav>
</div>
<div class="topMarginBreadCrumbs"></div>

<div class="city_search_filters ">
    <div class="container">
        <div class="col-12 mb-2 head_stick">
            <div class="row justify-content-between scroll_part" #scrollPart>
                @if (!projectcount_city) {
                <button type="button" class="btn btn-Properties">Projects (XXXX)</button>
                }
                @if (projectcount_city) {
                <button type="button" class="btn btn-Properties"
                    routerLink="/{{city | cleanUrl}}/property-sale">Projects
                    ({{projectcount_city}})</button>
                }
                @if (!propertiescount) {
                <button type="button" class="btn btn-Properties">By Individuals (XXX)</button>
                }
                @if (propertiescount) {
                <button type="button" class="btn btn-Properties" routerLink="/projects-in-{{city}}">By Individuals
                    ({{propertiescount}})</button>
                }
                @if (!projectcount) {
                <button type="button" class="btn btn btn-Properties">Rental (XXX)</button>
                }
                @if (projectcount) {
                <button type="button" class="btn btn btn-Properties"
                    routerLink="/rent/house-for-rent-in-{{city}}">Rental
                    ({{projectcount}})</button>
                }
                @if (!projectcommercialcount) {
                <button type="button" class="btn btn btn-Properties">Commercial (XXX)</button>
                }
                @if (projectcommercialcount) {
                <button type="button" class="btn btn btn-Properties"
                    routerLink="/cll/commercial-properties-in-{{city}}">Commercial
                    ({{projectcommercialcount}})</button>
                }
                @if (!PGprojectcount) {
                <button type="button" class="btn btn btn-Project">PG (XXX)</button>
                }
                @if (PGprojectcount) {
                <button type="button" class="btn btn btn-Project">PG ({{PGprojectcount}})</button>
                }
            </div>
        </div>

        <ng-container *ngComponentOutlet="Matautocomplete"></ng-container>


        <div class="breadcrumbsection">
            <ul class="breadcrumb pl-0">
                <li><a href="/">Home</a></li>
                <li><a routerLink="/{{city | cleanUrl}}/property-sale">Properties in {{ city | titlecase}}</a></li>
                <li><a>PG properties in {{ city | titlecase}}</a></li>
            </ul>
        </div>

        <div class="col-12 main-head pl-0">
            <h1 class="sqrt-title text-truncate">{{PGprojectcount}} {{ h1Text }}.</h1>
        </div>

        <div class="">







            <div class="search-results">

                @defer(on viewport) {
                @for (data of propertylists; track data; let i = $index) {
                <div class="col-12 p-2 card mt-2" [ngClass]="{
    'boostedCard': data.addBoosted != 0,
    'EarlyAccessCard': data.earlyAccess != 0,
    'listsqrt-card': data.addBoosted == 0 && data.earlyAccess == 0
  }">

                    @if (data.addBoosted == 1){
                    <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/elite/featuredBatchElite.svg"
                        class="featuredBatchElite" width="40" alt="featuredBatchElite">
                    }
                    @if (data.earlyAccess == 1){
                    <div class="earliAccessBadge">
                        <p class="earlyAccess">EARLY ACCESS</p> <img
                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/elite/yellow_vector.svg" alt=""
                            height="12" width="12">
                    </div>
                    }

                    <div class="col-12 p-0" style="
    min-height: 148px;
">
                        @if (data.images) {
                        <div class="overall_rating1 d-flex">
                            @if (data.images.length != 0) {
                            <a class="imageCountDiv d-flex">
                                <div class="imgCount">
                                    <img width="10" height="10"
                                        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/icons/fi_44289.svg"
                                        alt="fi_44289.svg">
                                </div>&nbsp;
                                <div class="imgCountNum">
                                    <p class="p-0 m-0">{{data.images.length}}</p>
                                </div>
                            </a>&nbsp;&nbsp;
                            }
                        </div>
                        }
                        <div class="favAndShare d-flex pr-1">
                            <div class="favShare text-center">
                                <div [ngClass]="{'Rental_icons_Heart_Active': isInWishlist(data.propartid), 'Rental_icons_Heart': !isInWishlist(data.propartid)}"
                                    class="Rental_icons_Heart mb-2" (click)="Heart_Transtion(data.propartid)">
                                </div>
                                <div class="Rental_icons_Share mb-2" (click)="shareContent(data)"></div>
                            </div>
                        </div>

                        <a target="_blank"
                            href="https://www.homes247.in/pgd/pg-for-rent-in-{{data.city | cleanUrl}}-{{data.propartid}}">
                            @if (data.Cover_images !== null) {
                            <img class="listsqrt-img" src="{{coverimage}}{{data.Cover_images}}?width=280&height=140"
                                [attr.fetchpriority]="i <= 4 ? 'high' : 'auto'"
                                [attr.loading]="i <= 4 ? 'eager' : 'lazy'" width="280" height="140" alt="PG listing">
                            }
                            @if (data.Cover_images == null) {
                            <img class="listsqrt-img"
                                src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/noimage/Updated_No_Image_New.jpg"
                                alt="Updated_No_Image.jpg">
                            }
                        </a>
                    </div>

                    <div class="col-12 mt-2 p-0" style="height: 14px;">
                        <div class="d-flex pricetitle">
                            <div class="text-truncate">
                                <p class="title-text">
                                    <a href="https://www.homes247.in/pgd/pg-for-rent-in-{{data.city | cleanUrl}}-{{data.propartid}}"
                                        target="_blank">
                                        PG for {{data.PG_TYPE}} in {{data.locality_name}}
                                    </a>
                                </p>
                            </div>

                            <div>
                                @if (data.amount !== null) {
                                <h5 class="listsqrt-text_Price">
                                    <span class="price_style">

                                        {{data.amount | customPriceFormat}}<span Class="month">/month</span>
                                    </span>
                                </h5>
                                }
                                @if (data.amount == null) {
                                <div class="listsqrt_button">
                                    <button class="btn lock_button1 d-flex align-items-center">
                                        Unlock Price Info
                                        <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/icons/padlock (1) 1.svg"
                                            alt="padlock (1) 1.svg" class="ms-2 lock-icon" />
                                    </button>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: 15px;">
                        <div class="col-9">
                            <p class="Locality_Name">Near {{data.Nearby_locality}}</p>
                        </div>
                        @if (data.amount !== null) {
                        <div class="col-3">
                            <p class="Onwards">Onwards</p>
                        </div>
                        }
                    </div>

                    <div class="container mt-1">
                        <div class="row mb-2" style="column-gap: 7px;">
                            <div class="col p-0 outer_layer d-flex">
                                <div class="iconsec">
                                    <p class="m-0"><img
                                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/PG-lisiting/Room Type.svg"
                                            height="24px" width="25px" alt="Room Type.svg"></p>
                                </div>
                                <div class="iconsec">
                                    <p class="detail-title m-0">ROOM TYPE</p>
                                    <p class="detail-value m-0">{{ data.Room_Type ? data.Room_Type : 'NA' }}</p>
                                </div>
                            </div>
                            <div class="col p-0 outer_layer d-flex">
                                <div class="iconsec">
                                    <p class="m-0"><img
                                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/PG-lisiting/Food-Facility.svg"
                                            height="24px" width="25px" alt="Food-Facility.svg"></p>
                                </div>
                                <div class="iconsec">
                                    <p class="detail-title m-0">FOOD FACILITY</p>
                                    <p class="detail-value m-0">{{ data.meels_types ? data.meels_types : 'NA' }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row gy-1" style="column-gap: 7px;">
                            <div class="col p-0 outer_layer d-flex">
                                <div class="iconsec">
                                    <p class="m-0"><img
                                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/PG-lisiting/suited.svg"
                                            height="24px" width="25px" alt="suited.svg"></p>
                                </div>
                                <div class="iconsec">
                                    <p class="detail-title m-0">SUITED FOR</p>
                                    <p class="detail-value m-0">{{ data.suitable_for ? data.suitable_for : 'NA' }}</p>
                                </div>
                            </div>
                            <div class="col p-0 outer_layer d-flex">
                                <div class="iconsec">
                                    <p class="m-0"><img
                                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/PG-lisiting/Parking.svg"
                                            height="24px" width="25px" alt="Parking.svg"></p>
                                </div>
                                <div class="iconsec">
                                    <p class="detail-title m-0">PARKING</p>
                                    <p class="detail-value m-0">{{ data.parking ? data.parking : 'NA' }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-start">
                            <hr
                                style="width: 481px; height: 0.5px; background-color: #F0F0F0; border: none; margin-top: 7px; margin-bottom: 0; margin-left: -37.5px; margin-right: -24px;" />
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right p-0 mt-2 d-flex align-items-center">
                                <span class="posted-by">
                                    Posted By <span class="owner">{{data.posted_by}}</span>
                                </span>
                                <div class="d-flex align-items-center contact_whatsicon ">
                                    <a href="https://api.whatsapp.com/send?phone=919008029014&text=%20https://www.homes247.in{{currenturl}}%0A%0AHi!%20I%27m%20interested%20in%20{{data.PG_TYPE}}%20in%20{{data.locality_name}},%20{{data.city}}.Can%20i%20have%20some%20more%20info%20please."
                                        target="_blank" class="no-style-link">
                                        <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/city/whatsapp-logo.svg"
                                            class="whatsapp_logo" alt="WhatsApp" height="28" width="28">
                                    </a>
                                </div>

                                @if(login == false && !elitePropertyId?.includes(data.propartid)) {
                                <a type="button" class="btn contactButton"
                                    href="https://hostinger.homes247.in/login">Contact
                                </a>

                                }
                                @if (login == true && !elitePropertyId?.includes(data.propartid) && !contactingPropertyId?.includes(data.propartid)) {
                                <button type="button" class="btn contactButton" (click)="elitePlanView(data.propartid)">
                                    Contact
                                </button>
                                }
                                @if (login == true && !elitePropertyId?.includes(data.propartid) && contactingPropertyId?.includes(data.propartid)) {
                                <button type="button" class="btn contactButton" disabled>
                                    Contacting...
                                </button>
                                }
                                @if (login == true && elitePropertyId?.includes(data.propartid)) {
                                <button type="button" class="btn contactedButton">
                                    Unlocked <img
                                        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/subscriptions/homeselite/listingUnlocked.svg"
                                        alt="listingUnlocked.svg" height="20" />
                                </button>
                                }

                            </div>
                        </div>
                    </div>

                    <!-- Subcription code  -->

                    @if(elitePropertyId?.includes(data.propartid) ) {
                    <div class="container px-0 mt-2 eliteView">
                        <!-- <div class="col-sm-12 text-right p-0 mt-2 d-flex align-items-center"> -->
                        <div class="container">
                            <div class="d-flex">

                                <div class="col-4 p-0">
                                    <!-- <p class="ownershipLine"></p> -->
                                    <hr class="ownershipLine">
                                </div>
                                <div class="col-4 p-0 text-center">
                                    <p class="ownershipDetails">{{data.Ownership}} Details</p>
                                </div>
                                <div class="col-4 p-0">
                                    <!-- <p class="ownershipLine"></p> -->
                                    <hr class="ownershipLine">
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="postedName col-6 pr-0">
                                    <P> {{ contactData[data.propartid]?.owner_name }}</P>
                                </div>
                                <div class="postedName col-6 text-right">
                                    <p> {{ contactData[data.propartid]?.owner_number }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="postedEmail col-4 pr-0">
                                    <p>By: Owner</p>
                                </div>
                                <div class="postedEmail col-8 text-right">
                                    <P> {{ contactData[data.propartid]?.owner_email }}</P>
                                </div>

                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    }


                </div>


                @if (i > 0 && i % 4 === 0) {
                <app-ad-cards></app-ad-cards>
                }

                }
                }@placeholder{
                <!-- <div class="emptyListdiv mt-2">
                    <div>
                        
                        <img width="100%" height="100%" fetchpriority="high" loading="eager" decoding="async"
                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/noimage/noProperty.png"
                            alt="noProperty.png">
                        <div class="noPropTxt text-center">
                            <p id="activityTxtHead">Sorry No Property Found</p>
                        </div>
                    </div>
                </div> -->



                <div class="skeleton-list">
                    @for (i of [1,2,3,4,5]; track i) {
                    <div class="skeleton-card"></div>
                    }
                </div>


                }


                @if (listarraylength) {
                <div class="col-12 listsqrt-card">
                    <p class="comminhsoonh1"><strong>Coming Soon</strong></p>
                    <div class="commingsoon">
                        <div>
                            <p class="listsqrt-text">xxxxxx</p>
                            <h3 class="listsqrt-text">xxxxxxxxxxxxxxx</h3>
                            <div class="row row-margin">
                                <div class="col-4">
                                    <a class="city_list_imgs" target="_blank">
                                        <img class="listsqrt-img"
                                            src="https://img-mpg.homes247.in.in/images/uploadPropertyImgs/1527931259-Sporcia-Final_Render-View-04.jpg"
                                            alt="1527931259-Sporcia-Final_Render-View-04.jpg" />
                                    </a>
                                </div>
                                <div class="col-8">
                                    <div class="minmax_price"><i class="fa fa-inr" aria-hidden="true"></i> xxxx</div>
                                    <div class="row row-margin">
                                        <div class="col">
                                            <h5 class="listsqrt-text">xxxx</h5>
                                            <p class="listsqrt-text">xxxx</p>
                                        </div>
                                        <div class="col">
                                            <h5 class="listsqrt-text">xxxx</h5>
                                            <p class="listsqrt-text">xxxx</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col sqrt-margin-top">
                                    <p class="listsqrt-text">Agent : xxxx</p>
                                    <p class="listsqrt-text">Posted :xxxx</p>
                                </div>
                                <div class="col mt-2">
                                    <a class="view_btn">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>




            @if (propertylists.length == 0) {
            <div class="emptyListdiv">
                <div>

                    <img width="100%" height="100%" fetchpriority="high"
                        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/noimage/noProperty.png"
                        alt="noProperty.png">
                    <div class="noPropTxt text-center">
                        <p id="activityTxtHead">Sorry No Property Found</p>
                    </div>
                </div>
            </div>
            }



            @if (showloader) {
            <div class="">
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="item">
                            <ngx-skeleton-loader [theme]="{'border-radius': '9px', height: '150px', width: '100%'}">
                            </ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="col-8 mt-2">
                        <ngx-skeleton-loader [theme]="{'border-radius': '4px', height: '20px', width: '180px'}">
                        </ngx-skeleton-loader>
                    </div>
                    <div class="col-4 mt-2 text-right">
                        <ngx-skeleton-loader [theme]="{'border-radius': '4px', height: '20px', width: '68px'}">
                        </ngx-skeleton-loader>
                    </div>
                </div>
            </div>
            }
        </div>
        <!-- @defer(on idle) { -->
        <div id="scroll-anchor" #scrollAnchor></div>
        <!-- } -->

    </div>
</div>







<div [hidden]="!IsVisibleEnquery" class="container">
    <div id="otpValidate" class="modal-login">
        <div class="modal-content-login-modal">
            <div class="enqiery">
                <div class="imgcontainer">
                    <span class="close-login" (click)="goBackFromEnq()" title="Close Modal">&times;</span>
                </div>
                <div class="col-sm-12 text-center">
                    @if(Homes247NewBlackLogo){
                    <img class="loginModelImg"
                        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/Homes247_NewBlack_Logo.png"
                        alt="Homes247_NewBlack_Logo.png" />
                    }
                    <p class="loginModelText">India's Favourite Property Portal</p>
                    @if (resquestCall) {
                    <img id="loginModelImg1"
                        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/rental_contact.png"
                        alt="rental_contact.png">
                    }
                    @if (resquestImages) {
                    <img id="loginModelImg1"
                        src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/Image_contact.png"
                        alt="Image_contact.png">
                    }
                </div>
                @if (resquestImages) {
                <div class="pageDetailsDiv">
                    <p class="contact_heading mb-0">Looking for Property Photos?</p>
                    <p class="contact_heading2">Fill out this form, We'll request the photos for you!</p>
                </div>
                }
                @if (resquestCall) {
                <div class="pageDetailsDiv">
                    <p class="contact_heading mb-0">Find Your Ideal Rental Home!</p>
                    <p class="contact_heading2">Receive the owner's details via email.</p>
                </div>
                }
                <div class="container mt-3">
                    <label for="newUserName" class="label_field">Name</label>
                    <input class="input-loginModel" type="text" [(ngModel)]="enquiry.name" name="name" id="uname"
                        required />
                    <label for="emobileLogin" class="label_field">Number</label>
                    <input type="text" class="input-loginModel emobileLogin" id="unumber" maxlength="10" minlength="10"
                        [(ngModel)]="enquiry.number" name="number" />
                    <label for="emobileLogin" class="label_field">Email (Optional)</label>
                    <input class="input-loginModel emobileLogin" [(ngModel)]="enquiry.mail" type="email" name="email"
                        id="uemail" required />
                    @if (resquestCall) {
                    <button type="button" class="btn col-sm-12 mt-3 mobileLogButton" (click)="otpsend()">Get Contact
                        Details</button>
                    }
                    @if (resquestImages) {
                    <button type="button" class="btn col-sm-12 mt-3 mobileLogButton" (click)="otpsend()">Request
                        Images</button>
                    }
                    @if (resquestImages) {
                    <p class="user_content mt-2">We'll notify you once the owner shares the images.</p>
                    }
                    @if (resquestCall) {
                    <p class="user_content mt-2">All the request are handled in just 5 minutes</p>
                    }
                </div>
            </div>

            <div class="OtpDiv">
                <form name="otpForm" novalidate>
                    <div class="imgcontainer">
                        <span class="close-login" (click)="goBackFromEnq()" title="Close Modal">&times;</span>
                    </div>
                    <div class="col-sm-12 text-center mb-4">
                        @if(Homes247NewBlackLogo){
                        <img class="loginModelImg"
                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/Homes247_NewBlack_Logo.png"
                            alt="Homes247_NewBlack_Logo.png" />
                        }
                        <p class="loginModelText">India's Favourite Property Portal</p>
                    </div>
                    <div class="col-sm-12 mt-0 mb-4 text-center">
                        @if (otpValidating) {
                        <img class="loginModelImg1" height="100%" width="80%"
                            src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_3/assets/images/otpsection/otpauth.svg"
                            alt="otpauth.svg">
                        }
                        <h3 id="otpVerificationTxt">Enter Verification Code</h3>
                        <p id="enterOtp">We've sent a code to your WhatsApp<br>
                            <b>+91 {{enquiry.number}}</b>
                            <a id="editNum" (click)="goback1()"> - Edit</a>
                        </p>
                    </div>

                    <input hidden autocomplete="off" type="text" placeholder="OTP" name="otp" id="otp"
                        [(ngModel)]="enquiry.otp" required />
                    <ng-otp-input class="otpinput text-center" #ngOtpInput (onInputChange)="onOtpChange($event)"
                        [config]="config">
                    </ng-otp-input>
                    <div class="col-12 text-center countdown_maindiv mt-3 mb-3">
                        <span>Resend the OTP in <countdown #cd4 [config]="countdownconfig"
                                (event)="handleEvent($event)"></countdown> Seconds</span>
                    </div>
                    <p class="otpexpireclass text-center mt-3">
                        OTP Expired - <a id="editNum" (click)="otpBasedLogin1()">Resend</a>
                    </p>
                    <div class="col-sm-12 text-center mb-3">
                        <button (click)="otpvalidate4()" class="btn mt-2 mobileLogButton1">Verify</button>
                    </div>
                    <button type="reset" id="btn_reset" style="display: none"></button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="propReportModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content modal_enqury_cntnt" style="width: 297px; height: 100vh;">
                <div class="modal-body prop_modal">
                    <div class="col-12 p-0">
                        <div class="d-flex" style="justify-content: space-between; align-items: baseline;">
                            <div class="mb-3">
                                <p class="reportHeadTxt">Report this property</p>
                                <p class="reportHeadSubTxt mb-0">Please provide the reason for report</p>
                            </div>
                            <button type="button" class="close modal_close" data-dismiss="modal">
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            </button>
                        </div>
                        <form (ngSubmit)="submitFormReport()">
                            @for (option of propAllIssue; track option) {
                            <div class="radioStyle mb-2">
                                <input type="radio" name="myRadioGroup" class="mr-2" [value]="option"
                                    [(ngModel)]="selectedOption" required (change)="onSelectionChange()"
                                    id="radioColor" />
                                {{ option.report_types }}
                            </div>
                            }
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <button type="submit" class="btn btn_style1" [disabled]="!selectedOption">Submit
                                            Report</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@if (otploader) {
<div class="loaderbody">
    <div class="box">
        <div class="loader-20"></div>
    </div>
</div>
}

<div style="height: 90px;"></div>
<!-- @defer(hydrate on idle){ -->
<nav class="mobile-bottom-nav1" fetchpriority="high">
    <img class="barIconLcp" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile_2/icons/bar.svg"
        alt="bar.svg" fetchpriority="high" loading="eager" decoding="async">
    <div class="bottom-nav-item mobile-bottom-nav__item col-2">
        <div class="mobile-bottom-nav__item-content" (click)="ShowHideSort()">
            <div class="footer_img_1"></div>
            <p class="navBorder">Sort</p>
        </div>
    </div>

    <div class="bottom-nav-item mobile-bottom-nav__item col-2">
        <div class="mobile-bottom-nav__item-content" (click)="ShowHideFilter()" data-toggle="modal"
            data-target="#filterModal">
            <div class="footer_img_3"></div>
            <p class="navBorder">Filter</p>
        </div>
    </div>

    <div class="bottom-nav-item mobile-bottom-nav__item col-4">
        <a class="mobile-bottom-nav__item-content" href="https://www.homes247.in/postproperty">
            <div class="footer_img_22"></div>
            <p id="navBorderPost">Post Property</p>
        </a>
    </div>
    @if (loginidNew == 1) {
    <div class="bottom-nav-item mobile-bottom-nav__item col-2">
        <a aria-label="user Wishlist" class="mobile-bottom-nav__item-content"
            href="https://www.homes247.in/userauth/wishlist/{{UserId}}">
            <div class="footer_img_4"></div>
            <p class="navBorder">Wishlist</p>
        </a>
    </div>

    <div class="bottom-nav-item mobile-bottom-nav__item col-2">
        <a aria-label="user Account" class="mobile-bottom-nav__item-content"
            href="https://www.homes247.in/userauth/profile/{{UserId}}">
            <div class="footer_img_5"></div>
            <p class="navBorder">Account</p>
        </a>
    </div>
    } @else {

    <div class="bottom-nav-item mobile-bottom-nav__item col-2">
        <a aria-label="user Wishlist" class="mobile-bottom-nav__item-content"
            href="https://www.homes247.in/login?id=Profile">
            <div class="footer_img_4"></div>
            <p class="navBorder">Wishlist</p>
        </a>
    </div>

    <div class="bottom-nav-item mobile-bottom-nav__item col-2">
        <a aria-label="user Account" class="mobile-bottom-nav__item-content"
            href="https://www.homes247.in/seenprojects">
            <div class="footer_img_5"></div>
            <p class="navBorder">Account</p>
        </a>
    </div>

    }
</nav>
<!-- } -->
@defer (on idle) {
@if (sortShowHide) {
<div id="sortmain_div">
    <br>
    <div class="custom-control custom-radio radiodiv1">
        <label for="customRadio1" class="sort_radio">Rent (Low to High)</label>
        <input [checked]="selectedSortValue === 1" (change)="onSortChange($event)" type="radio" value="1"
            id="customRadio1" name="customRadio">
    </div>
    <div class="custom-control custom-radio radiodiv">
        <label for="customRadio2" class="sort_radio">Rent (High to Low)</label>
        <input [checked]="selectedSortValue === 2" (change)="onSortChange($event)" type="radio" value="2"
            id="customRadio2" name="customRadio">
    </div>
    <div class="custom-control custom-radio radiodiv">
        <label for="customRadio3" class="sort_radio">Available From (Earliest First)</label>
        <input [checked]="selectedSortValue === 3" (change)="onSortChange($event)" type="radio" value="3"
            id="customRadio3" name="customRadio">
    </div>
</div>
}
}



<ng-container *ngComponentOutlet="enquiryFormComponent"></ng-container>


<!-- Subcription code  -->
<div class="modal fade" id="elitePlanModal" tabindex="-1" aria-labelledby="elitePlanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">


            <div class="d-flex justify-content-end mt-3 me-3 elitePlanLogoDiv">
                <img class="elitePlanLogo mr-3" id="elitePlanClose"
                    src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/subscription%20management/closeIcon.svg"
                    alt="Close" data-dismiss="modal" style="cursor:pointer;">
            </div>


            <div class="modal-body text-center">

                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/subscription%20management/metarIcon.svg"
                        alt="">
                </div>

                <div class="text-center YourFree mt-3">
                    <h6>Your free contact limit is over</h6>
                    <p>Upgrade your plan to keep connecting with property owners.</p>
                </div>

                <div class="afterSuccessPayment mt-4">
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <a class="btn UnlockMoreBtn" (click)="elitePlanRouter()">
                            Unlock More Contacts
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>