<div class="outerDivBg" *ngFor="let data of propertiesDetailsnew; let i = index">
  <div class="col-12">
    <div class="col-12 borderBottomOverview pl-0 mb-4">
      <nav aria-label="breadcrumb">
        <ul class="breadcrumbs mb-0">
          <li class="breadcrumb-item"><a href="https://www.homes247.in/"
              title="India's Favourite Property Portal !">Home</a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a rel="bookmark" class="relatedSearchButton" title="All Project Reviews in India | Homes247.in"
              href="https://www.homes247.in/property/{{data.city_name|cleanUrl}}/{{data.locality_name|cleanUrl}}/{{data.propertyName|cleanUrl}}-{{propID | cleanUrl}}">{{data.propertyName}}</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="/dfl/{{data.propertyName|cleanUrl}}-in-{{data.locality_name|cleanUrl}}-{{data.city_name|cleanUrl}}-disscussion-forum-list-{{propID | cleanUrl}}" target="_blank" class="breadcrumbs__element"
              title="Locality Reviews {{data.city_name}} | Homes247.in">
              {{data.propertyName}} Discussion Forum
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a target="_blank" class="breadcrumbs__element">
            Post Question
            </a>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-12 d-flex">
          <!-- <a><img (click)="location.back()" style="cursor: pointer;" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/propImage/Vector.png" alt="..Vector.png" >&nbsp;&nbsp;</a> -->
          <a><i (click)="location.back()" class="fa fa-long-arrow-left left-icon topheadbackbtn" aria-hidden="true"></i>&nbsp;&nbsp;</a>
          <h1 class="overViewColour">
            Ask Your Questions Regarding {{ data.propertyName }}
          </h1>
        </div>
      </div>

      <form>
        
        <div class="category_div">
            <h5 class="custom-title">Whats's Your Question is About?</h5>
            <button (click)="onConfiguration();" [ngStyle]="{'background-color': propConfiguration ? '#971b47' : '#F8F8F8', 'opacity' :propConfiguration ? '1': '0.75',
        'color': propConfiguration ? '#fff' : '#971B47'}">Configuration
    </button>
            <button (click)="onpropStatus();" [ngStyle]="{'background-color': propStatus ? '#971b47' : '#F8F8F8', 'opacity' :propStatus ? '1': '0.75',
        'color': propStatus ? '#fff' : '#971B47'}">Status
    </button>
            <button (click)="onPrice();" [ngStyle]="{'background-color': propPrice ? '#971b47' : '#F8F8F8', 'opacity' :propPrice ? '1': '0.75',
        'color': propPrice ? '#fff' : '#971B47'}">Price
    </button>
            <button (click)="onLocation();" [ngStyle]="{'background-color': propLocation ? '#971b47' : '#F8F8F8', 'opacity' :propLocation ? '1': '0.75',
        'color': propLocation ? '#fff' : '#971B47'}">Location
    </button>
            <button (click)="onHomeLoans();" [ngStyle]="{'background-color': propHomeLoans ? '#971b47' : '#F8F8F8', 'opacity' :propHomeLoans ? '1': '0.75',
        'color': propHomeLoans ? '#fff' : '#971B47'}">Home loans
    </button>
            <button (click)="onPossession();" [ngStyle]="{'background-color': propPossession ? '#971b47' : '#F8F8F8', 'opacity' :propPossession ? '1': '0.75',
        'color': propPossession ? '#fff' : '#971B47'}">Possession
    </button>
            <button (click)="onOther()" [ngStyle]="{'background-color': propOther ? '#971b47' : '#F8F8F8', 'opacity' :propOther ? '1': '0.75',
        'color': propOther ? '#fff' : '#971B47'}">Other
    </button>
            <!-- <button data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Other
    </button> -->
            <div class="collapse collapsepadding" id="collapseExample">
                <div class="card">
                    <textarea rows="2" id="otherquestion" name="otherquestion" placeholder="Write your question" [(ngModel)]="otherquestion"> </textarea>
                </div>
            </div>
        </div>
        <div class="input-field">
          <label for="" class="custom-title mt-4">What's Your Question?</label>
          <textarea class="form_input" type="text" id="quation" name="quation" [(ngModel)]="userquestion" ></textarea>
      </div>
    </form>
      <input class="submitQuestion" type="submit" (click)="SubmitQuation();" value="Post Question">
    </div>
  </div>
</div>

<div *ngIf="Visiblebrochure">
  <ng-container *ngComponentOutlet="otpValidationComponent"></ng-container>
</div>

<div class="showLoginView loginPostionPage" *ngIf="LoginView">
  <div class="col-sm-12 text-center" style="padding: 1rem;">
      <img class="loginModelImg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/Homes247_NewBlack_Logo.png" alt="Homes247_NewBlack_Logo.png">
      <!-- <p class="loginModelText">Best Innovative Realestate Website of the year and most trusted brand.</p> -->
      <button (click)="close()" type="button" class="close" data-bs-dismiss="modal">&times;</button>
    </div>
  <div class="modal-body">
      <div class="container log">
          <div class="">
              <h5 class="underline-1">Verify Your Number</h5>
          </div>
          <div class="maindiv">
              <form>
                  <div class="input-cont">
                      <input autocomplete="off" type="number" id="loginmobile" name="mobile" placeholder="Mobile Number" [(ngModel)]="user.number" maxlength="10">
                      <div class="border1"></div>
                  </div>
                  <div class="clear"></div>
                  <button id="one" (click)="loginotpsend()">Send OTP</button>
                  <button #cancel hidden type="button" data-dismiss="modal" style="display: none;"></button>
              </form>
          </div>
      </div>
  </div>

  <!--OTP-MODAL-->
  <div id="modal-container">
      <div class="modal-background">
        <div class="modal">
          <form name="otpForm" novalidate>
            <div class="col-sm-12 text-center">
              <img class="loginModelImg" src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/logo/Homes247_NewBlack_Logo.png" alt="Homes247_NewBlack_Logo.png">
              <p class="loginModelText">Best Innovative Realestate Website of the year and most trusted brand.</p>
          </div>
            <h5 class="loginModelText1 mb-4">Enter the 4 digit Verification Code sent on {{user.number}}<a style="color: blue;" (click)="goback4()"> -
              Edit</a></h5>
              <div class="col-12 countdown_maindiv">
                <countdown #cd1 [config]="countdownconfig" (event)="handleEvent($event)"></countdown>
              </div>
            <input hidden autocomplete="off" type="text" placeholder="OTP" name="otp" id="loginotp"
                   [(ngModel)]="user.otp" required/>
            <ng-otp-input class="otpinput mt-3" #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config">
            </ng-otp-input>
            <button (click)="otpvalidatelogin()" class="btn btn-dark mobileLogButton">Validate OTP</button>
            <p class="otpexpireclass" *ngIf="otpexpired">OTP Expired - <a style="color: blue;" (click)="loginotpsend()">Resend</a></p>
            <button type="reset" id="btn_reset" style="display: none;"></button>
          </form>
        </div>
      </div>
    </div>
  <!--OTP-MODAL-->
</div>
<div class="innerheader_position">
  <app-innerheader></app-innerheader>
</div>