
<!-- <ng-container *ngComponentOutlet="innerheader"></ng-container> -->
<div id="conatctbutton">
  <!-- <app-float-contact></app-float-contact> -->
  <ng-container *ngComponentOutlet="FloatContact"></ng-container>
  </div>
<div class="monthly_installments_banner">
  <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/emi/interior.png" alt="interior-design"/>
  <h2>Interior Design and Consultation</h2>
</div>
<div class="container homeloan_main">
  <div class="row">
    <div class="col-12">
      <div class="emi_etc_section_main">
        <div>
          <div class="home_loan_text">
            <h3 class="newspecified" >Interior Design</h3>
            <img class="imageWidthInterior"
                 src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/emi/interiors_inner_banner.jpg"
                 alt="interior-design-image"/>
            <p>
              <span class="interiors_inner_banner">
                </span>
              More than finding you a home, we also suggest you for some of the reputed interior experts who will
              understand your design requirements better & style your living space in a unique way. We also help you in
              the negotiation of price and ensure best quality materials are used to design your home.
              <br/><br/>
              List of interior service provided by us:
            </p>
            <ul class="interiors_text_list">
              <li>False Ceiling:</li>
              <p>The False ceiling or Dropped ceiling is an additional design which will enhance the elegance of your
                home by giving it an amazing finish. This type of ceiling will increase the inherent character of the
                architecture, blending the new with the original with innumerable patterns and colors to beautify your
                home.</p>
              <br/>
              <p>It is usually designed to hide the electrical lines and plumbing connections as it makes the home look
                awful.</p>
              <li>Choosing Best Colors</li>
              <p>A color is a robust tool in the interior design. Choosing the best color combination can be a challenge
                as every color chosen should suit the furnishings & lightning in the home. Light background colors are
                well-suitable for living room whereas elegant colors are for bedrooms.</p>
              <br/>
              <p>Transform the dull space into a sensational environment that inspires every minute of your life.</p>
              <li>Flooring</li>
              <p>We provide a wide array of flooring options that fit your lifestyle and are necessary to enrich the
                decor of a home. Types of Flooring offered are Vitrified tiles, Marble & Granite Wooden etc., which adds
                elegant, sophisticated touch to the living space.</p>
              <li>Accessories and Furnishings</li>
              <p>Home looks more beautiful when it is added with perfect finishing touch with accessories and
                furnishings that fit the different part of the home. Living room should have wide space to gather more
                people whereas the dining hall should have sufficient space to accommodate for dinner or breakfast with
                the family.</p>
              <br/>
              <p>Also, we provide design consultation for bedrooms, study rooms, and kitchen with furnishings such as
                wardrobes, kitchen partitions, study room book rack, table etc.</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="clarify_query_section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12 col-sm-12">-->
<!--        <h4>Let us clarify your Query</h4>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-12">-->
<!--      <form name="moreForm" class="row">-->
<!--        <div class="col-lg-4 col-md-4 col-sm-4">-->
<!--          <div class="clarify_query_form">-->
<!--            <div class="input_div">-->
<!--              <input placeholder="Name" type="text" id="namee" [(ngModel)]="user.namee" name="namee"/>-->
<!--            </div>-->
<!--            <div class="input_div">-->

<!--              &lt;!&ndash; <input class="country_code_blogs" id="blogsphno"/> &ndash;&gt;-->
<!--              <input class="inhalf" placeholder="Mobile Number" type="text"-->
<!--                     name="mobilenoo" id="mobilenoo" [(ngModel)]="user.mobilenoo" required/>-->

<!--            </div>-->
<!--            <div class="input_div">-->
<!--              <input placeholder="Email Id" is="email" type="emaill" name="emaill" id="emaill"-->
<!--                     [(ngModel)]="user.emaill" required/>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-8 col-md-8 col-sm-8">-->
<!--          <div class="clarify_query_form">-->
<!--            <div class="input_div">-->
<!--                              <textarea placeholder="Your message" name="msg" [(ngModel)]="user.msg"-->
<!--                              ></textarea>-->
<!--              &lt;!&ndash; <span class="text_err policy_cmnerror" ng-show="moreForm.msg.$invalid && moreForm.msg.$error.required && submit_blogquery">This is a required field</span> &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="input_div">-->
<!--              <p>All email enquiries will be taken care in one business day</p>-->
<!--              <button (click)="letus(user.namee,user.mobilenoo,user.emaill,user.msg);">Submit</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-footerform></app-footerform>
<div class="footerDiv">
  <div *ngIf="loaded">
    <ng-container *ngComponentOutlet="FooterComponent"></ng-container>
  </div>
  </div>
  <div class="innerheader_position">
    <app-innerheader></app-innerheader>
</div>