<div #scrollapiloader class="main-blog">
  <div class="scrollmenu" id="content">
    <a class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" routerLink="/blogs">
        <i class="fa fa-home blog-category-home" aria-hidden="true"></i>
        <meta itemprop="name" content="All Blogs">
      </div>
    </a>
    <a href="https://www.homes247.in/articles/our-trending-blogs-1" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text">Trending Now
      </div>
      <meta itemprop="name" content="Trending Now">
    </a>
    <a href="https://www.homes247.in/articles/video-blogs" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text video-scroll">Videos
      </div>
      <meta itemprop="name" content="Videos">
    </a>
    <a href="https://www.homes247.in/articles/our-latest-updates-2" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text latest-scroll">Latest
      </div>
      <meta itemprop="name" content="Latest">
    </a>
    <a href="https://www.homes247.in/articles/top-real-estate-news-7" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text real-estate-scroll">Real Estate News
      </div>
      <meta itemprop="name" content="Real Estate News">
    </a>
    <a href="https://www.homes247.in/articles/interior-design-ideas-5" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text interior-scroll">Interiors
      </div>
      <meta itemprop="name" content="Interiors">
    </a>
    <a href="https://www.homes247.in/articles/expert-opinions-on-indian-realestate-16" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text expert-scroll">Experts' Voices
      </div>
      <meta itemprop="name" content="Experts' Voices">
    </a>
    <a href="https://www.homes247.in/articles/technology-blogs-6" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text technology-scroll">Technology
      </div>
      <meta itemprop="name" content="Technology">
    </a>
    <a href="https://www.homes247.in/articles/vastu-shastra-tips-8" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text technology-scroll">Vastu
      </div>
      <meta itemprop="name" content="Vastu">
    </a>
    <a href="https://www.homes247.in/articles/healthy-lifestyle-blogs-9" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text technology-scroll">Lifestyle
      </div>
      <meta itemprop="name" content="Lifestyle">
    </a>
    <a href="https://www.homes247.in/articles/modern-construction-techniques-10" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text construction-scroll">Construction
      </div>
      <meta itemprop="name" content="Construction">
    </a>
    <a href="https://www.homes247.in/articles/health-fitness-blogs-11" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text construction-scroll">Health & Fitness
      </div>
      <meta itemprop="name" content="Health & Fitness">
    </a>
    <a href="https://www.homes247.in/articles/diy-decor-ideas-12" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text diy-scroll">DIY
      </div>
      <meta itemprop="name" content="DIY">
    </a>
    <a href="https://www.homes247.in/articles/popular-indian-festivals-15" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text diy-scroll">Festivals
      </div>
      <meta itemprop="name" content="Festivals">
    </a>
    <a href="https://www.homes247.in/articles/indian-realestate-articles-17" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text indian-scroll">Indian Real Estate
      </div>
      <meta itemprop="name" content="Indian Real Estate">
    </a>
    <a href="https://www.homes247.in/articles/finance-loan-taxes-13" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text indian-scroll">Loan & Taxes
      </div>
      <meta itemprop="name" content="Loan & Taxes">
    </a>
    <a href="https://www.homes247.in/articles/most-popular-news-14" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text indian-scroll">News
      </div>
      <meta itemprop="name" content="News">
    </a>
    <a href="https://www.homes247.in/articles/tips-for-buying-a-house-4" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div itemprop="url" 
           class="blog-category-text indian-scroll">Home Buying
      </div>
      <meta itemprop="name" content="Home Buying">
    </a>
  </div>
</div>

<div class="banner-section">
  <!-- <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/blogs/Expertvoice.jpg" alt="Responsive image"> -->
  <div class="expert_title">
    <h1 class="expert_head">INTRODUCTING ALL NEW EXPERTS VOICE </h1>
    <h1 class="expert_head1">About Indian Real Estates</h1>
    <p class="expert_head2">Often our homes are not ready for all people that we come across. Making our
      homes disable-friendly is something vital that we pften forget.</p>
  </div>
</div>

<div class="scrollreach"></div>
<div *ngIf="searchshow" class="mobile_view_search div_search col-lg-4 col-md-4 col-sm-4">
  <h4 class="article_search">Search for article</h4>
  <div class="search">
    <div class="search_input_box inner_page">
      <mat-form-field>
        <input id="searchinputform" type="text"
               matInput
               [formControl]="myControl"
               required
               [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)='onItemSelect($event.option.value)'
                          [displayWith]="displayname">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="blog_search_btn"><a><img
      src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/icons/searchIcon.svg" alt="search-icon"/></a></div>
  </div>
</div>

<!-- trending now section -->
<div class="container blogs_main blogs_inner">
  <div class="row">
    <div class="left_cntnt side" *ngFor="let story of stories">
      <ul class="breadcrumbs breadcrumbs_type_blogsinner" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/" class="breadcrumbs__element" itemid="/">
            <span itemprop="name">Home</span>
          </a>
          <meta itemprop="position" content="1"/>
        </li>
        <li class="breadcrumbs__item_fa"><i class="fa fa-angle-right"></i></li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/blogs" class="breadcrumbs__element" itemid="/blogs">
            <span itemprop="name">Home Guide</span>
          </a>
          <meta itemprop="position" content="2"/>
        </li>
        <li class="breadcrumbs__item_fa"><i class="fa fa-angle-right"></i></li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/blogs" class="breadcrumbs__element" itemid="/blogs">
            <span itemprop="name">{{this.categoryname}}</span>
          </a>
          <meta itemprop="position" content="3"/>
        </li>
        <li class="breadcrumbs__item_fa"><i class="fa fa-angle-right"></i></li>
        <li class="breadcrumbs__item breadcrumbs__item_active" itemprop="itemListElement" itemscope
            itemtype="http://schema.org/ListItem">
          <span itemprop="name">{{storiesTitel}}...</span>
          <link itemprop="item" href="https://www.homes247.in/blogs/{{urlparam}}">
          <meta itemprop="position" content="4"/>
        </li>
      </ul>
    </div>
    <div #scrollapiloader class="col-lg-12 col-md-12 col-sm-12 blog_descrip">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div *ngIf="blogbannerview" class="blog_main_box blog_img banner">
            <a *ngFor="let story of stories">
              <img class="blog_image"
                   lazyLoad="{{imagepath}}{{story.imgPath}}" alt="story.imagealt"/>
            </a>
          </div>

          <div *ngIf="mobileyoutube" class="mobile_video_section">
            <div class="video_section"></div>
            <img (click)="youtubemobile();" class="play-youtube-video" width="100%"
                 src="{{youtubethumbnailimagepath}}{{youtubethumbnail}}" async>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4 col-12">
      <div class="share-section">
        <a [ngClass]="{'view': toggle, 'hide': !toggle}" class="view share-icon"><i class="fa fa-eye"
                                                                                    aria-hidden="true">&nbsp;{{viewcount}}</i></a>
        <a [ngClass]="{'view': toggle, 'hide': !toggle}" class="view share-icon" (click)="onclicklike()"> <i
          class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp;{{countLike}}</i></a>
        <a [ngClass]="{'view': toggle, 'hide': !toggle}" (click)="scrollTo('inputsection')"
           class="view share-icon comment-btn"><i class="fa fa fa-commenting-o"
                                                  aria-hidden="true">&nbsp;{{this.commentlength}}</i></a>
        <div class="share-button">
          <input class="toggle-input" id="toggle-input" type="checkbox"/>
          <label for="toggle-input" (click)="onclickshare()" class="toggle"></label>
          <ul class="network-list">
            <li><a class="icon-button" (click)="twshare()"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a class="icon-button" (click)="fbshare()"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a class="icon-button" (click)="tumbshare()"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
            <li><a class="icon-button" (click)="pinshare()"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </li>
            <li><a class="icon-button" (click)="linkedshare()"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 blog_descrip">
      <div class="row">
        <div  class="col-lg-8 col-md-8 col-sm-8 blog_descrip home">
          <div class="left_cntnt side" *ngFor="let story of stories" itemscope itemtype="http://schema.org/Article">
            <h1 itemprop="headline" class="blog_titl">{{story.title}}</h1>
            <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                      <img hidden class="blog_image" lazyLoad="{{imagepath}}{{story.imgPath}}"
                           alt="story.imagealt"/>
                      <meta itemprop="url" content="{{imagepath}}{{story.imgPath}}">
                    </span>
            <p hidden itemprop="datePublished">{{story.publisheddate}}</p>
            <p hidden itemprop="dateModified">{{story.updatedate}}</p>
            <p hidden itemprop="author">Homes247 Editorial</p>
            <div hidden itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
              <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/logo/logo-blue-orange.png" alt="logo-blue-orange.png"/>
                <meta itemprop="url" content="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/logo/logo-blue-orange.png">
                <meta itemprop="width" content="400">
                <meta itemprop="height" content="60">
              </div>
              <meta itemprop="name" content="{{story.addedby}}">
            </div>
            <meta itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/WebPage">
            <span><small class="blog_date">Date :  {{story.date}}</small></span>
            <span class="dividr blog_date">|</span>
            <span>
                        <small class="blog_date">Read: 5 mins</small>
                    </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 zoom-div">
      <div  class="btn text-zoom-div">
        <a (click)="textzoominout('plus')" class="font-button plus"><b>+ A</b></a>
          <span>|</span>
        <a (click)="textzoominout('minus')" class="font-button minus">- A</a>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 blog_descrip">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 blog_descrip">
          <div class="blog_desc con" *ngFor="let story of stories">
            <p id="text" class="blogs_para" [innerHTML]="story.description | sanitizeHtml"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="">
        <div class="share-section-1">
          <a [ngClass]="{'view': toggle, 'hide': !toggle}" class="view share-icon"><i class="fa fa-eye"
                                                                                      aria-hidden="true">&nbsp;{{viewcount}}</i></a>
          <a [ngClass]="{'view': toggle, 'hide': !toggle}" class="view share-icon" (click)="onclicklike()"> <i
            class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp;{{countLike}}</i></a>
          <a [ngClass]="{'view': toggle, 'hide': !toggle}" (click)="scrollTo('inputsection')" class="view share-icon"><i
            class="fa fa fa-commenting-o" aria-hidden="true">&nbsp;{{this.commentlength}}</i></a>
          <div class="share-button-1">
            <input class="toggle-input-1" id="toggle-input-1" type="checkbox"/>
            <label for="toggle-input-1" (click)="onclickshare()" class="toggle-1"></label>
            <ul class="network-list-1">
              <li><a class="icon-button" (click)="twshare()"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a class="icon-button" (click)="fbshare()"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a class="icon-button" (click)="tumbshare()"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
              <li><a class="icon-button" (click)="pinshare()"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
              </li>
              <li><a class="icon-button" (click)="linkedshare()"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <p class="clarificationText">Post response</p>
        <textarea id="inputsection" class="postTextArea" [(ngModel)]="user.msg" placeholder="Add Your comment here"
                  rows="4" cols="50"></textarea>
        <div class="text-right">
          <button class="btn btn-info PostQuestionBtn" data-toggle="modal" data-target="#loginModal">Submit</button>
        </div>
      </div>
      <div class="comment" *ngFor="let blogcomment of comments">
        <div class="comment-avatar">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
        <div class="comment-box">
          <div class="comment-footer">
            <div class="comment-info">
            <span class="comment-author">
              <a href="mailto:sexar@pagelab.io">{{blogcomment.name}}</a>
            </span>
              <span class="comment-date">{{blogcomment.commenteddate}}</span>
            </div>
          </div>
          <div class="comment-text">{{blogcomment.comment}}</div>
          <!-- <div class="comment-actions">
            <a href="#">Reply</a>
          </div> -->
        </div>
      </div>
      <!-- subscrib section -->
      <div class="subscrib_main">
        <form id="contact" method="post">
          <p>Subscribe to us get latest blogs</p>
          <input name="email" class="form-control" autocomplete="off" id="useremail" [(ngModel)]="useremail"
                 type="email"
                 placeholder="Enter your email">
          <button type="submit" name="submit" (click)="subscribblog(useremail)" class="submit">Subscribe!</button>
        </form>
      </div>
      <!-- subscrib section -->
      <div class="slick_images">
        <h3 >Related Post</h3>
        <div class="slider blog">
          <div class="latest_updates">
            <div itemscope itemtype="http://schema.org/Article" class="recent_main" *ngFor="let blog of blogs">
              <div class="col-lg-5 col-md-5 col-sm-5 recent_img_div">
                <a itemprop="url" href="https://www.homes247.in/blogs/{{blog.urlstruture | cleanUrl }}-{{blog.id | cleanUrl}}">
                  <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                  <img lazyLoad="{{imagepath}}{{blog.imgPath}}" alt="blog.alttag">
                  <meta itemprop="url" content="{{imagepath}}{{blog.imgPath}}">
                  </span>
                </a>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 recent_details">
                <a itemprop="url" href="https://www.homes247.in/blogs/{{blog.urlstruture | cleanUrl }}-{{blog.id | cleanUrl}}">
                  <h3 itemprop="headline">{{blog.title}}</h3>
                  <p hidden itemprop="datePublished">{{blog.publisheddate}}</p>
                  <p hidden itemprop="dateModified">{{blog.updatedate}}</p>
                  <p hidden itemprop="author">Homes247 Editorial</p>
                  <div hidden itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                      <img src="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/logo/logo-blue-orange.png" alt="logo-blue-orange.png"/>
                      <meta itemprop="url" content="https://d1zt14hr2k4poi.cloudfront.net/version9.0/images/assets_mobile/images/logo/logo-blue-orange.png">
                      <meta itemprop="width" content="400">
                      <meta itemprop="height" content="60">
                    </div>
                    <meta itemprop="name" content="{{blog.addedby}}">
                  </div>
                  <meta itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/WebPage">
                  <p class="latest_ptag">Date : {{blog.date}}</p>
                  <p class="latest_ptag">Read: 5 mins</p>
                  <p class="recent_shortdesc" [innerHTML]="blog.shortdescription"
                     style="height: 55px;">
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-footerform></app-footerform> -->

<div style="padding-bottom: 40px;">
  <ng-container *ngComponentOutlet="FooterComponent"></ng-container>
</div>

<!-- fixed footer -->
<nav class="mobile-bottom-nav" id="footer">
  <div href="https://www.homes247.in/" class="mobile-bottom-nav__item">
    <div class="mobile-bottom-nav__item-content">
      <i class="fa fa-home iconColor"></i>
      Home
    </div>
  </div>
  <a href="https://www.homes247.in/articles/our-trending-blogs-1" class="mobile-bottom-nav__item">
    <div class="mobile-bottom-nav__item-content">
      <i class="fa fa-trello iconColor"></i>
      Trending
    </div>
  </a>
  <a href="https://www.homes247.in/articles/our-latest-updates-2" class="mobile-bottom-nav__item">
    <div class="mobile-bottom-nav__item-content">
      <i class="fa fa-book iconColor"></i>
      Latest
    </div>
  </a>
  <div (click)="Onclicksearch()" class="mobile-bottom-nav__item">
    <div class="mobile-bottom-nav__item-content">
      <i class="fa fa-search-plus iconColor"></i>
      Search
    </div>
  </div>
</nav>

<!-- login modal -->
<div class="container">
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-title text-center">
            <h4>Please Provide Your Details</h4>
          </div>
          <div class="d-flex flex-column text-center">
            <form name="aboutForm" method="POST">
              <div class="form-group">
                <input type="text" autocomplete="off" class="form-control" id="cname" [(ngModel)]="user.name"
                       name="name" placeholder="Your name.." required>
              </div>
              <div class="form-group">
                <input type="email" autocomplete="off" class="form-control" id="cemail" [(ngModel)]="user.emaill"
                       name="email" placeholder="Your email address..." required>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="user.msg" name="msg"
                          placeholder="Write your comment" rows="3">{{user.msg}}</textarea>
              </div>
              <button type="button" (click)="letcontactus(user.name,user.emaill,user.msg);"
                      class="btn btn-info btn-block btn-round">Submit Your Comment
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- login modal -->

